{% extends "_layout" %}
{% set title = entry.title %}

{% block content %}
<div class="coe interior">
	{% set asset = entry.backgroundImage.one() %}
	{% set transformedImage = craft.imager.transformImage(asset, { width: 1440 }) %}
	<div class="top" {% if transformedImage | length %} style="background-image: url({{ transformedImage.url }});"{% endif %}>
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="breadcrumbs pull-right">
						{% if craft.app.request.segments %}
						<nav class="breadcrubs">
					    <div class="container">
					        <div class="row">
					            <ol class="breadcrumb">
					                <li><a href="{{ siteUrl }}">Home</a></li>
					                {% for crumb in entry.getAncestors().all() %}
					                    <li>{{ crumb.getLink() }}</li>
					                {% endfor %}
					                <li>{{ entry.title }}</li>
					            </ol>
					        </div>
					    </div>
						</nav>
					{% endif %}
					</div>
				</div>
			</div>
		</div>
		<div class="coe-tab">
			<a href="/la-coe"><img src="/images/img-coe-logo-text.png"><h2><span>Restore Act</span>Center of Excellence</h2></a>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-sm-12 index-top">
					<h2>{{ entry.title }}</h2>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		{% for block in entry.centerOfExcellencePage.level(1).all() %}
      {% switch block.type.handle %}
        {% case 'intro' %}
	        <div class="row">
	        	<div class="col-sm-12 intro">
	        	<h2>{{ block.heading }}</h2>
	          {{ block.introduction }}
	        	</div>
	        </div>
        {% case 'introTextWithDocumentUpload' %}
	        <div class="row">
	        	<div class="col-sm-8 intro">
	          <h2>{{ block.heading }}</h2>
	          {{ block.introduction }}
	        	</div>
	        	<div class="col-sm-4">
			    		{% set document = block.documentUpload.one() %}
			        {% set image = block.documentUploadCoverImage.one() %}
			        {% set transformedImage = craft.imager.transformImage(image, { width: 225 }) %}
			        {% if transformedImage | length %}
		        	<div class="display-doc" style="width: {{ transformedImage.getWidth() }}px; height: {{ transformedImage.getHeight() }}px;"><a href="{% if document | length %}{{ document.url }}{% endif %}"><img src="{{ transformedImage.url }}" alt="{{ image.title }}"><div class="dwnld-button">DOWNLOAD</div></a></div>
		        	{% endif %}
		      	</div>
	        </div>
				{% case 'bodyTextWithDocumentUpload' %}
	        <div class="row">
	        	<div class="col-sm-8">
	          <h3>{{ block.heading }}</h3>
	          {{ block.text }}
	        	</div>
	        	<div class="col-sm-4">
			    		{% set document = block.documentUpload.one() %}
			        {% set image = block.documentUploadCoverImage.one() %}
			        {% set transformedImage = craft.imager.transformImage(image, { width: 225 }) %}
			        {% if transformedImage | length %}
		        	<div class="display-doc" style="width: {{ transformedImage.getWidth() }}px; height: {{ transformedImage.getHeight() }}px;"><a href="{% if document | length %}{{ document.url }}{% endif %}"><img src="{{ transformedImage.url }}" alt="{{ image.title }}"><div class="dwnld-button">DOWNLOAD</div></a></div>
		        	{% endif %}
		      	</div>
	        </div>
	      {% case 'divider' %}
	      	<div class="row">
		      	<div class="col-sm-12">
		      		{{ block.divider }}
		      	</div>
		      </div>
		    {% case 'button' %}
	      	<a href="{{ block.buttonLink.url }}" {{ block.buttonLink.target ? ' target="_blank"' }} class="btn-primary" title="{{ block.buttonLink.text }}">{{ block.buttonLink.text }}</a>

		    {% case 'groupOfButtonsWithText' %}
          <div class="row">
	    			<div class="col-sm-4 button-group">
	            {% for button in block.children.all() %}
	              <a href="{{ button.buttonLink.url }}" {{ button.buttonLink.target ? ' target="_blank"' }} class="btn-primary" title="{{ button.buttonLink.text }}">{{ button.buttonLink.text }}</a>
	            {% endfor %}
          	</div>
          	<div class="col-sm-8">
          		<h3>{{ block.heading }}</h3>
	          	{{ block.text }}
          	</div>
          </div>
        {% case 'fullWidthTextWithHeading' %}
        	<div class="row">
		      	<div class="col-sm-12">
		      		<h3>{{ block.heading }}</h3>
	          	{{ block.text }}
		      	</div>
		      </div>
      {% endswitch %}
    {% endfor %}
	</div>
</div>

{% endblock %}
