{% extends "_layout" %}
{% set title = "Projects" %}

{% block content %}
<div class="container project index">
	<div class="row">
		<div class="col-sm-12">
			<div class="breadcrumbs pull-right">
				{% if craft.request.segments %}
				<nav class="breadcrubs">
			    <div class="container">
			        <div class="row">
			            <ol class="breadcrumb">
			                <li><a href="{{ siteUrl }}">Home</a></li>
			                {% for crumb in entry.getAncestors() %}
			                    <li>{{ crumb.getLink() }}</li>
			                {% endfor %}
			                <li>{{ entry.title() }}</li>
			            </ol>
			        </div>
			    </div>
			</nav>
			{% endif %}
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 index-top">
			<div class="descr">
				{{ entry.body }}
			</div>
		</div>
	</div>
	<!-- <div class="gray-bg">
		<h3>Featured</h3>
		{% set featuredProjects = craft.entries({
		  section: 'projects',
		  type: 'featuredProject',
		}).id('not ' ~ entry.id) %}
		{% for row in featuredProjects|batch(2) %}
	    <div class="row">
	      {% for entry in row %}
	        <div class="col-sm-6">
						<div class="project-block">
							{% if entry.projectPhoto | length %}
						    {% for asset in entry.projectPhoto %}
						        <a href="{{ entry.url }}"><div class="project-photo" style="background-image: url({{ asset.url }});"></div></a>
						    {% endfor %}
							{% endif %}
							<h3 class="feature-title"><a href="{{ entry.url }}">{{ entry.title }}</a></h3>
							<p class="feature-intro">{{ entry.intro }}</p>
						</div>
					</div>
	      {% endfor %}
	    </div>
		{% endfor %}
	</div> -->

	<div class="search">
		<div class="row">
			<form action="{{ url('/projects/project_results') }}" method="get">

			  {# get all entries to display only the categories related to entries #}
			  {% set projectAllEntries = craft.entries.section('projects').limit(null).find() %}
			  {# search field #}
			  <div class="col-sm-4">
			  	<input type="search" name="q" placeholder="Search project title">
			  </div>

			  {# themes categories #}
			  {% set projectTeamMembers = craft.entries('technicalTeam').type('teamMember').relatedTo(projectAllEntries).find() %}
			  <div class="col-sm-4">
			  {% for teamMember in projectTeamMembers %}
			    {% if loop.first %}<select name="member">{% endif %}
			      {% if loop.first %}<option value="">Choose a team member</option>{% endif %}

			      {# if already a 'theme' parameter in the URL, select the corresponding theme category in the dropdown #}
			      {% set memeberCategory = craft.request.getParam('member') %}
			      {% set memberActive = (memeberCategory == entry.slug) ? 'selected' : '' %}
			      <option value="{{ teamMember.slug }}" {{ memberActive }}>{{ teamMember.title }}</option>

			    {% if loop.last %}</select>{% endif %}
			  {% endfor %}
			  </div>
			  <div class="col-sm-4">
			  	<input type="submit" value="search">
			  </div>
			</form>
		</div>
	</div>
	<div class="projects-list">
		<!-- <h3>All Projects</h3> -->
		{% set projectSummary = craft.entries({
		  section: 'projects',
		  type: 'projectSummary',
		}).id('not ' ~ entry.id) %}
		{% for row in projectSummary|batch(2) %}
	    <div class="row">
	      {% for entry in row %}
	        <div class="col-sm-6">
						<div class="index-block">
							{% if entry.projectPhoto | length %}
						    {% for asset in entry.projectPhoto %}
						        <a href="{{ entry.url }}"><div class="project-photo" style="background-image: url({{ asset.url }});"></div></a>
						    {% endfor %}
							{% endif %}
							<h4 class="project-title"><a href="{{ entry.url }}">{{ entry.title }}</a></h4>
							<p>{{ entry.challenge|striptags|slice(0,150)|default('Read more') }}...</p>
							<a href="{{ entry.url }}" class="project-link">View Project <i class="fa fa-angle-right" aria-hidden="true"></i></a>
						</div>
					</div>
	      {% endfor %}
	    </div>
		{% endfor %}
	</div>
</div>
{% endblock %}
