{% extends "_layout" %}
{% set title = "Projects" %}

{% block content %}
<div class="container project index">
  <div class="row">
    <div class="col-sm-12 search-results">
    <h1>Search Results</h1>
      {# defaults #}
      {% set queryParams = {
        section: 'projects',
        order: 'postDate desc',
      } %}


      {# Build a category array beginning with 'and' and add targetElement objects with selected categories Ids to it #}
      {% set categoriesArray = ['and'] %}

      {% set searchTeam = craft.request.getParam('member') %}
      {% if searchTeam is not empty %}
        {% set searchTeamCat = craft.entries.slug(searchTeam).ids() %}
        {% set categoriesArray = categoriesArray|merge([{
          targetElement: searchTeamCat,
        }]) %}
      {% endif %}


      {# multiple vs single categories
      - If there is more than just the "and" in the categoriesArray, use relatedTo and the categoriesArray to build the last part of our query
      #}
      {% if categoriesArray|length > 1 %}

        {% set queryParams = queryParams|merge({
          relatedTo: categoriesArray
        }) %}

      {% endif %}

      {# search #}
      {% set searchQ = craft.request.getParam('q') %}
      {% if searchQ is not empty %}
        {% set queryParams = queryParams|merge({
          search: {
            query: 'title:' ~ searchQ,
            subLeft: true,
            subRight: true,
          }
        }) %}
      {% endif %}

      {# number of items found #}
      {% set totalEntries = craft.entries(queryParams).total() %}
      <p>{{ totalEntries }} projects found for 
        {% if searchQ is not empty %} "<strong>{{ searchQ }}</strong>"{% endif %} 
        {% if searchTeam is not empty %}"<strong>{{ searchTeam }}</strong>"{% endif %}
      </p>

      {# paginated blogposts #}
      {% set projectEntries = craft.entries(queryParams) %}
      {% paginate projectEntries as paginate, projects %}

      {# entries loop #}
      {% for item in projects %}

      {% if loop.first %}<div>{% endif %}
        
          <div class="index-block">
            {% if item.projectPhoto | length %}
              {% for asset in item.projectPhoto %}
                <div class="article-image"><a href="{{ item.url }}"><img src="{{ item.projectPhoto.first.url('articleImage') }}" /></a></div>
              {% endfor %}
            {% endif %}
            <h4 class="project-title"><a href="{{ item.url }}">{{ item.title }}</a></h4>
            <p>{{ item.challenge|striptags|slice(0,150)|default('Read more') }}...</p>
            <p class="date"><time datetime="{{ item.postDate|date('Y-m-d') }}">{{ item.postDate|date("F j, Y") }}</time></p>
          </div>
        
      {% if loop.last %}</div>{% endif %}

    {% else %}

      <p>No results found</p>

    {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
