{% extends "_layout" %}
{% set title = "Center of Excellence" %}

{% block content %}
<div class="coe landing">
	<div class="coe-photo">
		<div class="coe-logo-title">
			<img src="/images/img-coe-logo.png" alt="The Water Institute of the Gulf Restore Act Center of Excellence" width="200">
			<h1>
				<span>Restore Act</span>
				Center of Excellence
			</h1>
		</div>
	</div>
	<div class="intro-wrapper">
		<div class="container">
			<div class="row landing-top">
				<div class="col-lg-2 col-md-3 col-sm-4">
					<div class="sidebar-nav">
						<ul>
						{% for block in coeNavigation.navigationLinks.all() %}
						    {% if block.type == "url" %}
						        {% set linkUrl = block.urlLink %}
						        {% set linkLabel = block.urlTitle %}
						    {% elseif block.type == "linkToEntry" %}
						        {% set linkedEntry = block.entry|length ? block.entry[0] : null %}
						        {% set linkUrl = linkedEntry ? linkedEntry.url : null %}
						        {% set linkLabel = block.entryTitle ? block.entryTitle : (linkedEntry ? linkedEntry.title : null) %}
						    {% endif %}
						      {% if linkUrl %}
						        <li>
						            <a href="{{ linkUrl }}">
						                {{ linkLabel }}
						            </a>
						        </li>
						    {% endif %}
						{% endfor %}
						</ul>
					</div>
					<div class="coe-contact">
						<h4>Contact</h4>
						<img src="/images/img-envelope.png">
						<a href="mailto:la-coe@thewaterinstitute.org">la-coe@thewaterinstitute.org</a>
					</div>
				</div>
				<div class="col-lg-10 col-md-9 col-sm-8 coe-intro">
					{{ entry.introMission }}
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h2 class="coe-header"><span>Administration</span></h2>
				<div class="row">
					<div class="col-sm-7">
						{{ entry.administration }}
					</div>
					<div class="col-sm-5">
						{% if entry.organizationGraphic | length %}
					    {% for asset in entry.organizationGraphic %}
					    {% set transformedImage = craft.imager.transformImage(asset, { width: 690 }) %}
								<img class="org-graphic" src="{{ transformedImage.url }}">
							{% endfor %}
						{% endif %}
						<div class="caption">
							{{ entry.organizationGraphicCaption }}
						</div>
						{% for block in entry.administrationBios %}
							{% if block.type == "coeBios" %}
							{% set link = block.teamMemberBioLink.first() %}
						  	<a href="{{ link.url }}" class="btn-primary">View {{ block.administratorName }}'s Bio </a>
							{% endif %}
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<h2 class="coe-header"><span>Advisors</span></h2>
				{{ entry.advisors }}
			</div>
		</div>
		<h2 class="coe-header"><span>News</span></h2>

		{% set coeNewsArticles = craft.entries({
			section: 'centerOfExcellence',
			type: 'coeNews',
			order: 'articleDate desc',
			}).limit(3) %}
		{% for row in coeNewsArticles|batch(3) %}
	    <div class="row">
	      {% for entry in row %}
	        <div class="col-sm-4">
						<div class="news-block">
							{% if entry.articleImage | length %}
						    {% for asset in entry.articleImage %}
						        <a href="{{ entry.url }}"><img src="{{ asset.url }}"></a>
						    {% endfor %}
							{% endif %}
							<h3 class="feature-title"><a href="{{ entry.url }}">{{ entry.title }}</a></h3>
							<span class="date">{{ entry.articleDate | date("M j, Y") }}</span>
							<p class="feature-intro">{{ entry.body|striptags|slice(0,150)|default('Read more') }}... </p>
						</div>
					</div>
	      {% endfor %}
	    </div>
		{% endfor %}

	</div>
</div>
{% endblock %}
