{% extends "_layout" %}
{% set title = "News" %}

{% block content %}
<div class="container media coe index">
	<div class="row">
		<div class="col-sm-12">
			<div class="breadcrumbs pull-right">
				{% if craft.request.segments %}
				<nav class="breadcrubs">
			    <div class="container">
			        <div class="row">
			            <ol class="breadcrumb">
			                <li><a href="{{ siteUrl }}">Home</a></li>
			                {% for crumb in entry.getAncestors() %}
			                    <li>{{ crumb.getLink() }}</li>
			                {% endfor %}
			                <li>{{ entry.title() }}</li>
			            </ol>
			        </div>
			    </div>
			</nav>
			{% endif %}
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 index-top">
		<h2>LA-COE News</h2>
			<div class="descr">
				{{ entry.body }}
			</div>
		</div>
	</div>
	<div class="entries">
	{% paginate craft.entries.section('centerOfExcellence').type('coeNews').order('articleDate asc').limit(12) as pageInfo, pageEntries %}
		{% for row in pageEntries|batch(4) %}
	    <div class="row">
	      {% for entry in row %}
	        <div class="col-sm-3">
						<div class="news-block">
							{% if entry.articleImage | length %}
						    {% for asset in entry.articleImage %}
						        <a href="{{ entry.url }}"><img src="{{ asset.url }}"></a>
						    {% endfor %}
							{% endif %}
							<h3 class="feature-title"><a href="{{ entry.url }}">{{ entry.title }}</a></h3>
							<span class="date">{{ entry.articleDate | date("M j, Y") }}</span>
							<p class="feature-intro">{{ entry.body|striptags|slice(0,150)|default('Read more') }}... </p>
						</div>
					</div>
	      {% endfor %}
	    </div>
		{% endfor %}
		{% if pageInfo.totalPages > 1 %}
		<div class="pagination">
			{% if pageInfo.prevUrl %}<a href="{{ pageInfo.prevUrl }}" class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>{% endif %}

			{% for page, url in pageInfo.getPrevUrls(2) %}
		    <a href="{{ url }}">{{ page }}</a>
			{% endfor %}

			<span class="current">{{ pageInfo.currentPage }}</span>

			{% for page, url in pageInfo.getNextUrls(2) %}
		    <a href="{{ url }}">{{ page }}</a>
			{% endfor %}

			{% if pageInfo.nextUrl %}<a href="{{ pageInfo.nextUrl }}" class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>{% endif %}
		</div>
		{% endif %}
	</div>
</div>
{% endblock %}
