
{% extends "_layout" %}
{% set title = entry.title %}

{% block content %}

<div class="making-waves article">
	<div class="ribbon"><img src="/images/img-wave-icon.png"/><h2><a href="/making-waves">Making Waves</a></h2></div>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
	    	<h1 class="title">{{ entry.title }}</h1>
				{% if entry.subhead | length %}
					<h3 class="subhead">{{ entry.subhead }}</h3>
				{% endif %}
				{% if entry.articleDate | length %}
     		<p class="date">{{ entry.articleDate | date("M j, Y") }}</p>
     		{% endif %}

				{% for block in entry.articleBody.all() %}
					{% if block.type == "image" %}
					  {% if block.showInArticle == "1" %} 
							{% set image = block.image.one() %}
					      {% if image %}
					      	<div class="image-cont {{ block.position }}">
					      		<div class="feature-image" style="background-image: url({{ image.url }});"></div>
					      		{% if block.caption | length %}
						        	<div class="caption">{{ block.caption }}</div>
						        {% endif %}
					    		</div>
					      {% endif %}
					  {% endif %}
						{% else %}
						
					{% endif %}

		      {% if block.type == "videoEmbed" %}
			      <div class="video-container">
							<div class='embed-container'>
				      {{ block.video | raw }}
				      </div>
						</div>
			    {% endif %}

			    {% if block.type == "pullQuote" %}
		        <blockquote class="{{ block.position }}">
		          <p>{{ block.quote }}</p>
		          {% if block.quotee | length %}
		          <cite>– {{ block.quotee }}</cite>
		          {% endif %}
		        </blockquote>
		      {% endif %}

			    {% if block.type == "text" %}
			      {{ block.articleText|markdown }}
			    {% endif %}
				{% endfor %}
		</div>
	</div>
	{% if entry.relatedItems | length %}
	<div class="row">
		<div class="col-sm-12">
			<div class="related">
			<h4>Related Items</h4>
			{% for block in entry.relatedItems.all() %}
				{% if block.type == "relatedLink" %}
					<a href="{{ block.hyperlink }}" class="download-lnk" target="_blank">{{ block.linkTitle }} <i class="fa fa-share" aria-hidden="true"></i></a>
				{% endif %}
			{% endfor %}
			</div>
		</div>
	</div>
	{% endif %}
</div>

{% endblock %}