
{% extends "_layout" %}
{% set title = entry.title %}

{% block content %}

<div class="making-waves event">
	<div class="ribbon"><img src="/images/img-wave-icon.png"/><h2><a href="/making-waves">Making Waves</a></h2></div>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="date-time">
	     		<div class="date">{{ entry.eventDate | date("M j, Y") }}</div>
	     		{% if entry.eventTime | length %}
	     		<p class="time"><i class="fa fa-clock-o" aria-hidden="true"></i> {{ entry.eventTime | date('g:i A')}}</p>
	     		{% endif %}
	    		<p class="address"><i class="fa fa-map-marker" aria-hidden="true"></i> {{ entry.eventAddress }}</p>
	     	</div>
	     	<div class="row">
		     	{% if entry.featureImage | length %}
		     		<div class="col-sm-6">
					    {% for asset in entry.featureImage.all() %}
					       <div class="event-image" style="background-image: url({{ asset.url }});"></div>
					    {% endfor %}
		     		</div>
		     		<div class="col-sm-6">
		     			<h1 class="title">{{ entry.title }}</h1>
		    			{{ entry.eventDescription }}
		     		</div>
		     		{% else %}
		     		<div class="col-sm-12">
		     			<h1 class="title">{{ entry.title }}</h1>
		    			{{ entry.eventDescription }}
		     		</div>
					{% endif %}
	     	</div>
	    </div>
		</div>
		{% if entry.relatedItems | length %}
		<div class="row">
			<div class="col-sm-12">
				<div class="related">
				<h4>Related Items</h4>
				{% for block in entry.relatedItems.all() %}
					{% if block.type == "relatedLink" %}
						<a href="{{ block.hyperlink }}" class="download-lnk" target="_blank">{{ block.linkTitle }} <i class="fa fa-share" aria-hidden="true"></i></a>
					{% endif %}
				{% endfor %}
				</div>
			</div>
		</div>
	{% endif %}
	</div>
</div>

{% endblock %}