/*CENTER OF EXCELLENCE*/
.coe-photo {
  background: url(/images/img-coe-background.jpg);
  margin-top: -40px;
  background-size: cover;
  position: relative;
  z-index: -1;
  text-align: center;
  display: table;
  width: 100%;
  height: 60vh;
  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 30px;
    max-width: 1800px;
    bottom: 0;
    left: 30px;
    right: 30px;
    background: rgba(115,163,147,0.5);
    margin: 0 auto;
  }
  .coe-logo-title {
    display: table-cell;
    vertical-align: middle;
    @media (max-width: 767px) {
    	img {
    		max-width: 120px;
    	}
    }
	}
  h1 {
    font-size: 4.8rem;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 2rem;
    line-height: 1.3;
    @media (max-width: 767px) {
    	padding-left: 3rem;
    	padding-right: 3rem;
    	font-size: 4.5rem;
    }
    span {
    	display: block;
    	font-weight: 400;
    }
	}
}

.coe-header {
  text-align: center;
  margin: 3rem 0 3rem;
  text-transform: uppercase;
  font-size: 2.4rem;
  position: relative;
	&:before {
    content: "";
    position: absolute;
    height: 5px;
    border-top: 1px solid #767668;
    top: 13px;
    width: auto;
    z-index: -1;
    left: 0;
    right: 0;
  }
	span {
    background: #fff;
    display: inline-block;
    padding: 0 15px;
    font-weight: 600;
	}
}
.coe-contact {
  background-color: #8fb5a9;
  margin-top: 15px;
  padding: 10px;
  text-align: center;
  h4 {
  	text-transform: uppercase;
  }
  img {
    display: block;
    margin: 0 auto;
    padding: 10px 0;
  }
  a {
  	color: #fff;
  	font-size: 11px;
  }
}

.coe-tab {
  max-width: 420px;
  padding: 1rem 2rem 1rem 4rem;
  background: rgba(255, 255, 255, 0.5);
  margin-bottom: 6rem;
  border-radius: 0 1rem 1rem 0;
  img {
    max-width: 90px;
    display: inline-block;
    padding-right: 1rem;
    @media (max-width: 767px) {
      max-width: 70px;
    }
  }
  h2 {
    font-size: 24px;
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
    font-weight: bold;
    color: $navy!important;
    @media (max-width: 767px) {
      font-size: 22px;
    }
    @media (max-width: 375px) {
      font-size: 20px;
    }
    span {
      font-weight: normal;
      display: block;
    }
  }
}

.coe {
	.sidebar-nav ul li a {
	  color: #fff;
	}
  &.interior {
    .top {
      margin-bottom: 4rem;
      &:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        width: 100%;
        bottom: 0;
        left: 0;
        background: rgba(224, 241, 246, 0.8);
      }
    }
  }
  .index-top {
    text-align: center;
    h2 {
      color: $navy!important;
      margin-bottom: 4rem;
    }
  }
  .intro {
    font-weight: 500;
    color: $navy;
    p {
      font-size: 1.8rem;
    }
    a {
      color: lighten($navy, 20%);
    }
    h2 {
      font-weight: bold!important;
      color: $navy!important;
      margin-bottom: 2rem;
    }
  }
	.btn-primary {
    text-align: center;
    margin-bottom: 10px;
    color: $navy;
    border-color: $navy;
    &:hover, &:focus, &:active, &:active:focus, &:active:hover {
      color: #fff;
      background-color: $navy;
      border-color: $navy;
      transition: all .3s;
    }
	}
	.caption {
		margin-bottom: 2rem;
		background: $dark-brown;
		color: #fff;
		text-align: center;
	}
	h3 {
    font-size: 2.2rem;
    margin-bottom: 2rem;
    border-left: 4px solid;
    padding-left: 15px;
    color: $dark-brown!important;
    text-transform: uppercase;
	}
	.org-graphic {
    min-width: 100%;
    margin-top: 2rem;
	}
	.news-block  {
		border-color: $navy;
		@media (max-width: 767px) {
			margin-bottom: 2rem;
		}
		h3 {
			text-transform: none;
			border-left: 0;
			padding-left: 0;
			margin-top: 0;
			margin-bottom: 1rem;
			color: $navy;
		}
		a {
			color: $navy;
		}
		.date {
			color: $navy;
		}
	}
}
.intro-wrapper {
  color: #fff;
  margin: 0 auto;
  position: relative;
  &:before {
  	content: "";
    position: absolute;
    z-index: 0;
    top: 0;
    max-width: 1800px;
    bottom: 0;
    left: 3rem;
    right: 3rem;
    background: #73a393;
    margin: 0 auto;
  }
  &:after {
    content: "";
    position: absolute;
    z-index: -1;
    bottom: 9rem;
    max-width: 100%;
    top: 0;
    left: -30px;
    right: -30px;
    background: #b6ccc4;
    margin: 0 auto;
  }
  .landing-top {
    padding: 30px;
	}
  .coe-intro {
  	@media (max-width: 767px) {
  		padding-top: 3rem;
  	}
  	p {
	  	font-size: 2.4rem;
	  	strong {
	  		font-size: 2.8rem;
	  		font-weight: 500;
	  	}
	  }
	}
}

.media.coe {
	h1.title, a, .date, .related-block h4, .boiler-plates .boiler-plate h5 {
		color: $navy;
	}
	.boiler-plates, .related-block {
		border-color: lighten($navy, 20%);
	}
  .download-lnk {
    border-color: lighten($navy, 20%);
    &:hover {
      background-color: $navy;
      border-color: $navy;
    }
  }
	h2.category:after {
		background: lighten($navy, 20%);
	}
	h2.category {
		color: lighten($navy, 20%);
	}
}

.coe.media.index .index-top h2 {
	color: lighten($navy, 20%);
}
