//COMMON STYLES

@font-face {
    font-family: 'pompadourblack';
    src: url('../fonts/pompadour-webfont.woff2') format('woff2'),
         url('../fonts/pompadour-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'portrait_scriptregular';
    src: url('../fonts/portraitscript-regular-webfont.woff2') format('woff2'),
         url('../fonts/portraitscript-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pistilliregular';
    src: url('../fonts/pistilli-roman-webfont.woff2') format('woff2'),
         url('../fonts/pistilli-roman-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/*Prevent Typekit's FOUT (flash of unstyled text) in Chrome 50 + */
.wf-loading h1, .wf-loading h2, .wf-loading h3, .wf-loading p, .wf-loading a, .wf-loading span {
  visibility: hidden; }

.wf-active h1, .wf-active h2, .wf-active h3, .wf-active p, .wf-active a, .wf-active span {
  visibility: visible; }
* ::selection {
  background: #c2608e;
  color: #fff;
}

* ::-moz-selection {
  background: #c2608e;
  color: #fff;
}

body {
  -webkit-font-smoothing: auto;
}

ul {
	li {
		margin-bottom: 1.5rem;
		line-height:1.3;
	}
}

p {
	margin-bottom: 1.5rem;
	font-size:1.6rem;
}

img {
	max-width: 100%;
}

.embed-container { 
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  height: auto;
}

.embed-container iframe, .embed-container object, .embed-container embed { 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; 
}

.top-bg {
	background-color: $clear-water;
	padding: 2rem 0 4rem;
  margin-bottom: 4rem;
  margin-top:-40px;
  h2 {
		color: #a0c3cf;
    text-transform: uppercase;
  	font-size: 1.8rem;
  	font-weight: 600;
  	letter-spacing: 1px;
  	&:after {
	    content: "";
	    height: 2px;
	    width: 30px;
	    background: #a0c3cf;
	    display: block;
	    text-align: center;
	    margin: 0 auto;
	    margin-top: 2rem;
	  }
	}
	h1 {
    text-transform: uppercase;
    color: $navy;
    font-size: 2.6rem;
    margin-bottom: 3rem;
    margin-top:2rem;
    font-weight: 600;
	}
}

.index-top {
	margin-bottom: 3rem;
	h2 {
		text-transform: uppercase;
		font-size: 5.7rem;
  	font-weight: 600;
    margin-bottom: 2rem;
    .project.index &, .reports.index &, .publications.index & {
    	color: rgba(186, 212, 147, .70);
    }
    @media (max-width: 415px) {
      font-size: 4rem;
    }
	}
	.descr {
		font-size: 2.4rem;
    padding-left: 30px;
    border-left: 5px solid;
    margin-left: 0;
    .project.index &, .reports.index &, .publications.index & {
    	color: #6b942d;
			border-color: $lime-green;
    }
    p {
	    font-size: 1.8rem;
	    font-weight: 500;
      @media (max-width: 415px) {
        font-size: 1.6rem;
      }
		}
	}
}

.article {
  h1.title {
    margin-bottom: 1rem;
    font-family: $font-serif;
    text-transform: none;
    font-weight: 600;
    font-size: 3.8rem;
    line-height: 1.2;
    @media (max-width: 415px) {
      font-size: 3.4rem;
    }
  }
  h2.category {
    color: #c0b5d8;
    &:after {
      background: #c0b5d8;
      text-align: left;
      margin-left: inherit;
    }
  }
  .article-info {
    margin-top: -8rem;
    padding-bottom: 1rem;
    max-width: 76%;
    h4 {
      font-size: 2rem;
      color: $purple;
    }
    span {
      font-weight: 600;
      color: #c7c7c7;
    }
  }
  .subhead {
    font-family: $font-serif;
    color: #a7a7a7;
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  .date {
    margin-bottom: 0;
    @media (max-width: 992px) {
      margin-bottom: 1.5rem;
    }
  }
}


.news-block {
  border: 2px solid #8a7aa8;
  padding: 1.5rem;
  border-radius: 5px;
  img {
    margin-bottom: 1rem;
  }
  .feature-intro {
    margin-bottom: 0;
  }
  .date {
    font-weight: 600;
    display: block;
    margin: .7rem 0;
  }
}

.caption {
  background: rgba(159, 195, 207, .4);
  padding: 1rem;
  color: #6da4b5;
  font-weight: 500;
}

blockquote {
  border-left: 0;
  padding-top: 4rem;
  padding-bottom: 4rem;
  @media (max-width: 767px) {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  &:before {
    content: "";
    width: 40px;
    height: 3px;
    background: $orange;
    display: block;
    margin-bottom: 5rem;
  }
  p {
    font-size: 2.8rem;
    font-family: $font-serif;
    font-weight: 600;
    color: $navy;
  }
  cite {
    font-style: normal;
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 600;
    color: #c7c7c7;
  }
}

blockquote.left {
  width: 33%;
  float: left;
  padding-right: 4rem;
  padding-left: 0;
  @media (max-width: 480px) {
    width: 100%;
    float: none;
  }
}

blockquote.right {
  width: 33%;
  float: right;
  padding-left: 4rem;
  padding-right: 0;
  @media (max-width: 480px) {
    width: 100%;
    float: none;
  }
}

.image-cont {
  margin-bottom: 2rem;
}

.image-cont.left {
  width: 50%;
  float: left;
  padding-right: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  @media (max-width: 767px) {
    width: 100%;
    float: none;
  }
}

.image-cont.right {
  width: 50%;
  float: right;
  padding-left: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  @media (max-width: 767px) {
    width: 100%;
    float: none;
  }
}

.author span {
  font-weight: 600;
}

.primary-author {
  font-weight: 500;
  margin-top: 5px;
  display: block;
  color: $navy;
}

.gray-bg {
	background: #eee;
	padding: 2rem;
	margin-bottom: 3rem;
	h3 {
		font-size: 2rem;
    text-transform: uppercase;
    font-weight: 600;
    color: #c7c7c7;
    margin-bottom: 1rem;
    margin-top: -.5rem;
	}
}

.sidebar-nav {
	padding: 2rem;
  border: 1px solid;
  max-width: 200px;
  @media (max-width: 768px) {
    max-width: 100%;
    margin-bottom: 2rem;
  }
  .about.landing & {
  	border-color: $navy;
  }
  ul {
    padding-left: 0;
    list-style-type: none;
    margin-bottom: 0;
    li {
	    padding-bottom: 1rem;
	    margin-bottom: 1rem;
	    border-bottom: 1px solid #eee;
	    &:last-of-type {
	    	padding-bottom: 0;
	    	margin-bottom: 0;
	    	border-bottom: 0;
	    }
    	a {
    		color: $navy;
		    text-transform: uppercase;
    		font-weight: 500;
    	}
    }
	}
}

.breadcrumb {
	text-align: right;
	background: none;
	margin-bottom: 0;
	@media (max-width: 992px) {
		padding-bottom: 2rem;
	}
	@media (max-width: 480px) {
		padding-left: 0;
		padding-right: 0;
	}
	>li+li:before {
		padding: 0;
	}
}

.person-block {
	background-color: $clear-water;
	padding: 1.5rem;
	border-radius: 5px;
  margin-bottom: 3rem;
	img {
		max-width: 100%;
    @media (max-width: 767px) {
      min-width: 100%;
    }
	}
	.bio-name {
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
    text-transform: uppercase;
    a {
		color: $navy;
    	&:hover {
    		color: $navy;
    	}
    }
	}
	.bio-title {
    text-align: center;
    font-size: 13px;
    font-weight: 400;
    color: $navy;
	}
}

.related-block {
  padding: 1rem;
  border: 2px solid;
  border-radius: 5px;
  margin-bottom: 3rem;
  h4 {
  	text-transform: uppercase;
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: 15px;
  }
  ul {
  	padding-left: 3rem;
  	li {
  		a {
		    font-size: 1.8rem;
		    line-height: 1.3;
			}
  	}
  }
}

.related-item {
  white-space: nowrap;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid;
  &:last-of-type {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 0;
  }
	div {
	  display: inline-block;
	  white-space: normal!important;
	  padding-left: 10px;
	  max-width: 70%;
	  &.no-photo {
	  	max-width: 100%;
	  }
	  a {
			font-weight: 500;
	    font-size: 1.8rem;
	    line-height: 1.2;
	    padding-bottom: .5rem;
	    display: block;
	  }
	  p {
	  	margin-bottom: 0;
	  	font-size:1.3rem;
	  	line-height:1.3;
	  }
	}
	img {
    display: inline-block;
    vertical-align: top;
    max-width: 80px;
	}
	.view-more {
    font-size: 1.4rem;
    margin-top: 1rem;
    display: block;
    font-weight: 400;
	}
}

.search {
  padding: 2rem;
  background: #eee;
  margin-bottom: 2rem;
  input[type="search"] {
    width: 100%;
    line-height: 2;
    border: 1px solid #dcdcdc;
    border-radius: 6px;
    padding: .5rem 1rem;
  }
  select {
    width: 100%;
    height: 40px;
  }
  input[type="submit"] {
    width: 100%;
    border: 0;
    padding: 1rem 0;
    text-transform: uppercase;
    font-weight: 600;
    background: #6ca4b5;
    color: #fff;
    &:hover {
      cursor: pointer;
      background: lighten($navy, 10%);
      transition: .3s;
    }
  }
}

.search-results {
  h1 {
    text-transform: uppercase;
    font-weight: 700;
    border-bottom: 2px solid;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    color: #d0e2b5;
  }
  .index-block p {
    margin-bottom: .5rem;
  }
  .date {
    font-size: 1.4rem;
    font-weight: 600;
  }
}

.article-image {
  max-width: 150px;
  float: left;
  margin-right: 2rem;
}

.newsletter-thank-you {
  text-align: center;
  h1 {
    font-size: 8rem;
    text-transform: uppercase;
    font-weight: 600;
    color: #6da4b5;
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
  p {
    font-size: 2.6rem;
    font-weight: 600;
    color: #b7b7b7;
  }
}
.not-found {
  text-align: center;
  img {
    margin-bottom: 4rem;
    margin-top: 4rem;
  }
  h1 {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    color: #d4d4d4;
    font-size: 5rem;
    margin-bottom: 4rem;
  }
  a {
    background: #6ba6b7;
    padding: 1rem 2rem;
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    &:hover {
      background: #9fc8d4;
      transition: .3s;
    }
  }
}
.pagination {
  width: 100%;
  text-align: center;
  a {
    background: inherit;
    color: #fff;
    padding: .5rem 1rem;
    &:hover {
    	opacity: .7;
    	transition: all .3s;
    }
    .media & {
    	background: $purple;
    }
	}
	span {
    padding: .5rem 1rem;
	}
	.current {
		background: #fff;
		border: 1px solid;
		.media & {
    	color: $purple;
    	border-color: $purple;
    }
	}

}
.display-doc {
  max-width: 100%;
  float: right;
  margin-bottom: 27px;
  @media (max-width: 767px) {
    float: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
  }
  .dwnld-button {
    text-align: center;
    background: #8fb5a9;
    color: #ffff;
    padding: 3px 0;
  }
}
.button-group {
  @media (max-width: 767px) {
    margin-bottom: 3rem;
  }
}
.info-block {
  background-color: #f2f2f2;
  padding: 1rem 1rem 1rem 6rem;
  font-weight: normal;
  background-image: url(/images/img-info-icon.png);
  background-repeat: no-repeat;
  background-size: 35px;
  background-position: 15px 50%;
  font-size: 14px;
  color: $blue-green;
  p {
    margin-bottom: 0;
    font-size: 14px!important;
  }
}
.timeline-Tweet.timeline-Tweet--isRetweet.u-cf.js-tweetIdInfo {
    color: #fff!important;
}
.SandboxRoot {
  color: #fff!important;
}
.SandboxRoot.env-bp-min .timeline-Tweet, .Identity-screenName {
    color: #fff;
}