@-webkit-keyframes buttonmove {
    0%   { background-color: #adedd4; padding: 15px; font-size: 2rem; font-weight: 600; text-transform: uppercase; letter-spacing: 3px; color: #fff; position: absolute; right: 2rem; border-radius: 30px;}
    50%  { background-image: none; right: 2rem; }
    100% {width: 60px; height: 60px; transition: all .2s ease-in-out; /*margin-left: 20px; position: absolute; right: 6rem;*/ z-index: 10; /*display: inline-block;*/ border-radius: 50%; font-size: 0; letter-spacing: 0; font-weight: 400; color: transparent; background-image: url(../images/img-ticket-icon-2.png); background-size: 90%; background-position: center center; background-repeat: no-repeat; /*margin-right: 2rem;*/ } 
}

.celebration {
	border: 20px solid #759ba4;
  background-color: #3e5d6f;
  background-image: url(../images/img-water-institute-top-3.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: table;
  width: 100%;
  @media (max-width: 413px) {
  	border-width: 15px;
  	background-size: 250%;
  }
  #sticky {
  	height: 80px;
  	position: relative;
	}

	#sticky-phantom {
		height: 80px;
    visibility: hidden;
	}

	#sticky.stick {
    position: fixed;
    top: 0;
    right: 2rem;
    width: 100%;
    z-index: 10;
    .ticket-button {
	  	animation:buttonmove .2s;
		  animation-timing-function:linear;
		  animation-fill-mode:forwards;
		  animation-iteration-count: 1;
		  -webkit-animation-iteration-count: 1;
		  -webkit-animation:buttonmove .2s;
		  -webkit-animation-timing-function:linear;
		  -webkit-animation-fill-mode: forwards;
		  background-image: url(../images/img-ticket-icon-2.png); 
		  background-size: 90%;
		  background-repeat: no-repeat; 
  	}
	}
  .ticket-button {
  	background-color: #adedd4; 
  	padding: 15px; 
  	font-size: 2rem; 
  	font-weight: 600; 
  	text-transform: uppercase; 
  	letter-spacing: 3px;
  	color: #fff; 
  	position: absolute; 
  	right: 2rem; 
  	border-radius: 30px;
  	margin-top: 2rem;
    @media (max-width: 767px) {
    	font-size: 2rem;
    }
    &:hover {
    	background-color: #9be1fe;
    	cursor: pointer;
    	transition: background-color .3s;
    }
  }
  #purchaseTickets {
  	height: 80px;
  }
  .scrolled-nav {
  	position: fixed;
    height: 70px;
    width: 100%;
    z-index: 10;
  	.ticket-button {
	  	animation:buttonmove .2s;
		  animation-timing-function:linear;
		  animation-fill-mode:forwards;
		  animation-iteration-count: 1;
		  -webkit-animation-iteration-count: 1;
		  -webkit-animation:buttonmove .2s;
		  -webkit-animation-timing-function:linear;
		  -webkit-animation-fill-mode: forwards;
  	}
  }
  .top-image {
    background: -moz-linear-gradient(top, rgba(62,93,111,0) 0%, rgba(62,93,111,0) 75%, rgba(62,93,111,0) 0%, #334d5d 90%, #334d5d 0%);
    background: -webkit-linear-gradient(top, rgba(62,93,111,0) 0%, rgba(62,93,111,0) 75%, rgba(62,93,111,0) 0%, #334d5d 90%, #334d5d 0%);
    background: linear-gradient(to bottom, rgba(62,93,111,0) 0%, rgba(62,93,111,0) 75%, rgba(62,93,111,0) 0%, #334d5d 90%, #334d5d 0%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00334d5d', endColorstr='#334d5d',GradientType=0 );
  }
  .top-wrapper {
  	text-align: center;
  	margin: 0 auto;
    margin-top: 14%;
    margin-bottom: 20%;
  }
  .logo {
  	background-image: url(../images/img-celebration-background.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center 88%;
  }
  .date-time {
  	margin-top: 30px;
  }
  .date, .time {
  	font-family: 'pompadourblack', serif;
  	font-size: 7.2rem;
  	display: inline-block;
  	@media (max-width: 768px) {
  		font-size: 6.2rem;
  	}
  	@media (max-width: 413px) {
  		font-size: 5.2rem;
  	}
  }
  .date {
  	color: #bcfee4;
  	/*DELETE BELOW STYLES WHEN DATE IS FINALIZED*/
    font-family: "futura-pt",Helvetica,sans-serif;
    font-size: 7rem;
    font-weight: 800;
    letter-spacing: 4px;
  }
  .time {
  	color: #9be1ff;
  	/*REMOVE BELOW STYLE WHEN DATE IS FINALIZED*/
  	display: none;
  }
  .dot {
    background: #bcfee4;
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 50%;
    margin-bottom: 15px;
	}
	.dash {
    background: #9be1ff;
    width: 20px;
    height: 5px;
    display: inline-block;
    margin-bottom: 15px;
    @media (max-width: 768px) {
	    margin-bottom: 8px;
	    margin-left: 5px;
	    margin-right: 5px;
  	}
	}
	.divider-container {
		width: 112px;
    height: 47px;
    position: relative;
    display: inline-block;
    /*CHANGE TO DISPLAY: INLINE-BLOCK WHEN DATE IS FINALIZED*/
    display: none;
    @media (max-width: 530px) {
  		display: none;
  	}
	}
	.divider {
    width: 77px;
    height: 19px;
    border-bottom: 1px solid #fff;
    -webkit-transform: translateY(18px) translateX(5px) rotate(-56deg);
    position: absolute;
    top: 0;
    left: 0;
	}
	.preserve-protect {
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    margin-bottom: 12%;
    @media (min-width: 1799px) {
    	margin-bottom: 0;
    }
  	h3 {
	    font-weight: 300;
	    letter-spacing: 3px;
	    font-size: 1.9rem;
	    margin-bottom: 5rem;
	    display: inline-block;
	    margin-left: 2rem;
	    margin-right: 2rem;
	    @media (max-width: 767px) {
	    	margin-left: 1rem;
	    	margin-right: 1rem;
	    }
		}
		.horiz-line {
	    display: inline-block;
	    background: #fff;
	    height: 1px;
	    width: 240px;
	    margin-bottom: 6px;
	    @media (max-width: 991px) {
    		width: 140px;
    	}
	    @media (max-width: 767px) {
	    	width: 35px;
	    }
	    @media (max-width: 413px) {
	    	display: none;
	    }
		}
    .description p {
	    font-size: 3rem;
	    margin-bottom: 0;
	    @media (min-width: 1799px) {
	    	margin-bottom: 2rem;
	    }
	    @media (max-width: 767px) {
	    	font-size: 2rem;
	    }
    	&.script {
    		color: #7591a1;
    		font-size: 5.8rem;
    		font-family: 'portrait_scriptregular';
    		text-transform: none;
    		opacity: .5;
    		@media (max-width: 1024px) {
	    		font-size: 4.6rem;
	    	}
    		@media (max-width: 767px) {
	    		font-size: 4rem;
	    	}
    	}
		}
	}
	.description-wrapper {
		background: #334d5d;
		/*background: -moz-linear-gradient(top, rgba(62,93,111,0) 0%, rgba(62,93,111,0) 1%, rgba(62,93,111,0) 0%, #334d5d 31%, #334d5d 100%);
		background: -webkit-linear-gradient(top, rgba(62,93,111,0) 0%,rgba(62,93,111,0) 1%,rgba(62,93,111,0) 0%,#334d5d 31%,#334d5d 100%);
		background: linear-gradient(to bottom, rgba(62,93,111,0) 0%,rgba(62,93,111,0) 1%,rgba(62,93,111,0) 0%,#334d5d 31%,#334d5d 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00334d5d', endColorstr='#334d5d',GradientType=0 );
		@media (min-width: 1799px) {
	    background: -moz-linear-gradient(top, rgba(62,93,111,0) 0%, rgba(62,93,111,0) 1%, rgba(62,93,111,0) 0%, #334d5d 31%, #334d5d 100%);
	    background: -webkit-linear-gradient(top, rgba(62,93,111,0) 0%, rgba(62,93,111,0) 1%, rgba(62,93,111,0) 0%, #334d5d 31%, #334d5d 100%);
	    background: linear-gradient(to bottom, rgba(62,93,111,0) 0%, rgba(62,93,111,0) 1%, rgba(62,93,111,0) 0%, #334d5d 31%, #334d5d 100%);
	    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00334d5d', endColorstr='#334d5d',GradientType=0 );
		}*/
	}
	.background-blue {
    background-color: #334d5d;
	}
	.ticket-wrapper {
		background-image: url(../images/img-coast-painted-2.png);
		background-position: center left;
		background-repeat: no-repeat;
    padding: 12% 0;
    @media (min-width: 1799px) {
    	padding: 8% 0 10%;
    }
    @media (max-width: 767px) {
    	background-size: 150%;
    }
    @media (max-width: 450px) {
    	background-size: 250%;
    }
    .ticket-info {
      max-width: 630px;
	    float: right;
	    color: #fff;
	    border: 1px solid #fff;
	    padding: 3rem;
	    font-size: 2.4rem;
	    z-index: 2;
	    position: relative;
	    @media (min-width: 1799px) {
	    	min-width: 100%;
	    }
	    h3 {
  	    font-weight: 300;
		    letter-spacing: 3px;
		    font-size: 3rem;
		    margin-bottom: 2rem;
		    display: inline-block;
	    }
	    p {
		    font-size: 2rem;
			}
	    strong {
	    	text-transform: uppercase;
	    	font-weight: 500;
  	    margin-top: 3rem;
    		display: block;
    		letter-spacing: 1px;
	    }
	    &:before {
        content: "";
		    position: absolute;
		    z-index: -1;
		    top: 0;
		    bottom: 0;
		    left: 0;
		    right: 0;
		    background: rgba(102,152,174,0.3);
		    margin: 0 auto;
		    width: 100%;
			}
		}
	}
	.sponsorships {
		color: #fff;
		padding: 2rem;
		border: 1px solid #fff;
    text-align: center;
    margin-bottom:10%;
		h3 {
			font-weight: 300;
	    letter-spacing: 3px;
	    font-size: 1.9rem;
	    margin-bottom: 2rem;
	    padding: 0 2rem;
	    margin-top: -32px;
	    text-transform: uppercase;
	    z-index: 2;
	    position: relative;
	    &:before {
		    content: "";
		    position: absolute;
		    z-index: -1;
		    top: 2px;
		    bottom: 0;
		    left: -2px;
		    right: 0;
		    background: #334d5d;
		    margin: 0 auto;
		    width: 195px;
		    height: 20px;
			}
		}
		a {
			color: #adedd3;
		}
		p {
			font-size: 2rem;
			margin-bottom: 0;
		}
	}
	.lets-celebrate {
		text-align: center;
		margin-bottom: 8%;
		h4 {
			font-size: 4rem;
			font-family: 'portrait_scriptregular';
			color: #fff;
		}
	}

}