#home {
	margin-top:-40px;
	.intro {
		padding-top: 40px;
		@media (min-width: 1199px) {
			height: 30vh;
		}
	}
}
#home .container-fluid {
	@media (min-width: 992px) {
		padding-left: 30px; 
		padding-right: 30px;
	}
}
.intro.container-fluid, .about.container-fluid, .tiles.container-fluid, .sign-up .container-fluid {
	max-width: 1800px;
}

.slider {
    width: 100%;
    background-size: cover!important;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-box-shadow: 0px 7px 15px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 7px 15px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 7px 15px 0px rgba(0,0,0,0.5);
    padding: 0px 15px!important;
    overflow: hidden;
    @media (max-width: 767px) {
    	margin-top: 150px;
    }
    @media (max-width: 380px) {
    	margin-top: 140px;
    }
    @media (max-height: 415px) {
    	margin-top: 140px;
    }
}
#home section {
	margin: 40px auto;
}
.section-label {
	@media (max-width: 1300px) {
    margin-bottom: 3rem;
	}
}
#home .about-text {
	text-align: center;
	padding: 0 10% 5%;
	border-bottom: 1px solid #eee;
	margin-bottom: 40px;
	white-space: normal;
	@media (max-width: 991px) {
		height: auto; 
	}
	@media (max-width: 767px) {
		padding: 0 0 5%;
	}
		h2 {
			color: $green-blue;
			text-transform: uppercase;
			font-weight: 600;
			font-size: 4.0rem;
  		margin-bottom: 2rem;
		}
		p {
			font-size: 2.0rem;
  		margin-bottom: 2rem;
  		font-family: $font-serif;
		}
		a {
			font-weight: 500;
		}
}
#home .about {
	margin-top: 0!important;
	> .row {
		> .col-sm-12 {
			white-space: nowrap;
		}
	}
	@media (min-width: 992px) {
		.quote-focus-areas {
			 padding-bottom: 4rem
		}
	}
	.feature-img {
		margin-top: 7rem;
		@media (min-width: 992px) {
			margin-top: 3rem;
		}
		@media (max-width: 991px) {
			margin-top: 2rem;
		}
	}
}
.quote-wrapper {
	@media (min-width: 993px) {
	  width: 42%;
	  display: inline-block;
	  vertical-align: top;
	  padding-right: 15px;
	  text-align: center;
	}
}
.quote-box {
	white-space: normal;
	color: $navy;
	@media (min-width: 1200px) {
    width: 485px;
    display: inline-block;
	}
	@media (max-width: 1199px) {
    width: 90%;
    margin-bottom: 40px;
	}
	@media (max-width: 768px) {
		width: 100%;
	}
	h2 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 4rem;
    color: $clear-water;
    margin-bottom:2rem;
    padding-bottom: 2rem;
    text-align: left;
	}
	.quote-text {
    width: 70%;
    display: inline-block;
    vertical-align: top;
    font-size: 2rem;
    padding-left: 20px;
    margin-left: 20px;
    border-left: 2px solid $navy;
    text-align: left;
    @media (max-width: 1199px) {
    	width: 100%;
    }
    @media (max-width: 768px) {
    	width: 90%;
    }
	}
}

.quotee {
  width: 20%;
  display: inline-block;
  position: relative;
  height: 280px;
  @media (max-width: 1199px) {
  	width: 100%;
    height: auto;
  }
	#name {
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    min-width: 180px;
    margin-top: 40px;
    padding-left: 15px;
    padding-bottom: 10px;
    font-size: 13px;
    text-align: left;
    strong {
    	display: block;
    }
    @media (max-width: 1199px) {
	    transform: none;
	    min-width: auto;
	    margin-top: 0;
	    padding-left: 15px;
	    padding-bottom: 10px;
    }
	}
	img {
    position: absolute;
    bottom: 3px;
    right: -11px;
    height: 125px;
    @media (max-width: 1199px) {
    	display: none;
    }
	}
}

#home {
	.focus-areas {
	  color: #fff;
	  position: relative;
	  white-space: normal;
		@media (min-width: 993px) {
			width: 58%;
		  display: inline-block;
		  position: absolute;
		  right: -15px;
		}
		&:before {
	    content: "";
	    position: absolute;
	    z-index: -1;
	    top: 0;
	    width: 100%;
	    bottom: 0;
	    left: 0;
	    background: -moz-linear-gradient(left, #6ca4b5 0%, rgba(108, 164, 181, 0.5) 100%);
	    background: -webkit-linear-gradient(left, #6ca4b5 0%, rgba(108, 164, 181, 0.5) 100%);
	    background: linear-gradient(to right, #6ca4b5 0%, rgba(108, 164, 181, 0.5) 100%);
	    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6ca4b5', endColorstr='#806ca4b5',GradientType=1 );
		}
		ul {
			margin-bottom: 8rem;
			@media (max-width: 1400px) {
				margin-bottom: 1rem;
			}
			@media (max-width: 1199px) {
				margin-bottom: 0;
			}
		}
	}
}

.overlay {
	background: -moz-linear-gradient(left, rgba(108,164,181,1) 0%, rgba(108,164,181,0.5) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(108,164,181,1) 0%,rgba(108,164,181,0.5) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(108,164,181,1) 0%,rgba(108,164,181,0.5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6ca4b5', endColorstr='#806ca4b5',GradientType=1 ); /* IE6-9 */
}
.focus-content {
	padding: 40px;
	position: relative;
  overflow: hidden;
	h3 {
		text-transform: uppercase;
		font-weight: 600;
		margin-bottom: 3rem;
	}
	ul {
		li {
			font-size: 2.6rem;
			list-style: none;
			margin-bottom: 1rem;
			@media (max-width: 1400px) {
				font-size: 2.4rem;
				margin-bottom: 1rem;
			}
			&:first-of-type {
				img {
					opacity: 1;
				}
			}
			&:hover a { 
				text-decoration: none;
				+ img {
			  	opacity: 1;
			  	transition: ease-in-out .3s;
				}
			}
			a {
				color: #fff;
				position: relative;
				padding: .8rem 0;
				display: block;
				&:before {
			    content: "\f105";
			    font-family: FontAwesome;
			    font-style: normal;
			    font-weight: normal;
			    text-decoration: inherit;
			    color: #fff;
			    font-size: 18px;
			    padding-right: 0.5em;
			    position: absolute;
			    top: 14px;
			    left: -25px;
				}
				img {
					opacity: 0;
				}
				
			}
		}
	}
	img {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    z-index: -3;
    opacity: 0;
	}
}
.focus-images {
	background-image: url(/images/img-watershed.jpg);
	background-size: cover;
  display: block;
  background-size: cover;
  content: "";
  position: absolute;
  z-index: -2;
  top: 0;
  width: 100%;
  bottom: 0;
  left: 0;
}
.feature-img {
  text-align: center;
  margin-bottom: 40px;
  position: relative;
  img {
    max-width: 100%;
	}
  .feature-img-caption {
    max-width: 600px;
    position: absolute;
    left: -30px;
    bottom: -45px;
    background: rgba(115, 163, 147, 0.85);
    color: #fff;
    white-space: normal;
    padding: 20px 20px 20px 30px;
    text-align: left;
    @media (max-width: 767px) {
	    padding: 10px 10px 10px 30px;
	    line-height: 1.3;
    }
	}
}
.sign-up {
  padding: 0 40px 55px 15px;
  background: url(/images/img-pattern.png);
  background-position: 0 -17px;
  @media (max-width: 1300px) {
    padding: 0 40px 86px 15px;
    background-position: 0 -39px;
  }
  @media (max-width: 992px) {
    background-position: 0 -10px;
  }
  @media (max-width: 768px) {
    background-size: 8%;
    padding: 0 10px 40px 10px;
  }
  @media (max-width: 480px) {
    background-size: 13%;
  }
  .section-label {
  	margin-top: 40px;
  	@media (max-width: 992px) {
      margin-top: 30px;
	  }
  	@media (max-width: 768px) {
  		margin-top: 0;
			padding-top: 2rem;
		}
  }
}
.sign-up-box {
  background: #fff;
  padding: 30px;
  max-width: 70%;
  margin: 0 auto;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
	@media (max-width: 768px) {
		max-width: 95%;
	}
	h3 {
    font-size: 2.8rem;
    text-transform: uppercase;
    color: $green-blue;
	}
	p {
    color: #cccccc;
    font-weight: 500;
    font-size: 1.8rem;
    margin-bottom: 2.0rem;
    padding-left: 10px;
	}
	#newsletter-signup {
    border-bottom: 1px solid #ccc;
	}
	input[type="text"] {
    width: 100%;
    border: 0;
    padding-bottom: 10px;
    padding-left: 10px;
	}
	.form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
    width: 90%;
    @media (max-width: 768px) {
    	width: 80%;
    }
	}
}
/*EMMA OVERRIDES*/

#e2ma_signup {
  white-space: nowrap;
}
.e2ma_signup_message div {
  color: #cccccc;
  font-weight: 500;
  font-size: 1.8rem;
  margin-bottom: 2.0rem;
  padding-left: 10px;
}
.e2ma_signup_form_required_footnote {
  display: none;
}
span.e2ma_signup_form_required_asterix {
  display: none;
}
input#e2ma_signup_reset_button {
  display: none;
}
.e2ma_signup_form_row {
    display: inline-block;
    width: 38%;
}
.e2ma_signup_form_row:first-of-type {
    padding-left: 10px;
    padding-right: 10px;
}
#e2ma_signup_form_button_row {
    display: inline-block;
    width: 23%;
    padding-left: 1rem;
}
.e2ma_signup_form_element input[type="text"], .e2ma_signup_form_element input[type="email"] {
  padding: 7px;
  border: 0;
  width: 100%;
  border-bottom: 1px solid #c3c3c3;
}
#e2ma_signup_submit_button {
    width: 100%;
    text-align: center;
    color: #fff;
    background-color: #6da4b5;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1.2rem;
    border: 0;
    padding: 8px;
    margin-bottom: 0;
}
@media (max-width: 767px) {
	.e2ma_signup_message div {
    padding-left: 0;
	}
	.e2ma_signup_form_row:first-of-type {
    padding-left: 0;
    padding-right: 0;
	}
	.e2ma_signup_form_row {
    display: block;
    width: 100%;
    padding-top: 1rem;
	}
	#e2ma_signup_form_button_row {
    display: inline-block;
    width: 100%;
    margin-top: 1.5rem;
    padding-left: 0;
	}
}
.tiles-cont {
  max-width: 80%;
  margin: 0 auto;
  .row {
		display: flex;
		@media (max-width: 767px) {
			flex-direction: column;
		}
  }
  .row + .row {
    margin-top: 20px;
	}
	.btn-primary {
		text-align: center;
	}
}
.tile-title {
	text-transform: uppercase;
	font-size: 1.6rem;
  margin-bottom: 2rem;
  letter-spacing: 1px;
	h5 {
		font-weight: 400;
	}
}
.feature-story {
	white-space: nowrap;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
	.img-cont {
    width: 65%;
    display: inline-block;
    position: relative;
    vertical-align: top;
    overflow: hidden;
    background-size: cover;
    @media (max-width: 992px) {
    	width: 100%;
    }
    @media (max-width: 767px) {
    	height: 270px;
    }
	}
	.text-cont {
    width: 35%;
    display: inline-block;
    white-space: normal;
    padding: 30px;
	  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
		-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
		box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
		@media (max-width: 992px) {
			width: 60%;
		}
		@media (max-width: 768px) {
			width: 100%;
		}
		h4 {
			font-size: 3.2rem;
	    line-height: 1.3;
	    font-family: "adobe-caslon-pro", Times, serif;
	    font-weight: 600;
	    margin-bottom: 2.2rem;
		}
		.teaser {
			font-family: "adobe-caslon-pro", Times, serif;
		}
		.btn-primary {
			margin-top: 3.5rem;
		}
	}
}
.tile-thirds {
	color: #fff;
	padding: 2rem;
	margin-right: 2rem;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  @media (max-width: 767px) {
    margin-bottom: 2rem;
    margin-right: 0;
  }
	&.social {
		background: $green;
		.tile-title {
			color: #fff;
		}
		.teaser {
			font-size: 3rem;
			font-family: $font-serif;
    	padding: 2rem 0;
		}
		a {
			color: #fff;
			i {
				font-size: 2rem;
			}
		}
		span {
			text-transform: uppercase;
		}
	}
	.title {
    font-size: 2rem;
    line-height: 1.2;
    margin-bottom: 1.5rem;
    display: block;
    font-family: $font-serif;
    color: $navy;
    font-weight: 600;
	}
	.teaser {
  	font-family: "adobe-caslon-pro", Times, serif;
    font-size: 1.6rem;
    line-height: 1.2;
	}
	&.report {
		background-color: $blue-green;
		.btn-primary {
			color: #fff;
			border-color: #fff;
			&:hover {
				color: $blue-green;
				background-color: #fff;
			}
		}
		.title {
			color: #fff;
		}
	}
	&.news {
		background-color: $clear-water;
		color: $navy;
		margin-right: 0;
		.btn-primary {
			color: $navy;
			border-color: $navy;
			&:hover {
				color: #fff;
				background-color: $navy;
			}
		}
	}
	.image-cont {
    margin-top: -2rem;
    margin-left: -2rem;
    margin-right: -2rem;
    margin-bottom: 2rem;
		img {
			max-width: 100%;
	    width: 100%;
		}
	}
	.feature-image {
    padding-bottom: 50%;
    background-size: cover;
	}
}