/*TEAM MEMBER*/
main#content {
	margin-top:40px;
}
.team-member {
	h4 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: 15px;
	}
	&.detail {
		.top-bg {
			@media (max-width: 767px) {
				text-align: center;
			}
			a {
				color: $orange;
		    margin-bottom: .5rem;
			}
			h2 {
		    text-transform: uppercase;
		    margin-bottom: 1.5rem;
		    font-size: 2.5rem;
		    color: inherit;
		    font-weight: 500;
		    padding-bottom: 0;
				&:after {
					display: none;
				}
			}
			h3 {
				font-family: $font-serif;
				font-style: italic;
				font-size: 2rem;
			}
		}
		.team-member-photo {
			width: 220px;
	    height: 220px;
	    border: 1px;
	    position: relative;
	    overflow: hidden;
	    border-radius: 50%;
	    @media (max-width: 767px) {
	    	margin-left:auto;
	    	margin-right: auto;
				width: 200px;
	    	height: 200px;
	    	margin-bottom: 2rem;
			}
			img {
		    display: inline;
		    margin: 0 auto;
        height: auto;
    		width: 220px;
    		@media (max-width: 767px) {
					width: 200px;
				}
			}
		}
		.no-contact {
    	margin-top: 8rem;
    	@media (max-width: 767px) {
    		margin-top: 3rem;
    	}
		}
	}
	.contact-info {
		a {
			display: inline-block;
			i {
				padding-right: 10px;
			}
		}
	}
	.projects-publications {
    background: #f2f2f2;
    padding: 20px;
    margin-top: 3rem;
    @media (max-width: 992px) {
    	margin-bottom: 3rem;
    }
    .primary-author {
    	font-size: 1.3rem;
		}
		h4 {
			margin-bottom: 10px;
		}
		.more {
	    overflow: hidden;
    	height: 220px;
    	&.short {
    		height: auto;
    	}
		}
		.read-more-btn p.btn_text {
			display: none;
		}
		.read-more-btn.show p.btn_text {
	    margin-bottom: 0;
	    padding: .5rem;
	    margin-top: 10px;
	    text-transform: uppercase;
	    font-weight: 500;
	    color: #d55b20;
	    display: block;
	    &:hover {
	    	cursor: pointer;
	    	text-decoration: underline;
	    }
		}
		.projects-publications .col-md-4 {
	    padding-left: 10px;
	    padding-right: 10px;
		}
		.col-sm-4 {
			@media (max-width: 767px) {
				margin-bottom: 1.5rem;
			}
		}
		ul {
			padding-left: 1.5rem;
			margin-bottom: 0;
		}
		li {
	    font-size: 1.3rem;
	    line-height: 1.3;
    	margin-bottom: 10px;
    	&:last-of-type {
    		margin-bottom: 0;
    	}
    	a {
    		color: $dark-brown;
    	}
		}
	}
	.related-block {
		border-color: $orange;
		h4, a {
			color: $orange;
		}
	}
}

.team-index {
	.index-top {
		h2 {
    	color: rgba(231, 149, 104, .7);
		}
		.descr {
			color: $orange;
			border-color: $orange;
			p {
				color: #bf8a6c
			}
		}
	}
	@media (max-width: 413px) {
		.col-md-3.col-xs-6 {
	    width: 100%;
	    .person-block {
	    	height: auto!important;
	    }
		}
	}
}

.project.index {
	.index-top {
		h2 {
    	color: rgba(186, 212, 147, .70);
		}
		.descr {
			color: #6b942d;
			border-color: $lime-green;
		}
	}
	.project-photo {
    padding-bottom: 35%;
    background-size: cover;
    margin-bottom: 1.5rem;
	}
}

.index-block {
  padding: 1.5rem;
  border: 2px solid $lime-green;
  border-radius: 5px;
  margin-bottom: 1.5rem;
}

.project, .reports, .publications {
	a {
		color: $lime-green;
	}
}
.project {
	.top-bg {
		text-align: center;
	}
	h1 {
		margin-bottom: 2rem;
		line-height: 1.3;
	}
	.subtitle {
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: 400;
    padding: 0 2rem;
    line-height: 1.3;
    font-family: $font-serif;
    color: #838478;
	}
	.project-explanation {
		h3 {
			margin-bottom: 2rem;
			text-transform: uppercase;
			font-weight: 600;
		}
	}
	.duration {
		font-size: 1.8rem;
  	font-weight: 600;
  	text-transform: uppercase;
  	letter-spacing: 1px;
  	color: #a4a49a;
  	margin-bottom: 2rem;
	}
	&.feature {
		.top-bg {
			padding-bottom: 12rem;
			&.no-image {
				padding-bottom: 2rem;
			}
		}
		.duration {
    	margin-top: 0;
    	font-size: 1.8rem;
    	font-weight: 600;
    	padding-top: 1rem;
    	text-transform: uppercase;
    	letter-spacing: 1px;
    	color: #a4a49a;
    	@media (max-width: 992px) {
    		margin-top: 2rem;
    	}
		}
		.project-image {
	    background-size: cover;
	    background-position: center center;
	    min-height: 400px;
    	margin-top: -16rem;
    	margin-bottom: 4rem;
    	@media (max-width: 992px) {
    		margin-bottom: 2rem;
    	}
	    @media (max-width: 767px) {
	    	min-height: 300px;
	    }
	    @media (max-width: 480px) {
	    	min-height: 250px;
	    }
	    @media (max-width: 380px) {
	    	min-height: 200px;
	    }
		}
		.intro {
	    font-size: 2.2rem;
	    margin-bottom: 3rem;
	    letter-spacing: 1px;
		}
		.challenge {
			margin-bottom: 3rem;
		}
		.approach {
			@media (max-width: 992px) {
				margin-bottom: 3rem;
			}
		}
	}
	.related-block {
		border-color: $lime-green;
		h4 {
			color: $lime-green;
		}
	}
	.related-documents {
		margin-bottom: 2rem;
		h3 {
	    color: #80b037;
	    border-top: 2px solid #eee;
	    padding-top: 2rem;
		}
	}
}

.project-block {
	img {
		max-width: 100%;
    margin-bottom: 1rem;
	}
	.feature-title {
    text-transform: uppercase;
    font-weight: 600;
    a {
			color: $link-color;
    }
	}
}

.projects-list {
	h3 {
		font-size: 2rem;
    text-transform: uppercase;
    font-weight: 600;
    color: #c7c7c7;
    margin-bottom: 1rem;
    margin-bottom: 2rem;
    width: 100%;
    overflow: hidden;
    &:after {
	    background: #eee;
	    content: '';
	    display: inline-block;
	    vertical-align: middle;
	    height: 3px;
	    border-top: 0px solid #fff;
    	border-bottom: 1px solid #fff;
	    width: 100%;
	    margin-right: -100%;
	    margin-left: 20px;
		}
	}
	.project-link {
		font-size: 1.6rem;
	}
}

.capabilities {
	.top {
    padding-bottom: 35%;
    background: url(/images/img-capabilities.jpg);
    margin-top: -40px;
    background-size: cover;
    position: relative;
    z-index: -1;
    img {
	    max-width: 100%;
	    min-width: 100%;
	    height: auto;
	    position: absolute;
	    bottom: -2px;
    }
	}
	.intro {
		color: $navy;
		font-size: 2.4rem;
		font-weight: 500;
		margin-bottom: 4rem;
		@media (min-width: 992px) {
			margin-bottom: 6rem;
		}
		@media (max-width: 991px) {
			margin-bottom: 3rem;
		}
		h1 {
			text-transform: uppercase;
			font-weight: 700;
			margin-bottom: 2rem;
			margin-top: -2.5rem;
			font-size: 4rem;
			@media (max-width: 767px) {
				margin-top: 0;
			}
		}
		p {
			margin-left: 2rem;
		}
	}
	.equipment-blurb {
    border: 1px solid $lime-green;
    border-radius: 7px;
    padding: 1rem;
    text-align: center;
    color: $lime-green;
    @media (max-width: 991px) {
    	margin-bottom: 6rem;
    }
    .fa {
      font-size: 4rem;
      padding-bottom: 1rem;
    }
    h3 {
      font-weight: 500;
      font-size: 1.8rem;
      line-height: 1.3;
    }
    a {
      text-transform: uppercase;
      font-weight: 600;
      font-size: 1.6rem;
      padding-top: 1rem;
      display: block;
      letter-spacing: 1px;
    }
	}
	.single-capability {
		position: relative;
		display: inline-block;
		margin-bottom: 2rem;
		@media (max-width: 992px) {
	    margin-left: 4rem;
    }
		@media (max-width: 767px) {
	    margin-top: 5rem;
      margin-left: 2rem;
    	margin-right: 2rem;
    }
		.border-top {
	    height: 1px;
	    background: #80b037;
	    margin-bottom: 20px;
	    @media (max-width: 992px) {
  	    margin-bottom: 3rem;
	    }
	    @media (max-width: 767px) {
	      margin-bottom: 2rem;
	    	margin-top: 4rem;
	    }
		}
		.number {
	    position: absolute;
	    text-align: right;
	    font-size: 130px;
	    right: 89%;
	    top: -60px;
	    font-weight: 700;
	    color: rgba(146, 200, 62, 0.4);
	    @media (max-width: 1199px) {
		    font-size: 100px;
	    	right: 89%;
	    }
	    @media (max-width: 992px) {
	    	right: 87%;
	    }
	    @media (max-width: 767px) {
  	    left: 0;
		    font-size: 80px;
		    margin-top: -2rem;
		    right: auto;
	    }
		}
		.title {
			font-size: 2.8rem;
			color: $lime-green;
			text-transform: uppercase;
			h3 {
		    font-size: 2.2rem;
    		padding-left: 2rem;
    		p {
    			font-size: 2.2rem;
    		}
    		@media (max-width: 992px) {
  	    	padding-left: 0;
	    	}
			}
			strong {
				display: block;
			}
		}
	}
}

.equipment {
	.top {
    margin-top: -40px;
    background: url(/images/img-equipment-bg.jpg);
    padding: 5rem 0 8rem;
    background-size: cover;
    color: #fff;
    h1 {
    	text-transform: uppercase;
	    margin-bottom: 5rem;
    }
    img {
    	@media (max-width: 767px) {
    		width: 100%;
    	}
    }
	}
	.intro {
    background: rgba(123, 170, 173, 0.85);
    padding: 2rem;
    p {
	    font-size: 2.6rem;
	    line-height: 1.5;
	    font-weight: 500;
	    @media (max-width: 992px) {
	    	font-size: 2.3rem;
	    }
		}
	}
	.equipment-block {
    background: #eee;
    padding: 2rem;
    margin-top: -3rem;
    img {
	    margin: 0 auto;
	    display: block;
		}
		h2 {
			font-size: 3rem;
	    text-transform: uppercase;
	    color: $green-blue;
	    font-weight: 600;
	    margin: 2rem 0;
	    text-align: center;
      border-bottom: 2px solid $green-blue;
    	padding-bottom: 2rem;
		}
		h3 {
			font-size: 1.8rem;
			font-weight: 600;
	    padding-left: 1rem;
      margin-bottom: 1.5rem;
      color: $green-blue;
	    text-transform: uppercase;
	    line-height: 1.5;
		}
		ul li {
    	font-size: 1.5rem;
		}
	}
}

.media {
	overflow: visible;
	.top {
    padding-bottom: 35%;
    background: url(/images/img-media-purple.jpg);
    margin-top: -40px;
    background-size: cover;
    position: relative;
    z-index: -1;
	}
	a {
		color: $purple;
	}
	.pagination a {
		color: #fff;
	}
	.index-top {
		h2 {
    	color: #c0b5d8;
		}
		.descr {
			color: $purple;
			border-color: $purple;
		}
	}
	.top-bg {
		text-align: left;
    padding-bottom: 6rem;
    margin-bottom: 0;
    @media (max-width: 991px) {
    	padding-bottom: 4rem;
    }
		.feature-image {
	    background-size: cover;
	    min-height: 300px;
	    max-width: 100%;
	    width: 100%;
	    position: absolute;
	    right: 0;
	    @media (max-width: 991px ) {
	    	position: static;
	    	background-position: center center;
	    }
		}
	}
	h1.title {
		color: $purple;
	}
	.date {
    color: $purple;
  }
	.download-lnk {
		border-color: $purple;
		&:hover, &:focus, &:active, &:active:focus, &:active:hover {
			border-color: $purple;
			background-color: $purple;
		}
	}
	.related-block {
		border-color: $purple;
		h4 {
			color: $purple;
		}
	}
	.article-text {
		padding-top: 14rem;
    @media (max-width: 991px) {
    	padding-top: 11rem;
    }
    hr {
	    border-color: #eee;
	    margin-top: 1rem;
		}
	}
	.sidebar {
		padding-top: 13rem;
		@media (max-width: 991px ) {
    	padding-top: 2rem;
    }
	}
	&.press-release {
		.article-text, .sidebar {
			padding-top: 4rem;
		}
	}
	&.index {
		.entries {
			.row {
				margin-bottom: 2rem;
			}
			@media (max-width: 767px) {
				.news-block {
					margin-bottom: 2rem;
					img {
						min-width: 100%;
					}
				}
			}
		}
		.index-top h2 {
			color: #c0b5d8;
		}
	}
	.boiler-plates {
    padding-top: 2rem;
    margin-top: 2rem;
    border-top: 1px solid #c0b5d8;
    .boiler-plate {
      margin-bottom: 2rem;
      h5 {
        text-transform: uppercase;
        font-weight: 600;
        color: #8c7daa;
      }
    }
	}
	&.landing {
		.gray-bg {
			margin-bottom: 0;
	    margin-right: -30px;
	    margin-top: 1rem;
	    @media (max-width: 767px) {
	    	margin-right: 0;
	    }
		}
		.brand-assets {
      border: 2px solid #8a7ba8;
	    border-radius: 5px;
	    width: 100%;
	    padding: 1rem;
	    margin-top: 1rem;
	    text-align: center;
	    text-transform: uppercase;
	    margin-right: -15px;
	    display: block;
	    vertical-align: middle;
    	font-weight: 700;
	    img {
	    	padding-right: 1rem;
	    }
	    @media (max-width: 767px) {
	    	margin-bottom: 2rem;
	    }
		}
		.media-image {
	    padding-bottom: 60%;
	    background-image: url(/images/img-media-purple-2.jpg);
	    width: 100%;
	    background-size: cover;
	    @media (max-width: 767px) {
	    	padding-bottom: 45%;
	    }
		}
		.entries {
			h2 {
		    font-weight: 600;
		    margin-bottom: 2rem;
		    color: #8a7aa8;
		    padding-bottom: 1rem;
		    border-bottom: 2px solid #c0b5d8;
			}
			.group {
		    margin-bottom: 3rem;
			}
			.news-block {
		    padding-bottom: 1rem;
		    margin-bottom: 1rem;
		    border-bottom: 1px solid #eee;
		    border-top: 0;
		    border-left: 0;
		    border-right: 0;
		    padding-left: 0;
		    padding-top: 0;
		    padding-right: 0;
		    &:last-of-type {
		    	border-bottom: 0;
		    }
		    .feature-title {
			    font-size: 2rem;
				}
		    .feature-intro {
			    margin-bottom: 0;
				}
			}
			.btn-primary {
				border-color: $purple;
				padding: .8rem;
				&:hover, &:focus, &:active, &:active:focus, &:active:hover {
					border-color: $purple;
					background-color: $purple;
				}
			}
		}
	}
}

.contact {
	.gray-bg {
		margin-bottom: 0;
	  margin-right: -30px;
	  margin-top: 1rem;
	  @media (max-width: 767px) {
	  	margin-right: 0;
	  }
	  .tel {
    	color: #767769;
		}
		.ftr-social {
			a {
				color: #c2608e;
			}
			i {
		    font-size: 2.6rem;
		    padding-right: 1.5rem;
			}
		}
	}
	h2 {
    color: #d798b5;
	}
	.contact-image {
    padding-bottom: 60%;
    background-image: url(/images/img-contact-pink.jpg);
    width: 100%;
    background-size: cover;
    @media (max-width: 767px) {
    	padding-bottom: 45%;
    }
	}
	.google-maps {
		margin-top:2rem;
    position: relative;
    padding-bottom: 45%; // This is the aspect ratio
    height: 0;
    overflow: hidden;
  }
  .google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
  }
}

.focus-area {
	.top {
		background-size: cover;
    padding-bottom: 15%;
    margin-top: -40px;
    position: relative;
    z-index: -1;
		&:before {
	    content: "";
	    position: absolute;
	    z-index: -1;
	    top: 0;
	    width: 100%;
	    bottom: -1px;
	    left: 0;
			background: -moz-radial-gradient(center, ellipse cover, rgba(120,146,114,0.2) 1%, rgba(120,146,114,1) 100%);
			background: -webkit-radial-gradient(center, ellipse cover, rgba(120,146,114,0.2) 1%,rgba(120,146,114,1) 100%);
			background: radial-gradient(ellipse at center, rgba(120,146,114,0.2) 1%,rgba(120,146,114,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33789272', endColorstr='#789272',GradientType=1 );
		}
		h2, h1 {
			color: #fff;
		}
		h2 {
			font-family: $font-serif;
			font-style: italic;
			font-size: 3.6rem;
			padding-top:15%;
			padding-bottom: 3%;
		}
		h1 {
			font-weight: 600;
			text-transform: uppercase;
			font-size: 4.8rem;
		}
	}
	.intro-sidebar {
    position: relative;
    z-index: 9;
    background: #d6e5df;
    width: 100%;
    height: auto;
    &:before {
	    content: "";
	    position: absolute;
	    z-index: -1;
	    top: 0;
	    width: 50%;
	    bottom: 0;
	    left: 0;
	    background: #73a393;
	  }
	  .focus-explanation {
	    position: relative;
	    background-color: #73a393;
	    color: #fff;
	    padding-top: 5%;
	    padding-bottom: 11rem;
	    padding-right: 5%;
	    @media (max-width: 767px) {
	    	padding-bottom: 2rem;
	    }
	    .focus-subhead {
	    	font-family: $font-serif;
	    	font-size: 2.2rem;
	    	padding-bottom: 2rem;
	    	font-weight: 600;
	    }
	  }
	  .focus-related {
	  	color: $dark-green;
	    position: relative;
	    background-color: #d6e5df;
	    background-position: 6% 8%;
	    background-repeat: no-repeat;
	    padding: 5% 0 10% 5%;
	    h4 {
	    	font-size: 2.2rem;
	    	font-weight: 600;
	    	text-transform: uppercase;
	    	padding-bottom: 2rem;
	    }
	    ul {
	    	list-style-type: none;
	    }
	    a {
	    	color: $dark-green;
	    	font-size: 2.1rem;
	    	position: relative;
	    	@media (max-width: 1199px) {
	    		font-size: 1.8rem;
	    	}
    		&:before {
			    content: "\f105";
			    font-family: FontAwesome;
			    font-style: normal;
			    font-weight: normal;
			    text-decoration: inherit;
			    color: $dark-green;
			    font-size: 18px;
			    padding-right: 0.5em;
			    position: absolute;
			    top: 0px;
			    left: -30px;
				}
			}
	  }
	}
	.focus-image {
		display: block;
    padding-bottom: 45%;
    background-size: cover;
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -8rem;
    z-index: 10;
    position: relative;
    margin-bottom: 4rem;
    @media (max-width: 767px) {
	    max-width: 95%;
	    margin-top: 4rem;
    }
	}
	.explanation-cont {
		color: $dark-green;
    margin-bottom: 20rem;
	}
	.focus-projects {
		background-color: $dark-brown;
    margin-bottom: -6.6rem;
    padding-bottom: 10rem;
    display: inline-block;
    width: 100%;
    @media (max-width: 767px) {
    	margin-bottom: -6rem;
    }
    .col-sm-12 {
    	margin-top: -15rem;
    }
		h3 {
			color: $blue-green;
			font-weight: 600;
			font-size: 3.6rem;
			text-transform: uppercase;
			padding-left: 2rem;
			border-left: 4px solid $blue-green;
			margin-bottom: 6rem;
		}
		.focus-project {
			background: #fff;
			@media (min-width: 992px) {
		  	&:hover {
			    margin-top: -10px;
			    transition: all .3s ease-in-out;
			    -webkit-box-shadow: 0px 7px 15px 0px rgba(0, 0, 0, 0.25);
			    -moz-box-shadow: 0px 7px 15px 0px rgba(0, 0, 0, 0.25);
			    box-shadow: 0px 7px 15px 0px rgba(0, 0, 0, 0.25);
				}
		  }
			@media (max-width: 767px) {
		    max-width: 480px;
		    margin: 0 auto;
		    margin-bottom: 2rem;
			}
			.image {
		    padding-bottom: 50%;
		    background-size: cover;
			}
			.project-lnk {
		    text-align: center;
    		margin: 0 auto;
		    margin-top: -25px;
				a {
					background: #80b037;
			    width: 50px;
			    height: 50px;
			    border-radius: 50%;
			    display: inline-block;
			    margin-left: -20px;
			    i {
			    	font-size: 2rem;
			    	color: #fff;
	    	    padding-top: 17px;
			    }
				}
			}
			.text {
		    padding: 20px;
		    @media (max-width: 767px) {
			    padding: 15px;
				}
				a {
			    color: #7fb036;
			    font-size: 1.8rem;
			    font-weight: 500;
			    padding-bottom: 1.5rem;
			    display: block;
				}
			}
		}
	}
}
#about main {
	position: relative;
}
.about.landing {
	h2 {
		color: lighten($navy, 15%);
		margin-bottom: 5rem;
    text-transform: uppercase;
    font-size: 5.7rem;
    font-weight: 600;
	}
	h3 {
		color: lighten($navy, 15%);
    font-size: 3.6rem;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 7rem;
    letter-spacing: 1px;
	}
	.video-container {
    background-color: #9fc4cf;
    padding: .5rem;
    margin-top: 2rem;
    margin-right: -15px;
    @media (max-width: 767px) {
    	margin-right: 0;
    }
	}
	.quotee {
    width: 4%;
    height: 375px;
    img {
	    position: absolute;
	    bottom: 86px;
	    right: -11px;
		}
		#name {
			color: $navy;
	    transform: rotate(-90deg);
	    min-width: 129px;
	    margin-top: 35px;
	    padding-left: 15px;
	    padding-bottom: 76px;
		}
	}
	.message-from-ceo {
    margin-top: 4rem;
    padding-top: 4rem;
    margin-bottom: 4rem;
    border-top: 1px solid #eee;
	}
	.letter {
    display: inline-block;
    width: 50%;
    vertical-align: top;
    padding-left: 2rem;
    margin-left: 2rem;
    color: #6da4b5;
    background: #fff;
    padding: 2rem;
    &:before {
	    content: "";
	    background: #6da4b5;
	    height: 200px;
	    width: 2px;
	    position: absolute;
	    margin-left: -19px;
	  }
	}
	.letter-image {
    position: absolute;
    right: 0;
    top: 17%;
    padding-bottom: 56%;
    width: 58%;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
	}

	@media (min-width: 1440px) {
		.letter-image {
	    right: 0;
	    top: 18%;
	    padding-bottom: 40%;
	    width: 51%;
		}
	}
	@media (max-width: 1199px) {
		h2 {
			font-size: 5.2rem;
		}
		.letter {
			width: 57%;
		}
		.letter-image {
			padding-bottom: 66%;
		}
		.quotee img {
			display: block;
		}
	}
	@media (max-width: 991px) {
		h2 {
			font-size: 4.5rem;
		}
		.quotee img {
			display: none;
		}
		.letter-image {
			top: 16%;
		}
	}
	@media (max-width: 767px) {
		h2 {
			font-size: 4rem;
			margin-bottom: 3rem;
		}
		.quotee {
	    width: 100%;
	    height: auto;
		}
		.quotee #name {
			color: #6ca4b5;
	    transform: none;
	    min-width: 129px;
	    margin-top: 2rem;
	    padding-left: 0;
	    padding-bottom: 2rem;
	    border-bottom: 1px solid;
	    margin-bottom: 2rem;
		}
		.letter {
			padding: 0;
    	margin-left: 0;
    	width: 100%;
			&:before {
				display: none;
			}
		}
		.letter-image {
	    position: relative;
	    right: auto;
	    width: 100%;
		}
	}
}

#work-with-us {
	.about.landing {
		@media (min-width: 1440px) {
			width: 1170px;
		}
	}
}

.interior {
	h2 {
		color: #bccfdd;
	}
	h3 {
    color: $navy;
    margin-bottom: 2rem;
    text-transform: uppercase;
	}
	.top {
    background-size: cover;
    padding-bottom: 0%;
    margin-top: -40px;
    padding-top: 2rem;
    position: relative;
    z-index: 1;
    margin-bottom: 13rem;
    @media (max-width: 991px) {
    	margin-bottom: 8rem;
    }
	}
	.top-image-cont {
    margin-bottom: -10rem;
    @media (max-width: 991px) {
    	margin-bottom: -5rem;
    }
	}
	.droplets {
    position: absolute;
    left: 10%;
    bottom: 5%;
    background-repeat: no-repeat;
    max-width: 200px;
    z-index: 10;
    @media (max-width: 991px) {
    	max-width: 150px;
    }
    @media (max-width: 767px) {
    	display: none;
    }
	}
	.text {
		ul {
	    list-style-type: none;
	    float: left;
	    padding-left: 10rem;
	    @media (max-width: 1199px) {
	    	float: none;
		    display: inline-block;
		    vertical-align: top;
		    width: 49%;
	    }
	    @media (max-width: 767px) {
	    	padding-left: 3rem;
	    }
	    @media (max-width: 480px) {
	    	display: block; 
	    	width: 100%;
	    }
	    li {
	    	color: $green;
	    }
		}
	}
}

.clients {
	&.interior {
		.top {
			margin-bottom: 10rem;
		}
	}
	h2 {
		color: #b8cdc3;
	}
	.top-image-cont {
		margin-bottom: -5rem;
    background-image: url(/images/img-clients.jpg);
    background-size: cover;
		h3 {
	    font-family: "adobe-caslon-pro", Times, serif;
	    padding: 6rem 5rem 10rem;
	    color: #fff;
	    font-size: 3.6rem;
	    font-weight: 600;
      text-transform: none;
	    @media (min-width: 1200px) {
  	    padding: 12rem 7rem 18rem;
	    }
			@media (max-width: 991px) {
				font-size: 3rem;
			}
		}
	}
}

.making-waves {
	.ribbon {
    margin-top: -40px;
    text-align: center;
    background: #dff0f5;
    padding: 1.8rem 1rem 1rem;
    margin-bottom: 4rem;
    img {
    	width: 50px;
    	margin-top: -5px;
    }
    h2 {
	    display: inline-block;
	    font-size: 1.8rem;
	    text-transform: uppercase;
      color: $navy;
    	padding-left: 1rem;
		}
	}
	.date {
		margin-bottom: 1rem;
	}
	.date-time {
    margin: 0 auto;
    text-align: center;
    border-bottom: 1px solid #eee;
    margin-bottom: 2rem;
    .date {
	    background: #d55b20;
	    color: #fff;
	    display: inline-block;
	    padding: .5rem 1rem;
	    text-transform: uppercase;
	    font-weight: 400;
	    font-size: 2rem;
	    margin-bottom: 1rem;
		}
		.time {
			margin-bottom: 5px;
		}
		.time, .address {
	    font-size: 1.8rem;
	    color: #a4a59c;
		}
	}
	.feature-image {
		padding-bottom: 50%;
		background-size: cover;
	  background-position: center center;
	}
	.download-lnk {
		color: $orange;
		border-color: $orange;
		&:hover, &:focus, &:active, &:active:focus, &:active:hover {
			background-color: $orange;
			border-color: $orange;
			color: #fff;
		}
	}
	.related {
		border-top: 1px solid #eee;
		padding-top: 4rem;
		margin-top: 2rem;
		h4 {
	    text-transform: uppercase;
	    font-weight: 600;
	    font-size: 2rem;
	    margin-bottom: 3rem;
	    color: $orange;
		}
	}
	.event-image {
    padding-bottom: 53%;
    background-size: cover;
    @media (max-width: 767px) {
    	margin-bottom: 1.5rem;
    }
	}
	&.landing {
		&.article .subhead {
			margin-bottom: 1rem;
		}
		.top {
	    text-align: center;
	    margin-top: -40px;
	    padding: 12rem 15px;
	    background-image: url(/images/topography.png);
	    margin-bottom: 5rem;
	    -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
	    -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
	    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
			img {
				width: 200px;
			}
			h2 {
		    font-size: 8rem;
		    text-transform: uppercase;
		    font-weight: 600;
		    color: #6da4b5;
		    margin-top: 2rem;
		    @media (max-width: 415px) {
		    	font-size: 6rem;
		    }
			}
			.descr p {
		    font-size: 2.6rem;
		    color: #a7a7a7;
		    max-width: 850px;
		    margin: 0 auto;
		    line-height: 1.5;
		    @media (max-width: 415px) {
		    	font-size: 2rem;
		    }
			}
		}
		.feature-image, .event-image {
			padding-bottom: 50%;
			background-size: cover;
			background-position: center center;
			@media (max-width: 767px) {
				margin-bottom: 2rem;
			}
		}
		.entries > .row {
			margin-left: 0;
			margin-right: 0;

	    &:last-of-type {
	    	.col-sm-12 {
	    		border-bottom: 0;
	    	}
	    }
	    .col-sm-12 {
		    margin-bottom: 2rem;
		    padding-bottom: 2rem;
		    border-bottom: 1px solid #eee;
		    padding-left: 0;
		    padding-right: 0;
			}
		}
		.waves-block {
	    h5 {
		    margin-bottom: 1rem;
		    text-transform: uppercase;
		    color: #d55a1f;
		    letter-spacing: 1px;
		    font-weight: 600;
			}
		}
		.entries > row:last-of-type {
	    .waves-block {
	    	border-bottom: 0;
	    }
		}
	}
}

.brand-assets {
	.logo-wrapper {
    text-align: center;
    padding: 5rem 3rem;
	}
	.top-bg .logo-wrapper  {
  	background: #fff;
  }
  .dark-bg.logo-wrapper  {
  	background: $dark-brown;
  }
  .blue-bg.logo-wrapper  {
  	background: #5ba4c0;
  	@media (max-width: 767px) {
  		margin-bottom: 2rem;
  	}
  }
  .clearwater-bg.logo-wrapper  {
  	background: $clear-water;
  }
  .btn-primary {
  	text-align: center;
  	padding: .8rem;
		margin-bottom: 2rem;
		i {
	    font-size: 1.8rem;
	    padding-left: 10px;
		}
  }
  h3 {
    font-weight: 500;
    margin-top: 2rem;
    margin-bottom: 1rem;
	}
	p {
    margin-bottom: 3rem;
	}
	@media (max-width: 1199px) {
		.btn-primary {
			font-size: 1.3rem;
			letter-spacing: .5px;
		}
		h3 {
			font-size: 2.1rem;
		}
	}
}

