// Variables

// Table of Contents
//
// Color system
// Fonts
// Spacing
// Body
// Links
// Tables

// Grid breakpoints
// Grid containers
// Grid columns
// Components
// Buttons
// Forms
// Dropdowns
// Z-index master list
// Navs
// Navbar
// Pagination
// Jumbotron
// Form states and alerts
// Cards
// Tooltips
// Popovers
// Badges
// Modals
// Alerts
// Progress bars
// List group
// Image thumbnails
// Figures
// Breadcrumbs
// Carousel
// Close
// Code

$dark-green: #6b855c;
$green: #789272;
$green-blue: #73a393;
$blue-green: #7baaad;
$navy: #6ca4b5;
$clear-water: #cbe7f0;
$dark-brown: #767769;
$orange: #d55a1f;
$lime-green: #7fb036;
$purple: #8a79a8;
$font-family-base: "futura-pt", Helvetica, sans-serif;
$font-serif:  "adobe-caslon-pro", Times, serif;
$font-size-lg:   1.25rem !default;
$font-size-sm:   .875rem !default;
$font-weight-normal: normal !default;
$font-weight-bold: bold !default;
$font-weight-base: $font-weight-normal !default;
$line-height-base: 1.5 !default;
$h1-font-size: 2.5rem !default;
$h2-font-size: 2rem !default;
$h3-font-size: 1.75rem !default;
$h4-font-size: 1.5rem !default;
$h5-font-size: 1.25rem !default;
$h6-font-size: 1rem !default;
$body-color: $dark-brown;
$text-muted: rgba(119, 119, 119, .5);
$body-bg: #fff;
$dt-font-weight: normal;
$link-color: #7baaad;
$link-decoration: none;
$link-hover-color: #cbe7f0;
$link-hover-decoration: underline;
$table-cell-padding: .75rem !default;
$enable-hover-media-query:  false !default;
@-webkit-keyframes fadein {
  100% {
    opacity: 1; 
  } 
}
@-moz-keyframes fadein {
  100% {
    opacity: 1; 
  }
}
@-o-keyframes fadein {
  100% {
    opacity: 1; 
  }
}
@keyframes fadein {
  100% {
    opacity: 1; 
  }
}

.come-in-left {
  transform: translateX(-600px);
  animation: come-in-left 0.8s ease forwards;
}
.come-in-left:nth-child(odd) {
  animation-duration: 0.6s;
}

@keyframes come-in-left {
  to { transform: translateX(0px); }
}

.come-in-top {
  transform: translateY(150px);
  animation: come-in-top 0.8s ease forwards;
}
.come-in-top:nth-child(odd) {
  animation-duration: 0.6s;
}

@keyframes come-in-top {
  to { transform: translateY(0); }
}