
{% extends "_layout" %}
{% set title = entry.title %}

{% block content %}

<div class="making-waves article">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="breadcrumbs pull-right">
					{% if craft.app.request.segments %}
					<nav class="breadcrubs">
					    <div class="container">
					        <div class="row">
					            <ol class="breadcrumb">
					                <li><a href="{{ siteUrl }}">Home</a></li>
					                <li>{{ entry.title }}</li>
					            </ol>
					        </div>
					    </div>
					</nav>
					{% endif %}
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
	    	<h1 class="title">{{ entry.title }}</h1>
				{% if entry.subhead | length %}
					<h3 class="subhead">{{ entry.subhead }}</h3>
				{% endif %}
				{% if entry.articleDate | length %}
     		<p class="date">{{ entry.articleDate | date("M j, Y") }}</p>
     		{% endif %}

				{% for block in entry.articleBody.all() %}

			    {% if block.type == "image" %}
		        {% set image = block.image.one() %}
		        {% if image %}
		        	<div class="image-cont {{ block.position }}">
		        		<div class="feature-image" style="background-image: url({{ image.url }});"></div>
		        		{% if block.caption | length %}
				        	<div class="caption">{{ block.caption }}</div>
				        {% endif %}
	        		</div>
		        {% endif %}


			    {% elseif block.type == "pullQuote" %}
		        <blockquote class="{{ block.position }}">
		          <p>{{ block.quote }}</p>
		          {% if block.quotee | length %}
		          <cite>– {{ block.quotee }}</cite>
		          {% endif %}
		        </blockquote>

			    {% elseif block.type == "text" %}
			      {{ block.articleText|markdown }}

			    {% endif %}
				{% endfor %}
		</div>
	</div>
	{% if entry.relatedItems | length %}
	<div class="row">
		<div class="col-sm-12">
			<div class="related">
			<h4>Related Items</h4>
			{% for block in entry.relatedItems.all() %}
				{% if block.type == "relatedLink" %}
					<a href="{{ block.hyperlink }}" class="download-lnk" target="_blank">{{ block.linkTitle }} <i class="fa fa-share" aria-hidden="true"></i></a>
				{% endif %}
			{% endfor %}
			</div>
		</div>
	</div>
	{% endif %}
</div>

{% endblock %}