{#
 # Team Member index template
 # -------------------
 #
 # This template is loaded whenever http://example.com/team-members is
 # requested, because it is located at team-members/index.html in your
 # craft/templates/ folder.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layout" %}
{% set title = "Our Team" %}

{% block content %}
<div class="container team-index">
	<div class="row">
		<div class="col-sm-12">
			<div class="breadcrumbs pull-right">
				{% if craft.app.request.segments %}
				<nav class="breadcrubs">
			    <div class="container">
			        <div class="row">
			            <ol class="breadcrumb">
			                <li><a href="{{ siteUrl }}">Home</a></li>
			                {% for crumb in entry.getAncestors().all() %}
			                    <li>{{ crumb.getLink() }}</li>
			                {% endfor %}
			                <li>{{ entry.title }}</li>
			            </ol>
			        </div>
			    </div>
			</nav>
			{% endif %}
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 index-top">
			<div class="descr">
				{{ entry.body }}
			</div>
		</div>
	</div>
	{% set ourTeam = craft.entries({
	  section: 'ourTeam',
	  type: ['teamMember', 'administrator'],
	}) %}

	{% set entries = ourTeam.all() %}

	{% for row in entries|batch(4) %}
    <div class="row">
      {% for entry in row %}
        <div class="col-md-3 col-xs-6">
					<div class="person-block">
						{% if entry.bioPhoto | length %}
					    {% for asset in entry.bioPhoto.all() %}
					    {% set transformedImage = craft.imager.transformImage(asset, { width: 350 }) %}
					        <a href="{{ entry.url }}"><img src="{{ transformedImage.url }}"></a>
					    {% endfor %}
						{% endif %}
						<h3 class="bio-name"><a href="{{ entry.url }}">{{ entry.title }}</a></h3>
						<h4 class="bio-title">{{ entry.teamMemberTitle }}</h4>
					</div>
				</div>
      {% endfor %}
    </div>
{% endfor %}
</div>
{% endblock %}
