{#
 # Team Member entry template
 # -------------------
 #
 # This template gets loaded whenever a Technical Team Member entry’s URL is
 # requested. That’s because the Technical Team section’s Template setting is
 # set to “technical-team/_entry”, the path to this template.
 #
 # When this template is loaded, it will already have an ‘entry’
 # variable, set to the requested News entry.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layout" %}
{% set title = entry.title %}

{% block content %}

<div class="team-member detail">
	<div class="top-bg">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="breadcrumbs pull-right">
						{% if craft.app.request.segments %}
						<nav class="breadcrubs">
					    <div class="container">
				        <div class="row">
			            <ol class="breadcrumb">
		                <li><a href="{{ siteUrl }}">Home</a></li>
		                {% for crumb in entry.getAncestors().all() %}
	                    <li>{{ crumb.getLink() }}</li>
		                {% endfor %}
		                <li>{{ entry.title }}</li>
			            </ol>
				        </div>
					    </div>
						</nav>
						{% endif %}
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 col-sm-4">
					<div class="team-member-photo">
						{% if entry.bioPhoto | length %}
					    {% for asset in entry.bioPhoto.all() %}
				        <img src="{{ asset.url }}">
					    {% endfor %}
						{% endif %}
					</div>
				</div>
				<div class="col-md-9 col-sm-8">
					<h2>{{ entry.title }}</h2>
					<h3>{{ entry.teamMemberTitle }}</h3>
					<div class="contact-info">
						{% if entry.teamMemberPhone | length %}
							<div><a href="tel:+1{{ entry.teamMemberPhone }}"><i class="fa fa-phone" aria-hidden="true"></i><span>{{ entry.teamMemberPhone }}</span></a></div>
						{% endif %}
						<div><a href="mailto:{{ entry.teamMemberEmail }}"><i class="fa fa-envelope-o" aria-hidden="true"></i><span>{{ entry.teamMemberEmail }}</span></a></div>
						{% if entry.teamMemberCv | length %}
					    {% for asset in entry.teamMemberCv.all() %}
					        <div><a href="{{ asset.url }}" target="_blank"><i class="fa fa-download" aria-hidden="true"></i><span>CV</span></a></div>
					    {% endfor %}
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<article>
					{{ entry.body }}
				</article>
				{% set relatedWork = craft.entries.section(['projects','reports','publications']).relatedTo({
						targetElement: entry,
				})%}
				{% if relatedWork | length %}
				<div class="projects-publications">
					<div class="more" id="more1">
						<div class="row" id="content">
							{% set relatedProjects = craft.entries.section('projects').relatedTo({
							    targetElement: entry,
							}) %}
							{% if relatedProjects | length %}
							<div class="col-sm-4">
								<h4>Projects</h4>
								<ul>
								{% set primaryAuthors = craft.entries.section('projects').relatedTo({
								    targetElement: entry,
								    field: 'primaryTeamMembers',
								}) %}
						    {% for entry in primaryAuthors.all() %}
						    	<li>
						    		<a href="{{ entry.url }}">{{ entry.title }}</a>
						    		<span class="primary-author">Primary Author</span>
						    	</li>
						    {% endfor %}
						    {% set contributingAuthors = craft.entries.section('projects').relatedTo({
								    targetElement: entry,
								    field: 'contributingTeamMembers',
								}) %}
						    {% for entry in contributingAuthors.all() %}
						    	<li><a href="{{ entry.url }}">{{ entry.title }}</a></li>
						    {% endfor %}
								</ul>
							</div>
							{% endif %}
							{% set relatedReports = craft.entries.section('reports').relatedTo({
							    targetElement: entry,
							}) %}
							{% if relatedReports | length %}
							<div class="col-sm-4">
								<h4>Reports</h4>
								<ul>
								{% set primaryAuthors = craft.entries.section('reports').relatedTo({
								    targetElement: entry,
								    field: 'primaryTeamMembers',
								}) %}
						    {% for entry in primaryAuthors.all() %}
						    	<li>
						    		<a href="{{ entry.url }}">{{ entry.title }}</a>
						    		<span class="primary-author">Primary Author</span>
						    	</li>
						    {% endfor %}
						    {% set contributingAuthors = craft.entries.section('reports').relatedTo({
								    targetElement: entry,
								    field: 'contributingTeamMembers',
								}) %}
						    {% for entry in contributingAuthors.all() %}
						    	<li><a href="{{ entry.url }}">{{ entry.title }}</a></li>
						    {% endfor %}
								</ul>
							</div>
							{% endif %}
							{% set relatedPublications = craft.entries.section('publications').relatedTo({
							    targetElement: entry,
							}) %}
							{% if relatedPublications | length %}
							<div class="col-sm-4">
								<h4>Publications</h4>
								<ul>
									{% set primaryAuthors = craft.entries.section('publications').relatedTo({
								    targetElement: entry,
								    field: 'primaryTeamMembers',
									}) %}
							    {% for entry in primaryAuthors.all() %}
						    	<li>
						    		<a href="{{ entry.url }}">{{ entry.title }}</a>
						    		<span class="primary-author">Primary Author</span>
						    	</li>
							    {% endfor %}
							    {% set contributingAuthors = craft.entries.section('publications').relatedTo({
									    targetElement: entry,
									    field: 'contributingTeamMembers',
									}) %}
							    {% for entry in contributingAuthors.all() %}
							    	<li><a href="{{ entry.url }}">{{ entry.title }}</a></li>
							    {% endfor %}
								</ul>
							</div>
							{% endif %}
						</div>
					</div>
					<div class='read-more-btn' for="more1" id="readMore">
            <p class="btn_text">See All Work <i class='fa fa-angle-down'></i></p>
          </div>
					
				</div>
				{% endif %}
			</div>
			<div class="col-md-4">
				{% set featuredWork = craft.entries.section([ 'projects','reports','publications']).relatedTo({
				  sourceElement: entry,
				}) %}
				{% if featuredWork | length %}
				<div class="related-block">
					<h4>FEATURED WORK</h4>
						{% for relatedPost in featuredWork.all() %}
						<div class="related-item">
							{% if relatedPost.projectPhoto | length %}
		          <img src="{{ relatedPost.projectPhoto.one.url('relatedPhoto') }}" />
		          <div>
								<a href="{{ relatedPost.url }}">{{ relatedPost.title }}</a>
								{% if relatedPost.summary | length %}
								<p>{{ relatedPost.summary|striptags|slice(0,120)|default('Read more') }}...</p>
								{% elseif relatedPost.challenge |length %}
								<p>{{ relatedPost.challenge|striptags|slice(0,120)|default('Read more') }}...</p>
								{% endif %}
							</div>
							{% else %}
							<div class="no-photo">
								<a href="{{ relatedPost.url }}">{{ relatedPost.title }}</a>
								{% if relatedPost.summary | length %}
								<p>{{ relatedPost.summary|striptags|slice(0,120)|default('Read more') }}...</p>
								{% elseif relatedPost.challenge |length %}
								<p>{{ relatedPost.challenge|striptags|slice(0,120)|default('Read more') }}...</p>
								{% endif %}
							</div>
							{% endif %}
						</div>
					{% endfor %}
				</div>
				{% endif %}
				{% if entry.areasOfExpertise | length %}
				<div class="related-block">
					<h4>Areas of Expertise</h4>
					{{ entry.areasOfExpertise }}
				</div>
				{% endif %}
			</div>
		</div>
	</div>
</div>

{% endblock %}
