{% extends "_layout" %}
{% block content %}
{% set teamMember = craft.entries.section('technicalTeam').type('teamMember') %}
{% set teamMemberProjects = craft.entries.section('projects').relatedTo(entry) %}
{% set teamMemberReports = craft.entries.section('reports').relatedTo(entry) %}
{% set teamMemberPublications = craft.entries.section('publications').relatedTo(entry) %}
<div class="container project index">
	<div class="row">
		<div class="col-sm-12">
			{% if entry.teamMemberProjects | length %}
			<h2>Projects</h2>
			{% for entry in teamMemberProjects %}
			  <article>
			      <a href="{{ entry.url }}">{{ entry.title }}</a>
			  </article>
			{% endfor %}
			{% endif %}
			{% if entry.teamMemberReports | length %}
			<h2>Reports</h2>
			{% for entry in teamMemberReports %}
			  <article>
			      <a href="{{ entry.url }}">{{ entry.title }}</a>
			  </article>
			{% endfor %}
			{% endif %}
			{% if entry.teamMemberPublications | length %}
			<h2>Publications</h2>
			{% for entry in teamMemberPublications %}
			  <article>
			      <a href="{{ entry.url }}">{{ entry.title }}</a>
			  </article>
			{% endfor %}
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}