.cycle-overlay { font-family: "futura-pt-n7", "futura-pt", Helvetica, sans-serif; position: absolute; top: 50%; left: 10%; width: 80%; z-index: 200; color: yellow; padding: 15px; font-size: 6rem; font-weight: 600; letter-spacing: 1px; text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5); text-transform: uppercase; transform: translateY(-50%); top: 50% !important; opacity: 1; animation: none;}
h1 {
	color: yellow;
}