/*
    these are just the default styles used in the Cycle2 demo pages.  
    you can use these styles or any others that you wish.
*/
/*.slideUpIn {
    animation-timing-function: cubic-bezier(.77,0,.175,1);
    animation-duration: .75s!important
}

@keyframes slideUpIn {
    from {
        transform: translate3d(0,350px,0)
    }

    to {
        transform: translate3d(0,0,0)
    }
}

.slideUpIn {
    animation-name: slideUpIn;
    animation-delay: .125s
}*/

/* set border-box so that percents can be used for width, padding, etc (personal preference) */
.cycle-slideshow, .cycle-slideshow * { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }


.cycle-slideshow { width: 100%; margin: 0; padding: 0; position: relative; max-height: 70vh; -webkit-transform-style: preserve-3d; -moz-transform-style: preserve-3d; transform-style: preserve-3d; }
@media (max-width: 767px) {
    .cycle-slideshow {
        max-height: 50vh!important;
    }
}

.cycle-slideshow:before {
    content: "";
    position: absolute;
    z-index: 101;
    top: 0;
    width: 100%;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.25);
}

/* slideshow images (for most of the demos, these are the actual "slides") */
.cycle-slideshow img, .cycle-slideshow figure { 
    /* 
    some of these styles will be set by the plugin (by default) but setting them here
    helps avoid flash-of-unstyled-content
    */
    position: absolute; top: 0; left: 0;
    width: 100%; padding: 0; display: block; height: 70vh;
    background-repeat: no-repeat; background-size: cover;margin-bottom: 0;
}

/* in case script does not load */
.cycle-slideshow img:first-child {
    position: static; z-index: 100;
}

/* pager */
.cycle-pager { 
    text-align: center; width: 100%; z-index: 500; position: absolute; bottom: 10px; overflow: hidden;
}

#custom-pager {
    position: absolute;
    bottom: 5%;
    z-index: 102;
    left: 50%;
    margin-left: -75px;
}

.pager-block {
    width: 70px;
    height: auto;
    display: inline-block;
    margin-right: 5px;
    padding: 10px 0;
    
}

@media (max-width: 600px) {
    .pager-block {
        width: 48px;
    }
}

.pager-block:hover {
    cursor: pointer;
}

.pager-block a {
    display: block;
    height: 3px;
    background: rgba(255, 255, 255, 0.7);
}
.pager-block.cycle-pager-active a {
    background: #fff;
}

.cycle-pager span { 
    font-family: arial; font-size: 50px; width: 16px; height: 16px; 
    display: inline-block; color: #ddd; cursor: pointer; 
}
.cycle-pager span.cycle-pager-active { color: #D69746;}
.cycle-pager > * { cursor: pointer;}


/* caption */
.cycle-caption { position: absolute; color: white; bottom: 15px; right: 15px; z-index: 700; }


/* overlay */
.cycle-overlay { font-family: "futura-pt-n7", "futura-pt", Helvetica, sans-serif; position: absolute; left: 10%; width: 80%; z-index: 200; color: white; padding: 15px; font-size: 6rem; font-weight: 600; letter-spacing: 1px; text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5); text-transform: uppercase; transform: translateY(-50%); top: 50% !important; opacity: 0;}

.cycle-overlay div { font-size: 6rem; line-height: 1.2; font-weight: 600; letter-spacing: 1px; text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5); text-transform: uppercase; }

.cycle-overlay div:first-of-type {
    margin-bottom: 2rem;
}

@media (min-width: 1200px) {
    .cycle-overlay div { bottom: initial; top: 50%; transform: translateY(-50%); }
}
@media (max-width: 1200px) {
    .cycle-overlay { 
        top: 33%!important; 
    }
}
@media (max-width: 992px) {
    .cycle-overlay { 
        top: 50%!important; 
    }
    .cycle-overlay div {
        font-size: 4.5rem;
    }
}
@media (max-width: 767px) {
    .cycle-overlay { 
        top: 33%!important; 
    }
}
@media (max-width: 600px) {
    .cycle-overlay div {
        font-size: 4rem;
    }
}
@media (max-width: 600px) {
    .cycle-overlay {
        left: 5%;
        width: 90%;
    }
    .cycle-overlay div {
        font-size: 3rem;
    }
}
@media (max-width: 480px) {
    .cycle-overlay {
        top: 20%!important;
    }
}
@media (max-width: 320px) {
    .cycle-overlay {
        left: 2%;
        width: 95%;
    }
}
@media (max-height: 450px) {
    .cycle-overlay div {
        font-size: 5rem;
    }
}
@media (max-height: 415px) {
    .cycle-overlay {
        top: 20%!important;
        left: 5%;
        width: 90%;
    }
    .cycle-overlay div {
        font-size: 3rem;
    }
    .cycle-slideshow { 
        max-height: 70vh;
    }
}
@media (max-height: 320px) {
    .cycle-overlay {
        top: 15%!important;
    }
}

.cycle-overlay div:nth-of-type(2) {
    line-height: 1;
    font-size: 2.8rem;
}

.cycle-overlay div a {
    font-size: 2.2rem;
    color: #cce6ed;
    text-transform: none;
    font-weight: 500;
    border-bottom: 2px solid;
}
.cycle-overlay div a:hover {
    color: #fff;
    text-decoration: none;
}
/* prev / next links */
.cycle-prev, .cycle-next { position: absolute; top: 0; width: 30%; opacity: 1; filter: alpha(opacity=0); z-index: 101; height: 100%; cursor: pointer; }
.cycle-prev { left: 0;  background: url(../images/img-arrw-left.png) 20% 95% no-repeat;}
.cycle-next { right: 0; background: url(../images/img-arrw-right.png) 85% 95% no-repeat;}
@media (max-height: 415px) {
    .cycle-prev {
        background-position-y: 90%;
    }
    .cycle-next {
        background-position-y: 90%;
    }
}
.cycle-prev:hover, .cycle-next:hover { opacity: .7; filter: alpha(opacity=70) }

.disabled { opacity: .5; filter:alpha(opacity=50); }


/* display paused text on top of paused slideshow */
.cycle-paused:after {
    content: 'Paused'; color: white; background: black; padding: 10px;
    z-index: 500; position: absolute; top: 10px; right: 10px;
    border-radius: 10px;
    opacity: .5; filter: alpha(opacity=50);
}

/* 
    media queries 
    some style overrides to make things more pleasant on mobile devices
*/

@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
    .cycle-slideshow { width: auto; }
    .cycle-overlay { padding: 4px 10px; }
    .cycle-caption { bottom: 4px; right: 4px; }
}