
{% extends "_layout" %}
{% set title = "Publictions" %}

{% block content %}
	<h1>Page Title</h1>

	{% for entry in craft.entries.section('publications').find() %}
		<main>
			<h3><a href="{{ entry.url }}">{{ entry.title }}</a></h3>
			<p>Posted on {{ entry.postDate.format('F d, Y') }}</p>
			{{ entry.body.getPage(1) }}
			<p><a href="{{ entry.url }}">Continue reading</a></p>
		</main>
	{% endfor %}
{% endblock %}
