{% extends "_layout" %}
{% set title = "Publications" %}

{% block content %}
<div class="container publications index">
  <div class="row">
    <div class="col-sm-12 search-results">
    <h1>Search Results</h1>
      {# defaults #}
      {% set queryParams = {
        section: 'publications',
        order: 'postDate desc',
      } %}


      {# Build a category array beginning with 'and' and add targetElement objects with selected categories Ids to it #}
      {% set categoriesArray = ['and'] %}

      {% set searchTeam = craft.request.getParam('member') %}
      {% if searchTeam is not empty %}
        {% set searchTeamCat = craft.entries.slug(searchTeam).ids() %}
        {% set categoriesArray = categoriesArray|merge([{
          targetElement: searchTeamCat,
        }]) %}
      {% endif %}


      {# multiple vs single categories
      - If there is more than just the "and" in the categoriesArray, use relatedTo and the categoriesArray to build the last part of our query
      #}
      {% if categoriesArray|length > 1 %}

        {% set queryParams = queryParams|merge({
          relatedTo: categoriesArray
        }) %}

      {% endif %}

      {# search #}
      {% set searchQ = craft.request.getParam('q') %}
      {% if searchQ is not empty %}
        {% set queryParams = queryParams|merge({
          search: {
            query: 'title:' ~ searchQ,
            subLeft: true,
            subRight: true,
          }
        }) %}
      {% endif %}

      {# number of items found #}
      {% set totalEntries = craft.entries(queryParams).total() %}
      <p>{{ totalEntries }} publications found for 
        {% if searchQ is not empty %} "<strong>{{ searchQ }}</strong>"{% endif %} 
        {% if searchTeam is not empty %}"<strong>{{ searchTeam }}</strong>"{% endif %}
      </p>

      {# paginated blogposts #}
      {% set publicationEntries = craft.entries(queryParams) %}
      {% paginate publicationEntries as paginate, publications %}

      {# entries loop #}
      {% for item in publications %}

      {% if loop.first %}<div>{% endif %}
        <div class="index-block">
          <h4 class=""><a href="{{ item.url }}">{{ item.title }}</a></h4>
          <p class="">{{ item.summary|striptags|slice(0,150)|default('Read more') }}...</p>
          <a href="{{ item.url }}" class="project-link">View Publication <i class="fa fa-angle-right" aria-hidden="true"></i></a>
        </div>
        
      {% if loop.last %}</div>{% endif %}

    {% else %}

      <p>No results found</p>

    {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
