{#
 # Team Member index template
 # -------------------
 #
 # This template is loaded whenever http://example.com/focus-areas is
 # requested, because it is located at focus-areas/index.html in your
 # craft/templates/ folder.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layout" %}
{% set title = "Focus Areas" %}

{% block content %}
	<h1>Page Title</h1>

	{% for entry in craft.entries.section('focusAreas').find() %}
		<main>
			<h3><a href="{{ entry.url }}">{{ entry.title }}</a></h3>
			<p>Posted on {{ entry.postDate.format('F d, Y') }}</p>
			{{ entry.body.getPage(1) }}
			<p><a href="{{ entry.url }}">Continue reading</a></p>
		</main>
	{% endfor %}
{% endblock %}
