{% extends "_layout" %}
{% set title = entry.title %}

{% block content %}
<div class="about interior">
	<div class="top" style="background-image: url(/images/img-about-interior-bg.jpg);">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="breadcrumbs pull-right">
						{% if craft.request.segments %}
						<nav class="breadcrubs">
					    <div class="container">
					        <div class="row">
					            <ol class="breadcrumb">
					                <li><a href="{{ siteUrl }}">Home</a></li>
					                {% for crumb in entry.getAncestors() %}
					                    <li>{{ crumb.getLink() }}</li>
					                {% endfor %}
					                <li>{{ entry.title() }}</li>
					            </ol>
					        </div>
					    </div>
					</nav>
					{% endif %}
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12 index-top">
					<h2>{{ entry.title }}</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-10 col-sm-push-2">
					<div class="top-image-cont">
					{% if entry.bannerImage | length %}
				    {% for asset in entry.bannerImage %}
						<img src="{{ asset.url }}" />
						{% endfor %}
					{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-sm-2">
				<img class="droplets" src="/images/img-water-droplets.png" />
			</div>
			<div class="col-sm-10">
				<div class="text">
					{{ entry.body }}
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
