{% extends "_layout" %}
{% block content %}

<div class="container search-results">
	<h1>Search Results</h1>

	{% set query = craft.request.getParam('q') %}
	{% set entries = craft.entries.search(query).order('score') %}

	{% if entries|length %}
	    <p>{{ entries|length }} results for "<strong>{{ query }}</strong>":</p>

	    <ul>
	        {% for entry in entries %}
	            <li><a href="{{ entry.url }}">{{ entry.title }}</a></li>
	        {% endfor %}
	    </ul>
	{% else %}
	    <p>Your search for “{{ query }}” didn’t return any results.</p>
	{% endif %}
</div>

{% endblock %}