{#
 # Featured Project entry template
 # -------------------
 #
 # This template gets loaded whenever a featured project entry’s URL is
 # requested. That’s because the Featured Project section’s Template setting is
 # set to “projects/_entry”, the path to this template.
 #
 # When this template is loaded, it will already have an ‘entry’
 # variable, set to the requested News entry.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layout" %}
{% set title = entry.title %}

{% block content %}

<div class="project feature">
	{% if not entry.projectPhoto | length %}
	<div class="top-bg no-image">
	{% else %}
	<div class="top-bg">
	{% endif %}
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="breadcrumbs pull-right">
						{% if craft.app.request.segments %}
						<nav class="breadcrubs">
						    <div class="container">
						        <div class="row">
						            <ol class="breadcrumb">
						                <li><a href="{{ siteUrl }}">Home</a></li>
						                {% for crumb in entry.getAncestors().all() %}
						                    <li>{{ crumb.getLink() }}</li>
						                {% endfor %}
						                <li>{{ entry.title }}</li>
						            </ol>
						        </div>
						    </div>
						</nav>
						{% endif %}
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-10">
					{% if entry.clientName | length %}
					<h2>{{ entry.clientName }}</h2>
					{% endif %}
					<h1>{{ entry.projectName }}</h1>
					{% if entry.projectSubtitle | length %}
					<h3 class="subtitle">{{ entry.projectSubtitle }}</h3>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			{% if entry.projectPhoto | length %}
				<div class="col-md-10">
			    {% for asset in entry.projectPhoto.all() %}
						<div class="project-image" style="background-image: url({{ asset.url }});"></div>
			    {% endfor %}
				</div>
				{% if entry.duration | length %}
				<div class="col-md-2 duration">Duration:<br> {{ entry.duration }}</div>
				{% endif %}
				{% else %}
				{% if entry.duration | length %}
				<div class="col-md-12 duration">Duration: {{ entry.duration }}</div>
				{% endif %}
			{% endif %}
		</div>
		<div class="row">
			<div class="col-md-8 project-explanation">
				{% if entry.documentAuthor | length %}
				<p class="author"><span>Other Author(s):</span> {{ entry.documentAuthor }}</p>
				{% endif %}
				{% if entry.intro | length %}
				<div class="intro">{{ entry.intro }}</div>
				{% endif %}
				{% if entry.challenge | length %}
				<div class="challenge"><h3>The Challenge</h3>
					{{ entry.challenge }}
				</div>
				{% endif %}
				{% if entry.approach | length %}
				<div class="approach">
				<h3>The Approach</h3>
					{{ entry.approach }}
				</div>
				{% endif %}
				{% if entry.projectDocuments | length %}
				<div class="related-documents">
				<h3>Related Documents</h3>
					{% for asset in entry.projectDocuments.all() %}
						<a class="download-lnk" href="{{ asset.url }}" target="_blank">{{ asset.title }}<i class="fa fa-download" aria-hidden="true"></i></a>
					{% endfor %}
				</div>
				{% endif %}
			</div>
			<div class="col-md-4">
				{% if entry.relatedItems | length %}
				<div class="related">
				{% for block in entry.relatedItems.all() %}
					{% if block.type == "relatedLink" %}
						<a href="{{ block.hyperlink }}" class="download-lnk" target="_blank">{{ block.linkTitle }} <i class="fa fa-share" aria-hidden="true"></i></a>
					{% endif %}
				{% endfor %}
				</div>
				{% endif %}
				{% set keyTeamMembers = craft.entries.section('ourTeam').relatedTo(entry) %}
				{% if keyTeamMembers | length %}
				<div class="related-block">
					<h4>KEY TEAM MEMBERS</h4>
					{% set primaryInvestigators = craft.entries.section('ourTeam').relatedTo({
					    sourceElement: entry,
					    field: 'primaryTeamMembers'
					}) %}
			    {% for entry in primaryInvestigators.all() %}
			    	<div class="related-item">
				    	<img src="{{ entry.bioPhoto.one.url }}" width="80" />
				    	<div>
			        	<a href="{{ entry.url }}">{{ entry.title }}</a>
			        	<p>{{ entry.teamMemberTitle }}</p>
			        	<span class="primary-author">Primary Investigator</span>
			        	<a href="{{ entry.url }}" class="view-more">VIEW TEAM MEMBER <i class="fa fa-angle-right" aria-hidden="true"></i></a>
			        </div>
		        </div>
			    {% endfor %}
			    {% set contributingAuthors = craft.entries.section('ourTeam').relatedTo({
					    sourceElement: entry,
					    field: 'contributingTeamMembers'
					}) %}
			    {% for entry in contributingAuthors.all() %}
			    	<div class="related-item">
				    	<img src="{{ entry.bioPhoto.one.url }}" width="80" />
				    	<div>
			        	<a href="{{ entry.url }}">{{ entry.title }}</a>
			        	<p>{{ entry.teamMemberTitle }}</p>
			        	<a href="{{ entry.url }}" class="view-more">VIEW TEAM MEMBER <i class="fa fa-angle-right" aria-hidden="true"></i></a>
			        </div>
		        </div>
			    {% endfor %}
			  </div>
			  {% endif %}
			  {% if entry.equipment | length %}
				<div class="related-block">
					<h4>Equipment Used</h4>
					{{ entry.equipment }}
				</div>
				{% endif %}
			</div>
		</div>
	</div>
</div>

{% endblock %}