
{% extends "_layout" %}
{% set title = entry.title %}

{% block content %}

<div class="media article in-the-news">
	<div class="top-bg">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="breadcrumbs pull-right">
						{% if craft.app.request.segments %}
						<nav class="breadcrubs">
						    <div class="container">
						        <div class="row">
						            <ol class="breadcrumb">
						                <li><a href="{{ siteUrl }}">Home</a></li>
						                {% for crumb in entry.getAncestors().all() %}
						                    <li>{{ crumb.getLink() }}</li>
						                {% endfor %}
						                <li>{{ entry.title }}</li>
						            </ol>
						        </div>
						    </div>
						</nav>
						{% endif %}
					</div>
				</div>
			</div>
			<div class="row">
			{% if entry.articleImage | length %}
				<div class="col-md-6">
					<h2 class="category">IN THE NEWS</h2>
					<h1 class="title">{{ entry.title }}</h1>
					{% if entry.subhead | length %}
						<h3 class="subhead">{{ entry.subhead }}</h3>
					{% endif %}
	     		<p class="date">{{ entry.articleDate | date("M j, Y") }}</p>
				</div>
				<div class="col-md-6">
		    {% for asset in entry.articleImage.all() %}
					<div class="feature-image" style="background-image: url({{ asset.url }});"></div>
		    {% endfor %}
				</div>
				{% else %}
				<div class="col-md-12">
					<h2 class="category">IN THE NEWS</h2>
					<h1 class="title">{{ entry.title }}</h1>
					{% if entry.subhead | length %}
						<h3 class="subhead">{{ entry.subhead }}</h3>
					{% endif %}
					<p class="date">{{ entry.articleDate | date("M j, Y") }}</p>
				</div>
			{% endif %}
			</div>
		</div>
	</div>
	<div class="container">
		
		<div class="row">
			<div class="col-md-8 article-text">
				<div class="article-info">
				<span>ORIGINALLY PUBLISHED IN:</span>
				{% if entry.mediaOutlet | length %}
	        <h4>{{ entry.mediaOutlet }}</h4>
	      {% endif %}
		    </div>
		    <hr>
		    {{ entry.body }}
			</div>
			<div class="col-md-4 sidebar">
				{% if entry.articleLink | length %}
					<a href="{{ entry.articleLink }}" class="download-lnk" target="_blank">Article Link <i class="fa fa-share" aria-hidden="true"></i></a>
				{% endif %}
				<div class="related-block">
					<h4>Other News</h4>
					{% set otherNews = craft.entries({
					  section: 'media',
					  type: 'inTheNews',
					}).id('not ' ~ entry.id).limit('6') %}
					<ul>
			    {% for newsArticle in otherNews.all() %}
						<li><a href="{{ newsArticle.url }}">{{ newsArticle.title }}</a></li>
			    {% endfor %}
			    </ul>
			  </div>
			</div>
		</div>
	</div>
</div>

{% endblock %}