{% extends "_layout" %}
{% set title = "Making Waves" %}

{% block content %}
<div class=" making-waves article landing">
	<div class="top">
		<img src="/images/img-wave-icon.png"/>
		<h2>Making Waves</h2>
		<div class="descr">
			{{ entry.body }}
		</div>
	</div>
	<div class="container">
		<div class="entries">
		{% paginate craft.entries.section('makingWaves').type(['makingWavesArticle', 'makingWavesEvent']).order('postDate desc').limit(12) as pageInfo, pageEntries %}
	    {% for entry in pageEntries %}
		    {% if entry.type.handle == 'makingWavesArticle' %}
		    <div class="row">
		      <div class="col-sm-12">
						<div class="waves-block">
							<h5>Feature</h5>
							<div class="row">
								<div class="col-sm-6">
									{% for block in entry.articleBody %}
					      	  {% if block.type == "image" %}
						        	{% set image = block.image.first() %}
						        	{% if image %}
										 	<div class="feature-image" style="background-image: url({{ image.url }});"></div>
										 	{% endif %}
										{% endif %}
									{% endfor %}
								</div>
								<div class="col-sm-6">
									<div class="waves-text">
										<h1 class="title"><a href="{{ entry.url }}">{{ entry.title }}</a></h1>
										{% if entry.subhead | length %}
											<h3 class="subhead">{{ entry.subhead }}</h3>
										{% endif %}
										{% if entry.articleDate | length %}
						     		<p class="date">{{ entry.articleDate | date("M j, Y") }}</p>
						     		{% endif %}
										{% for block in entry.articleBody %}
						      	  {% if block.type == "text" %}
											 	<p>{{ block.articleText|striptags|slice(0,250)|default('Read more') }}...</p>
											{% endif %}
										{% endfor %}
									</div>
								</div>
							</div>
						</div>
					</div>
		    </div>
		    {% endif %}
		    {% if entry.type.handle == 'makingWavesEvent' %}
		    <div class="row">
		      <div class="col-sm-12">
						<div class="waves-block">
							<h5>Event</h5>
							<div class="row">
								{% if entry.featureImage | length %}
					     		<div class="col-sm-6">
								    {% for asset in entry.featureImage %}
								      <div class="event-image" style="background-image: url({{ asset.url }});"></div>
								    {% endfor %}
					     		</div>
					     		<div class="col-sm-6">
					     			<h1 class="title"><a href="{{ entry.url }}">{{ entry.title }}</a></h1>
					    			{{ entry.eventDescription }}
					     		</div>
					     		{% else %}
					     		<div class="col-sm-12">
					     			<h1 class="title">{{ entry.title }}</h1>
					    			{{ entry.eventDescription }}
					     		</div>
								{% endif %}
							</div>
						</div>
					</div>
		    </div>
		    {% endif %}
	    {% endfor %}
	    {% if pageInfo.totalPages > 1 %}
			<div class="pagination">
				{% if pageInfo.prevUrl %}<a href="{{ pageInfo.prevUrl }}" class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>{% endif %}

				{% for page, url in pageInfo.getPrevUrls(2) %}
			    <a href="{{ url }}">{{ page }}</a>
				{% endfor %}

				{% if pageInfo.currentPage %}
				<span class="current">{{ pageInfo.currentPage }}</span>
				{% endif %}

				{% for page, url in pageInfo.getNextUrls(2) %}
			    <a href="{{ url }}">{{ page }}</a>
				{% endfor %}

				{% if pageInfo.nextUrl %}<a href="{{ pageInfo.nextUrl }}" class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>{% endif %}
			</div>
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}
