.btn-primary {
  background-color: transparent;
  border-radius: 7px;
  color: #7baaad;
  text-transform: uppercase;
  font-weight: 600;
  display: block;
  width: 100%;
  border-color: #7baaad;
  border: 2px solid;
  padding: .8rem 0;
  letter-spacing: 1px;
  &:hover, &:focus, &:active, &:active:focus, &:active:hover {
    color: #fff;
    background-color: #7baaad;
    border-color: #7baaad;
    transition: all .3s;
  }
  a {
  	color: inherit;
  	&:hover {
  		text-decoration: none;
  	}
  }
}

.download-lnk {
  @extend .btn-primary;
  position: relative;
  padding: .8rem 3rem .8rem .8rem;
  border-color: $lime-green;
  border-width: 2px;
  margin-bottom: 1rem;
  &:hover, &:focus, &:active, &:active:focus, &:active:hover {
    background-color: $lime-green;
    border-color: $lime-green;
  }
  .fa {
    position: absolute;
    right: 8px;
    top: 10px;
    font-size: 1.6rem;
  }
}