#home .navbar {
	position: absolute;
  left: 0;
  right: 0;
  z-index: 300;
  @media (max-width: 767px) {
  	top: 0;
  }
}
.navbar .container-fluid {
	max-width: 1800px;
  padding-left: 30px;
  padding-right: 30px;
}
.navbar-default {
  background-color: $navy;
  margin-bottom: 0;
  border: 0;
  -webkit-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.4);
  border-radius: 0;
  z-index: 10;
  .navbar-toggle {
  	margin-top: 15px;
  	&:hover, &:focus {
  		background: #fff;
  		.icon-bar {
  			background-color: $navy;
  		}
  	}
	  .icon-bar {
	    background-color: $clear-water;
		}
	}
}
#home .navbar-default {
	background-color: transparent;
	box-shadow: none;
	@media (max-width: 767px) {
		background-color: $navy;
	}
}
.navbar-default .nav-bottom .navbar-nav>li>a:focus, .navbar-default .nav-bottom .navbar-nav>li>a:hover {
    color: #fff;
    background-color: rgba(169, 219, 222, 0.5);
}
.navbar-default .nav-bottom .navbar-nav>.open>a, .navbar-default .nav-bottom .navbar-nav>.open>a:focus, .navbar-default .nav-bottom .navbar-nav>.open>a:hover {
    color: #fff;
    background-color: rgba(169, 219, 222, 0.5);
}
.navbar-default .nav-top .navbar-nav>li>a:focus, .navbar-default .nav-top .navbar-nav>li>a:hover {
    color: #c3fbff;
}

.navbar-default .nav-bottom .navbar-nav > .open > a:after {
    content: "";
    border-bottom: 15px solid #fff;
    border-right: 17px solid transparent;
    border-left: 17px solid transparent;
    position: absolute;
    bottom: -21px;
    left: 40%;
    z-index: 10000;
    @media (max-width: 767px) {
	  	display: none;
	  }
}

.navbar-header {
	@media (min-width: 768px) {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	@media (max-width: 992px) {
		float: none;
	}
	.navbar-brand {
		height: auto;
		@media (max-width: 992px) {
			float: none;
		}
		>img {
			@media (max-width: 992px) and (min-width: 768px) {
				width: 180px;
				margin: 0 auto;
			}
			@media (max-width: 767px) {
				width: 150px;
			}
			@media (max-width: 380px) {
				width: 120px;
			}
			@media (max-height: 600px) {
				width: 150px;
			}
			@media (max-height: 415px) {
				width: 120px;
			}
		}
	}
}
.nav-top {
	float: right;
	@media (max-width: 992px) {
		float: none;
	}
}
.site-search {
  &.open>a, &.open>a:focus, &.open>a:hover {
    color: #c3fbff!important;
    background-color: transparent!important;
	}

	.dropdown-menu {
		right: 0;
    left: auto;
    min-width: 360px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 15px 0;
    @media (max-width: 768px) {
    	right: 0;
    	left: 0;
    }
    .navbar-form {
    	box-shadow: none;
    	margin: 0;
	    padding-left: 10px;
    }
    input[type="search"] {
	    min-width: 250px;
	    border: 1px solid #eee;
	    padding: 8px;
		}
    .btn {
    	position: absolute;
    	right: 8px;
    	top: 50%;
    	margin-top: -15px;
    	&.btn-default {
    		color: #fff;
		    background-color: #6da4b5;
		    border-color: #6da4b5;
		    font-weight: 600;
		    text-transform: uppercase;
		    font-size: 1.2rem;
    	}
    }
	}
}
.nav-bottom {
	@media (max-width: 992px) {
    float: none;
	}
	.navbar-right {
		> li {
			position: static;
			@media (max-width: 767px) {
				position: relative;
		    border-bottom: 1px solid #8ec2d2;
    		margin-bottom: 0;
    		&:last-of-type {
    			border-bottom:0;
    		}
			}
			.dropdown-toggle {
				margin-bottom: 20px;
				@media (max-width: 767px) {
	    		margin-bottom: 0;
				}
			}
		}
	}
}
.navbar-collapse {
	float: right;
	padding-right: 0;
	@media (min-width: 768px) {
		padding-top: 20px;
	}
	@media (max-width: 992px) {
		float: none;
		padding-left: 0;
		padding-top: 0;
	}
	@media (max-width: 767px) {
		float: none;
		padding: 10px;
	}
}
.navbar-nav {
	float: none;
	&.navbar-right {
		@media (min-width: 768px) {
			margin-right: 0;
			margin-top: 1rem;
		}
	}
	>li {
		margin-bottom: 0;
		@media (max-width: 767px) {
			margin-bottom: 10px;
		}
		> .dropdown-menu {
	    border-radius: 0;
	    @media (max-width: 767px) {
	    	color: #fff;
	    }
		}
		@media (max-width: 767px) {
			&.dropdown {
		    border-bottom: 1px solid #8ec2d2;
		    &:last-of-type {
		    	border-bottom: 0;
		    }
				&.site-search {
			    border-bottom: 0;
			    :after {
			    	display: none;
			    }
				}
			}

		}
	}
}
@media (max-width: 767px) {
	.navbar-right>li.dropdown:after {
    content: "\f107";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #fff;
    font-size: 18px;
    padding-right: 0.5em;
    position: absolute;
    top: 10px;
    right: 10px;
	}
}

.navbar-right {
	position: relative;
	@media(max-width: 992px) {
		float: none!important; 
	}
	@media (max-width: 767px) {
		a {
			color: #fff;
		}
	}
}
.nav.secondary-menu {
	margin-bottom: 2rem;
	@media (max-width: 992px) {
    border-top: 1px solid rgba(255, 255, 255, 0.8);
    padding-top: 20px;
    margin-bottom: 1rem;
    padding-left: 15px;
	}
	@media (max-width: 768px) {
		border-top: 0;
		padding-top: 0;
	}
	@media (max-height: 600px) {
		margin-bottom: 0;
	}
	> li {
		&:last-of-type {
			> a {
				&:after {
					display: none;
				}
			}
		}
		> a {
			padding: 0;
	    letter-spacing: 1px;
			&:after {
		    content: "";
		    height: 10px;
		    width: 1px;
		    background: #fff;
		    display: inline-block;
		    margin: 0 15px;
		    @media (max-width: 767px) {
		    	display: none;
		    }
			}
		}
	}
}
.navbar-default .navbar-nav>li {
	> a {
    color: #fff;
  }
}
.navbar-right > li {
	> a {
	  font-weight: 500;
	  text-transform: uppercase;
	  font-size: 2.0rem;
	  letter-spacing: .5px;
	  @media (max-width: 1280px) {
	  	font-size: 1.8rem;
	  }
	  @media (max-width: 1140px) and (min-width: 993px){
	  	font-size: 1.6rem;
	    padding-left: 8px;
    	padding-right: 8px;
	  }
	  @media (max-width: 992px) and (min-width: 768px){
	  	font-size: 1.6rem;
	    padding-left: 14px;
	    padding-right: 14px;
	  }
	}
}
.mega-dropdown-menu {
	padding: 0 0 20px 0px;
  width: 100%;

  &.technical-team {
  	.dropdown-header {
	  	margin-right: 0;
	  	margin-left: 0;
  	}
  	li.col-xs-12 {
  		margin-bottom: 0;
  	}
  	.mega-menu-lnk.bottom {
  		margin-bottom: 0;
  		color: $link-color;
  	}
  }
  .dropdown-header {
  	background-color: $blue-green;
  	color: #fff;
  	text-transform: uppercase;
  	font-weight: 500;
    margin-left: -15px;
    margin-right: -15px;
    margin-top: 3px;
    margin-bottom: 15px;
    font-size: 15px;
    padding: 8px 20px;
    line-height: 1;
    border-right: 1px solid #fff;

    @media (max-width: 767px) {
      color: #5e91a0;
	    font-weight: 600;
	    margin-top: 0;
	    font-size: 2rem;
    }
    &.secondary {
    	background-color: lighten($blue-green, 15%);
    	@media (max-width: 767px) {
	      background: transparent;
	    }
    }
  }
  ul {
  	padding-left: 2rem;
    list-style-type: disc;
  	@media (max-width: 767px) {
  		padding-left: 2rem;
  	}
  }
  > li {
  	list-style-type: none;
  	> ul {
  		padding: 0;
  		margin: 0;
  	}
  }
  .photo-link {
  	margin-bottom: 15px;
  	img {
      display: inline-block;
	    float: left;
	    margin-right: 10px;
	    max-width: 114px;
		}
  	.info {
      display: inline;
	    vertical-align: middle;
	    margin-left: 10px;
    	h5 {
    		margin-bottom: .8rem;
    	}
    	p {
    		font-family: $font-serif;
		    font-size: 1.2rem;
    		margin-bottom: .5rem;
    	}
		}
  }
  .mega-menu-lnk {
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: .5px;
    &.bottom {
    	display: block;
	    margin-top: 10px;
	    padding: 5px;
    	border-top: 1px solid #eee;
	    &:hover {
	    	background: #eee;
		    color: $blue-green;
		    text-decoration: none;
		  }
    }
  }
  .group-lnks{
  	@media (max-width: 767px) {
  		margin-left: -10px;
  		margin-right: -10px;
  	}
  	&.capabilities {
  		p {
  			font-size: 14px;
  			strong, b {
  				font-weight: normal;
  			}
  		}
  	}
  }
  @media (max-width: 767px) {
  	.dropdown-header {
  		background-color: transparent;
  	}
  	.mega-menu-lnk {
  		color: #fff;
  	}
  }
}

ul.research {
	padding-top: 0;
	padding-bottom: 0;
}

.research > .row {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    &:nth-of-type(2) {
    	margin-bottom: 0;
    }
}

.research .row li.col-sm-6 {
    padding-left: 0;
}

.focus-areas-nav {
  margin-bottom: 4px;
  margin-top: 0;
  padding-bottom: 3rem;
  border-right: 1px solid #eee;
  @media (max-width: 767px) {
  	padding-bottom: 0;
  }
  ul {
  	list-style-type: none;
  }
  .dropdown-header {
  	margin-bottom: 3rem;
  	@media(max-width: 767px) {
	    padding-left: 0;
	    padding-bottom: 10px;
	    margin-left: 0;
  	}
  }
  .group-lnks li {
    font-size: 1.8rem;
    font-weight: 500;
    position: relative;
    padding-left: 1rem;
  	&:before {
	    content: "\f105";
	    font-family: FontAwesome;
	    font-style: normal;
	    font-weight: normal;
	    text-decoration: inherit;
	    color: lighten($blue-green, 15%);
	    font-size: 18px;
	    padding-right: 0.5em;
	    position: absolute;
	    top: 0px;
	    left: -20px;
	    @media (max-width: 767px) {
		  	left: -10px;
		  	color: #fff;
		  }
		}
	}
}

.team-member-cont {
    padding: 0 15px;
}

.mega-dropdown-menu.making-waves-nav .mega-menu-lnk.bottom {
  margin-bottom: 0;
  color: #7baaad;
}
.mega-dropdown-menu.research .dropdown-header {
	margin-left: -20px; 
}

@media (max-width: 767px) {
	.mega-dropdown-menu {
    padding: 0 0 0px 0px;
	}
	.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #c3fbff;
    background-color: transparent;
	}
	.navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: #fff;
	}
	.dropdown.open .dropdown-menu li {
    margin-bottom: 0;
	}
	.dropdown.open .dropdown-menu .group-lnks li {
    padding-bottom: 10px;
	}
	.navbar-nav .open .dropdown-menu .dropdown-header {
    padding-left: 15px;
    padding-bottom: 10px;
	}
	.navbar-nav .open .dropdown-menu {
    background-color: rgba(180, 218, 224, 0.7);
    padding-top: 10px;
	}
	.navbar-default .navbar-nav .mega-dropdown-menu .mega-menu-lnk.bottom {
    display: block;
    margin-top: 10px;
    padding: 5px 5px 5px 8px;
    border-top: 1px solid rgba(238, 238, 238, 0.7);
    margin-bottom: 10px;
    background: rgba(244, 250, 251, 0.4);
    color: #6fa8b9;
    text-decoration: none;
    &:hover, &:active, &:focus {
    	background: rgba(244, 250, 251, 1);
    	color: #6fa8b9;
    }
	}

	/*Site Search Dropdown*/
	li.dropdown.site-search.open {
    margin-left: 0px;
	}

	.navbar-nav .site-search .dropdown-menu {
    margin-left: -15px;
    padding: 15px;
    width: auto;
	}

	.site-search form.navbar-form.navbar-left {
    border: 0;
    padding: 0;
    padding-left: 0;
	}

	.site-search .dropdown-menu input[type="search"] {
    min-width: 75%;
    border: 1px solid #eee;
    padding: 8px;
	}

	.site-search .dropdown-menu button.btn.btn-default {
    position: absolute;
    width: 25%;
    right: 15px;
    top: 43px;
    margin-top: 0;
    height: 36px;
    border-radius: 0;
	}

	.site-search.open ul.dropdown-menu {
    margin-top: 8px;
	}

	.site-search.open .navbar-form .form-group {
    margin-bottom: 0;
	}
}