html, body {
  height: 100%;
  margin: 0;
}
html {
	font-size: 10px;
	@media (max-width: 992px) {
	  font-size: 9px;
	}
	@media (max-width: 400px) {
	  font-size: 8px;
	}
}
body {
	opacity: .1;
  -o-animation: fadein .5s forwards;
  -o-animation-delay: .1s;
  -webkit-animation: fadein .5s forwards;
  -webkit-animation-delay: .1s;
  -moz-animation: fadein .5s forwards;
  -moz-animation-delay: .1s;
  animation: fadein .5s forwards;
  animation-delay: .1s;
}
.content {
	min-height: 100%;
	margin-bottom: -450px;
	@media (max-width: 991px) {
  	margin-bottom: -350px;
  }
	@media (max-width: 767px) {
  	margin-bottom: -900px;
  }
  @media (max-width: 400px) {
  	margin-bottom: -800px;
  }
}
.breadcrumbs {
  padding: 1rem 0 1rem;
  a {
    padding-right: 5px;
    padding-left: 5px;
	}
}
footer,
.push {
  height: 450px;
  @media (max-width: 991px) {
  	height: 350px;
  }
  @media (max-width: 767px) {
  	height: 900px;
  }
  @media (max-width: 400px) {
  	height: 800px;
  }
  @media (max-width: 350px) {
    height: 850px;
  }
}
footer .container-fluid {
	max-width: 1800px;
  padding-left: 30px;
  padding-right: 30px;
}
footer {
  background-image: url(/images/img-w-water.png);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 330px;
  z-index: 1;
  margin-top: 6rem;
  color: #fff;
  position: relative;
  font-size: 10px;
  padding-top: 6rem;
  @media (max-width: 1199px) {
  	font-size: 8px;
  }
  @media (max-width: 992px) {
  	font-size: 7px;
  }
  @media (max-width: 768px) {
  	text-align: center;
  }
  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    width: 100%;
    bottom: 0;
    left: 0;
    background: rgba(123, 170, 173, 0.9);
	}
  .col-md-10 {
  	padding-top: 3rem;
  }
  .col-sm-8.col-sm-offset-3 {
  	margin-top: 2rem;
  }
	img {
		width: 310px;
		max-width: 100%;
		@media (max-width: 768px) {
			margin-bottom: 4rem;
		}
	}
	a {
		color: #fff;
	}
	h3 {
		font-size: 2.8em;
		font-weight: 500;
		text-transform: uppercase;
	}
	ul {
		padding-left: 2rem;
    padding-top: 2rem;
    @media (max-width: 768px) {
	    padding-top: 1rem;
    	margin-bottom: 3rem;
    }
		li {
			list-style: none;
			a {
		    font-size: 2.4em;
    		font-weight: 300;
			}
		}
	}
	.tagline, .ftr-social {
    display: inline-block;
	}
	.tagline {
    font-size: 2.5rem;
    font-family: $font-serif;
    font-style: italic;
	}
	.ftr-social {
		padding-left: 4rem;
		i {
	    font-size: 3rem;
	    padding-right: 2rem;
		}
	}
	.location-block {
		background-color: rgba(203, 231, 240, 0.4);
		padding: 3rem;
		max-width: 200px;
    @media (min-width: 768px) {
      float: right;
    }
		@media (max-width: 1199px) {
			padding: 1.8rem;
		}
		@media (max-width: 768px) {
			margin-top: 3rem;
			max-width: 100%;
		}
		p {
			font-size: 1.8rem;
			font-family: $font-serif;
	    font-weight: 400;
	    padding-top: 1rem;
	    @media (max-width: 1199px) {
				font-size: 1.4rem;
			}
		}
	}
}
.home footer {
	margin-top: 0;
}