{% extends "_layout" %}
{% set title = "Work With Us" %}

{% block content %}
<div class="container about landing">
	<div class="row">
		<div class="col-sm-12">
			<div class="breadcrumbs pull-right">
				{% if craft.app.request.segments %}
				<nav class="breadcrubs">
			    <div class="container">
			        <div class="row">
			            <ol class="breadcrumb">
			                <li><a href="{{ siteUrl }}">Home</a></li>
			                {% for crumb in entry.getAncestors().all() %}
			                    <li>{{ crumb.getLink() }}</li>
			                {% endfor %}
			                <li>{{ entry.title }}</li>
			            </ol>
			        </div>
			    </div>
			</nav>
			{% endif %}
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<h2>Work With Us</h2>
		</div>
	</div>
	<div class="row landing-top">
		<div class="col-lg-2 col-md-3 col-sm-4">
			<div class="sidebar-nav">
				<ul>
				{% for block in workWithUsNavigation.navigationLinks.all() %}
			    {% if block.type == "url" %}
		        {% set linkUrl = block.urlLink %}
		        {% set linkLabel = block.urlTitle %}
			    {% elseif block.type == "linkToEntry" %}
		        {% set linkedEntry = block.entry|length ? block.entry[0] : null %}
		        {% set linkUrl = linkedEntry ? linkedEntry.url : null %}
		        {% set linkLabel = block.entryTitle ? block.entryTitle : (linkedEntry ? linkedEntry.title : null) %}
			    {% endif %}
			      {% if linkUrl %}
		        <li>
	            <a href="{{ linkUrl }}">
                {{ linkLabel }}
	            </a>
		        </li>
			    {% endif %}
				{% endfor %}
				</ul>
			</div>
		</div>
		<div class="col-lg-10 col-md-9 col-sm-8">
			{{ entry.body }}
		</div>
	</div>
</div>
{% endblock %}
