{% extends "_layout" %}
{% set title = "About" %}

{% block content %}
<div class="container about landing">
	<div class="row">
		<div class="col-sm-12">
			<div class="breadcrumbs pull-right">
				{% if craft.request.segments %}
				<nav class="breadcrubs">
			    <div class="container">
			        <div class="row">
			            <ol class="breadcrumb">
			                <li><a href="{{ siteUrl }}">Home</a></li>
			                {% for crumb in entry.getAncestors() %}
			                    <li>{{ crumb.getLink() }}</li>
			                {% endfor %}
			                <li>{{ entry.title() }}</li>
			            </ol>
			        </div>
			    </div>
			</nav>
			{% endif %}
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<h2>About The Water Institute</h2>
		</div>
	</div>
	<div class="row landing-top">
		<div class="col-lg-2 col-md-3 col-sm-4">
			<div class="sidebar-nav">
				<ul>
				{% for block in aboutNavigation.navigationLinks.all() %}
      	   {% if block.type == "url" %}
      	       {% set linkUrl = block.urlLink %}
      	       {% set linkLabel = block.urlTitle %}
      	   {% elseif block.type == "linkToEntry" %}
      	       {% set linkedEntry = block.entry.one()|length ? block.entry[0] : null %}
      	       {% set linkUrl = linkedEntry ? linkedEntry.url : null %}
      	       {% set linkLabel = block.entryTitle ? block.entryTitle : (linkedEntry ? linkedEntry.title : null) %}
      	   {% endif %}
      	   {% if linkUrl %}
      	       <li>
      	           <a href="{{ linkUrl }}" {% if block.type == "url" %}data-test {{ block.openInNewWindow ? "target='_blank'" : null }}{% endif %}>
      	               {{ linkLabel }}
      	           </a>
      	       </li>
      	   {% endif %}
      	{% endfor %}
				</ul>
			</div>
		</div>
		<div class="col-lg-10 col-md-9 col-sm-8">
			{{ entry.body }}
			{{ entry.aboutVideo | raw }}
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<div class="message-from-ceo">
			<h3>Message from President and CEO</h3>
				<div class="letter-image" style="background-image: url(/images/img-letter-ceo.jpg);"></div>
				<div class="quotee">
					<img src="/images/img-sigature-justin.png" width="41">
					<div id="name">
						<strong>Justin Ehrenwerth</strong>
						<span>President and CEO</span>
					</div>
				</div>
				<div class="letter">
				{{ entry.messageFromTheCeo }}
				</div>
			</div>
		</div>
	</div>
	<div class="entries">
	</div>
</div>
{% endblock %}
