{% extends "_layout" %}
{% set title = "Administration" %}

{% block content %}
<div class="container team-index">
	<div class="row">
		<div class="col-sm-12">
			<div class="breadcrumbs pull-right">
				<!-- <a href="#">Home</a> > <a href="#">Team Members</a> > <a href="#" class="current">Justin R. Ehrenwerth</a> -->
				{% if craft.request.segments %}
				<nav class="breadcrubs">
			    <div class="container">
			        <div class="row">
			            <ol class="breadcrumb">
			                <li><a href="{{ siteUrl }}">Home</a></li>
			                {% for crumb in entry.getAncestors() %}
			                    <li>{{ crumb.getLink() }}</li>
			                {% endfor %}
			                <li>{{ entry.title() }}</li>
			            </ol>
			        </div>
			    </div>
			</nav>
			{% endif %}
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 index-top">
			<div class="descr">
				{{ entry.body }}
			</div>
		</div>
	</div>
	{% set administration = craft.entries({
	  section: 'about',
	  type: 'administrator',
	}) %}
	{% for row in administration|batch(4) %}
    <div class="row">
      {% for entry in row %}
        <div class="col-sm-3">
					<div class="person-block">
						{% if entry.bioPhoto | length %}
					    {% for asset in entry.bioPhoto %}
					        <a href="{{ entry.url }}"><img src="{{ asset.url }}"></a>
					    {% endfor %}
						{% endif %}
						<h3 class="bio-name"><a href="{{ entry.url }}">{{ entry.title }}</a></h3>
						<h4 class="bio-title">{{ entry.teamMemberTitle }}</h4>
					</div>
				</div>
      {% endfor %}
    </div>
{% endfor %}
</div>
{% endblock %}
