{% extends "_layout" %}
{% set title = "Clients" %}

{% block content %}
<div class="about interior clients">
	<div class="top" style="background-image: url(/images/img-about-interior-bg.jpg);">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="breadcrumbs pull-right">
						{% if craft.request.segments %}
						<nav class="breadcrubs">
					    <div class="container">
					        <div class="row">
					            <ol class="breadcrumb">
					                <li><a href="{{ siteUrl }}">Home</a></li>
					                {% for crumb in entry.getAncestors() %}
					                    <li>{{ crumb.getLink() }}</li>
					                {% endfor %}
					                <li>{{ entry.title() }}</li>
					            </ol>
					        </div>
					    </div>
					</nav>
					{% endif %}
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12 index-top">
					<h2>Clients</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-10 col-sm-push-2">
					<div class="top-image-cont">
						<h3>The Water Institute of the Gulf provides services to a number of clients on a wide array of projects, from large scale plans and decision support to targeted research and technical reviews.</h3>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-sm-2">
				<img class="droplets" src="/images/img-water-droplets.png" />
			</div>
			<div class="col-sm-10">
				<div class="text">
					<ul>
						<li>ABT Associates</li>
						<li>ARCADIS U.S. Inc.</li>
						<li>Bureau of Ocean Management </li>
						<li>Baton Rouge Area Foundation</li>
						<li>CDM Smith</li>
						<li>Coast Builders Coalition</li>
						<li>Coypu Foundation</li>
						<li>Coastal Protection and Restoration Authority</li>
						<li>Delta Council</li>
						<li>Deltares</li>
						<li>Duplantis Design Group</li>
						<li>Environmental Defense Fund</li>
						<li>Federal Emergency Management Agency</li>
						<li>Florida Sea Grant</li> 
						<li>Greater Lafourche Port Commission</li> 
						<li>Greater New Orleans Inc.</li>
						<li>HDR</li>
						<li>JESCO</li>
						<li>Lamar Family Foundation</li>
					</ul>
					<ul>
						<li>Louisiana Department of Natural Resources</li>
						<li>Louisiana State University</li>
						<li>Louisiana University Marine Consortium</li>
						<li>Mendrop Engineering</li>
						<li>National Academy of Sciences – Gulf Research Program</li>
						<li>National Fish and Wildlife Foundation</li>
						<li>National Science Foundation</li>
						<li>National Oceanographic and Atmospheric Agency – National Marine Fisheries Service</li>
						<li>North Shore Community Foundation</li>
						<li>National Wildlife Federation</li>
						<li>Office of Naval Research</li>
						<li>Pontchartrain Partners</li>
						<li>Restore the Earth</li>
						<li>The Nature Conservancy</li>
						<li>Tulane University</li>
						<li>US Business Council</li>
						<li>Walton Family Foundation</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
