{% extends "_layout" %}
{% set title = "History" %}

{% block content %}
<div class="about interior">
	<div class="top" style="background-image: url(/images/img-about-interior-bg.jpg);">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="breadcrumbs pull-right">
						{% if craft.request.segments %}
						<nav class="breadcrubs">
					    <div class="container">
					        <div class="row">
					            <ol class="breadcrumb">
					                <li><a href="{{ siteUrl }}">Home</a></li>
					                {% for crumb in entry.getAncestors() %}
					                    <li>{{ crumb.getLink() }}</li>
					                {% endfor %}
					                <li>{{ entry.title() }}</li>
					            </ol>
					        </div>
					    </div>
					</nav>
					{% endif %}
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12 index-top">
					<h2>History</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-10 col-sm-push-2">
					<div class="top-image-cont">
						<img src="/images/img-history.jpg" />
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-sm-2">
				<img class="droplets" src="/images/img-water-droplets.png" />
			</div>
			<div class="col-sm-10">
				<div class="text">
					<p>In the aftermath of hurricanes Katrina and Rita in 2005, Louisiana leaders decided it was time for a new approach in addressing water management studies and applied river-coastal research. Following several fact-finding trips to Deltares, the renowned water management research institute in the Netherlands, the push was on to form something similar in Louisiana. In late 2011, that vision became a reality with the formation of The Water Institute of the Gulf through a collaborative effort involving the State of Louisiana, Senator Mary Landrieu, and the Baton Rouge Area Foundation (BRAF).</p>
					
					<p>Formed with the mission to connect the vast knowledge about coastal, river, and delta systems Louisiana researchers have accumulated over the decades, the Institute links academic, public, and private research partnerships and conducts applied research to better inform the decisions facing communities, industries, and nations around the world.</p>
					
					<p>In 2014, the Institute was selected as the Resources and Ecosystem Sustainability, Tourism Opportunities, and Revived Economy of the Gulf Coast (RESTORE) Act Center of Excellence for Louisiana. Through this program, the Institute has new ways to further its mission of enhancing scientific understanding of coastal, river, and delta systems by administering a grant program to fund independent research by universities and private firms, and connecting to other Centers of Excellence across the Gulf.</p>
					
					<p>In July 2017, the Institute and Deltares signed a historic Memorandum of Understanding strengthening the research relationships between the two and will open doors to exciting new opportunities for research and collaborations.</p>
					
					<p>Our recent technical work includes activities in Louisiana, Latin America, Pacific Islands, the Mekong River Delta, and Gulf Coast states. To support this work, the Institute has more than 20 researchers who represent a wide range of expertise including ecology, engineering, geology, numerical modeling, geography, social sciences, sediment, marine biology, river and coastal sediment processes, and hydrodynamics.</p>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
