
{% extends "_layout" %}
{% set title = "404" %}

{% block content %}
<div class="container not-found">
	<div class="row">
	<img src="/images/img-404.png" />
	<h1>Page not found</h1>
	<a href="/">Back to Home</a>
	</div>
</div>
{% endblock %}
