{#
 # Layout template
 # ---------------
 #
 # This template defines your site’s global layout. It can be
 # “extended” by other templates to fill in the gaps.
 #
 # See Twig’s Template Inheritance documentation for more details:
 # http://twig.sensiolabs.org/doc/templates.html#template-inheritance
 #}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
	<meta charset="utf-8" />
	<title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
	<link rel="home" href="{{ siteUrl }}" />

	<script src="https://use.fontawesome.com/06670b21ff.js"></script>
		<!-- Bootstrap -->
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		
		<link href="/css/owl.carousel.css" rel="stylesheet">
		<link href="/css/animate.css" rel="stylesheet">
		<link href="/css/slider.css" rel="stylesheet">
		<link href="/css/style.css" rel="stylesheet">
		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
</head>

<body id="{{ craft.request.getSegment(1) ?: 'home' }}">
	<div class="content">
		<nav class="navbar navbar-default">
		  <div class="container-fluid">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu" aria-expanded="false">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" href="#"><img src="/images/img-logo.png" width="200"></a>
		    </div>

		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="main-menu">
		    	<div class="nav-top">
			      <ul class="nav navbar-nav secondary-menu">
			        <li><a href="#">About</a></li>
			        <li><a href="#">Media</a></li>
			        <li><a href="#">Work With Us</a></li>
			        <li><a href="#">Contact</a></li>
			        <li class="dropdown site-search">
			          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-search" aria-hidden="true"></i></a>
			          <ul class="dropdown-menu">
			            <li>
				            <form class="navbar-form navbar-left">
							        <div class="form-group">
							          <input type="text" class="form-control" placeholder="Search">
							        </div>
							        <button type="submit" class="btn btn-default">Submit</button>
							      </form>
			      			</li>
			          </ul>
			        </li>
			      </ul>
		      </div>
		      <div class="nav-bottom">
			      <ul class="nav navbar-nav navbar-right">
			        <li class="dropdown">
			          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Research </a>
			          <ul class="dropdown-menu">
			            <li><a href="#">Action</a></li>
			            <li><a href="#">Another action</a></li>
			            <li><a href="#">Something else here</a></li>
			            <li role="separator" class="divider"></li>
			            <li><a href="#">Separated link</a></li>
			          </ul>
			        </li>
			        <li class="dropdown">
			          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Insights</a>
			          <ul class="dropdown-menu">
			            <li><a href="#">Action</a></li>
			            <li><a href="#">Another action</a></li>
			            <li><a href="#">Something else here</a></li>
			            <li role="separator" class="divider"></li>
			            <li><a href="#">Separated link</a></li>
			          </ul>
			        </li>
			        <li class="dropdown">
			          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Scientists</a>
			          <ul class="dropdown-menu mega-dropdown-menu row">
			            <li class="col-sm-6">
			            	<ul>
			            		<li class="dropdown-header">Scientists Spotlights</li>
			            		<div class="team-member">
			            			<img src="/images/img-denise.jpg">
			            			<div class="info">
			            				<h5>Denise Reed</h5>
			            				<p>Vice President for Strategic Research Initiatives</p>
			            				<a href="#" class="mega-menu-lnk">Read Full Bio <i class="fa fa-angle-right" aria-hidden="true"></i></a>
			            			</div>
			            		</div>
			            		<div class="team-member">
			            			<img src="/images/img-tim.jpg">
			            			<div class="info">
			            				<h5>Tim Carruthers</h5>
			            				<p>Director of Coastal Ecology</p>
			            				<a href="#" class="mega-menu-lnk">Read Full Bio <i class="fa fa-angle-right" aria-hidden="true"></i></a>
			            			</div>
			            		</div>
			            		<a href="#" class="mega-menu-lnk bottom">View All Bios <i class="fa fa-angle-right" aria-hidden="true"></i></a>
			            	</ul>
			            </li>
			            <li class="col-sm-6">
			            	<ul>
			            		<li class="dropdown-header">Areas of Expertise</li>
			            		<div class="row group-lnks">
										    <div class="col-sm-6">
									        <ul>
								            <li>Lorem ipsum dolor sit amet</li>
								            <li>Lorem ipsum dolor sit amet</li>
								            <li>Lorem ipsum dolor sit amet</li>
								            <li>Lorem ipsum dolor sit amet</li>
									        </ul>
										    </div>
										    <div class="col-sm-6">
										    	<ul>
										   	 		<li>Lorem ipsum dolor sit amet</li>
										        <li>Lorem ipsum dolor sit amet</li>
										        <li>Lorem ipsum dolor sit amet</li>
										        <li>Lorem ipsum dolor sit amet</li>
										      </ul>
										    </div>
											</div>
											<a href="#" class="mega-menu-lnk bottom">View All Areas of Expertise <i class="fa fa-angle-right" aria-hidden="true"></i></a>
			            	</ul>
			            </li>
			          </ul>
			        </li>
			        <li class="dropdown">
			          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Capabilities</a>
			          <ul class="dropdown-menu">
			            <li><a href="#">Action</a></li>
			            <li><a href="#">Another action</a></li>
			            <li><a href="#">Something else here</a></li>
			            <li role="separator" class="divider"></li>
			            <li><a href="#">Separated link</a></li>
			          </ul>
			        </li>
			        <li class="dropdown">
			          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Center of Excellence <i class="fa fa-external-link" aria-hidden="true"></i></a>
			          <ul class="dropdown-menu">
			            <li><a href="#">Action</a></li>
			            <li><a href="#">Another action</a></li>
			            <li><a href="#">Something else here</a></li>
			            <li role="separator" class="divider"></li>
			            <li><a href="#">Separated link</a></li>
			          </ul>
			        </li>
			      </ul>
		      </div>
		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>
		<main id="content" role="main">
			{% block content %}
			{% endblock %}
		</main>
		<div class="push"></div>
	</div>
	<footer>
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-10">
					<div class="row">
						<div class="col-sm-3">
							<img src="/images/img-logo-white.png">
						</div>
						<div class="col-sm-3">
							<h3>About</h3>
							<ul>
								<li><a href="#">History</a></li>
								<li><a href="#">Message from CEO</a></li>
								<li><a href="#">Board of Directors</a></li>
							</ul>
						</div>
						<div class="col-sm-3">
							<h3>Scientists</h3>
							<ul>
								<li><a href="#">Bios</a></li>
								<li><a href="#">Staff Spotlights</a></li>
							</ul>
						</div>
						<div class="col-sm-3">
							<h3>Connect</h3>
							<ul>
								<li><a href="#">Contact</a></li>
								<li><a href="#">Work With Us</a></li>
							</ul>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-8 col-sm-offset-3">
							<span class="tagline">Because life happens at the water's edge.</span>
							<div class="ftr-social">
								<a href="#">
									<i class="fa fa-twitter" aria-hidden="true"></i>
								</a>
								<a href="#">
									<i class="fa fa-linkedin" aria-hidden="true"></i>
								</a>
								<a href="#">
									<i class="fa fa-instagram" aria-hidden="true"></i>
								</a>
							</div>
						</div>	
					</div>
				</div>
				<div class="col-sm-2">
					<div class="location-block">
						<h3>Location</h3>
						<p>1156 River Rd<br>
						Baton Rouge, LA<br>
						70802</p>
					</div>
				</div>
			</div>
		</div>
	</footer>


	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<script src="js/jquery.cycle2.js"></script>
	<script src="js/jquery.cycle2.caption2.min.js"></script>
	<script>

		(function($) {

		  $.fn.visible = function(partial) {
		    
		      var $t            = $(this),
		          $w            = $(window),
		          viewTop       = $w.scrollTop(),
		          viewBottom    = viewTop + $w.height(),
		          _top          = $t.offset().top,
		          _bottom       = _top + $t.height(),
		          compareTop    = partial === true ? _bottom : _top,
		          compareBottom = partial === true ? _top : _bottom;
		    
		    return ((compareBottom <= viewBottom) && (compareTop >= viewTop));

		  };
		    
		})(jQuery);

		var win = $(window);

		var caption = $(".feature-img-caption");

		win.scroll(function(event) {
		  
		  caption.each(function(i, el) {
		    var el = $(el);
		    if (el.visible(true)) {
		      el.addClass("come-in-left"); 
		    } 
		  });
		  
		});

	</script>
	<script>
	  (function(d) {
	    var config = {
	      kitId: 'qqz7naz',
	      scriptTimeout: 3000,
	      async: true
	    },
	    h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
	  })(document);
	</script>
</body>
</html>
