<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
	<meta name="description" content="The Water Institute is a not-for-profit, independent applied research and technical services institution with a mission to help coastal and deltaic communities thoughtfully prepare for an uncertain future." />
	<link rel="home" href="{{ siteUrl }}" />
	<link rel="shortcut icon" href="/favicon.ico" />

		<link rel="stylesheet" href="/css/foundation.min.css" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link href="/css/animate.css" rel="stylesheet">
		<link href="/css/slider-min.css" rel="stylesheet">
		<link href="/css/style.css" rel="stylesheet">
		<style>
			.cycle-slideshow {
				height: 70vh;
			}
	    @media all and (-ms-high-contrast:none) {
	    	.navbar-collapse {
	    		float: none;
	    	}
		    .cycle-overlay {
	        animation: none;
	        opacity: 1;
	        transform: none;
		    }
		    .cycle-overlay div {
	        font-size: 5rem;
		    }
	    }
      @supports (-ms-ime-align:auto) {
		    .cycle-overlay {
	        animation: none;
	        opacity: 1;
	        transform: none;
		    }
		    .cycle-overlay div {
	        font-size: 5rem;
		    }
			}
	  </style>

		
    <!--[if IE ]>
			<link rel="stylesheet" type="text/css" href="/css/ie.css" />
		<![endif]-->

		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
</head>

<body id="{{ craft.app.request.getSegment(1) ?: 'home' }}">
	<div class="content">
		<nav class="navbar navbar-default">
		  <div class="container-fluid">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu" aria-expanded="false">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" href="/"><img src="/images/img-logo.png" width="200"></a>
		    </div>

		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="main-menu">
		    	<div class="nav-top">
			      <ul class="nav navbar-nav secondary-menu">
			      	{% for block in secondaryNavigation.navigationLinks.all() %}
			      	   {% if block.type == "url" %}
			      	       {% set linkUrl = block.urlLink %}
			      	       {% set linkLabel = block.urlTitle %}
			      	   {% elseif block.type == "linkToEntry" %}
			      	       {% set linkedEntry = block.entry|length ? block.entry[0] : null %}
			      	       {% set linkUrl = linkedEntry ? linkedEntry.url : null %}
			      	       {% set linkLabel = block.entryTitle ? block.entryTitle : (linkedEntry ? linkedEntry.title : null) %}
			      	   {% endif %}
			      	   {% if linkUrl %}
			      	       <li>
			      	           <a href="{{ linkUrl }}" {% if block.type == "url" %}data-test {{ block.openInNewWindow ? "target='_blank'" : null }}{% endif %}>
			      	               {{ linkLabel }}
			      	           </a>
			      	       </li>
			      	   {% endif %}
			      	{% endfor %}
			        <li class="dropdown site-search">
			          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-search" aria-hidden="true"></i></a>
			          <ul class="dropdown-menu">
			            <li>
			            	<form action="{{ url('search/results') }}" class="navbar-form navbar-left">
									    <div class="form-group">
									    	<input type="search" name="q" placeholder="Search">
									    </div>
									    <button type="submit" class="btn btn-default" value="Go">Submit</button>
										</form>
			      			</li>
			          </ul>
			        </li>
			      </ul>
		      </div>
		      <div class="nav-bottom">
			      <ul class="nav navbar-nav navbar-right">
			        <li class="dropdown">
			          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Research </a>
			          <ul class="dropdown-menu mega-dropdown-menu research">
			          	<div class="row">
				           	<li class="col-sm-6 focus-areas-nav">
				           		{% set focusAreas = craft.entries({
											  section: 'focusAreas',
											}).id('not 104') %}
		           		    <ul>
		            				<li class="dropdown-header">Focus Areas</li>
	                  		<div class="row group-lnks">
	      							    <div class="col-sm-12">
	      							    	<ul>
			           		        {% for focusArea in focusAreas.all() %}
			           		           <li>
	   		                       	<a href="{{ focusArea.url }}">{{ focusArea.title }}</a>
	   		                       </li>
			           		        {% endfor %}
		           		        	</ul>
	   		                	</div>
	   		                </div>
		           		    </ul>
				            </li>
				            <li class="col-sm-6">
				            	{% set projects = craft.entries({
											  section: 'projects',
											  limit: 5,
											}).id('not 105') %}
				            	<ul>
				            		<li class="dropdown-header secondary">Projects</li>
				            		<div class="row group-lnks">
											    <div class="col-sm-12">
											    	<ul>
											        {% for project in projects.all() %}
				           		           <li>
		   		                       	<a href="{{ project.url }}">{{ project.title }}</a>
		   		                       </li>
				           		        {% endfor %}
			           		        </ul>
											    </div>
												</div>
												<a href="/projects" class="mega-menu-lnk bottom">View All Projects <i class="fa fa-angle-right" aria-hidden="true"></i></a>
				            	</ul>
				            </li>
				          </div>
				          <div class="row">
				            <li class="col-sm-6">
				            	{% set reports = craft.entries({
											  section: 'reports',
											  limit: 3,
											}).id('not 115') %}
				            	<ul>
				            		<li class="dropdown-header secondary">Reports</li>
				            		<div class="row group-lnks">
											    <div class="col-sm-12">
											    	<ul>
											        {% for report in reports.all() %}
				           		           <li>
		   		                       	<a href="{{ report.url }}">{{ report.title }}</a>
		   		                       </li>
				           		        {% endfor %}
			           		        </ul>
											    </div>
												</div>
												<a href="/reports" class="mega-menu-lnk bottom">View All Reports <i class="fa fa-angle-right" aria-hidden="true"></i></a>
				            	</ul>
				            </li>
				            <li class="col-sm-6">
				            	{% set publications = craft.entries({
											  section: 'publications',
											  limit: 3,
											}).id('not 118') %}
				            	<ul>
				            		<li class="dropdown-header secondary">Publications</li>
				            		<div class="row group-lnks">
											    <div class="col-sm-12">
											    	<ul>
											        {% for publication in publications.all() %}
				           		           <li>
		   		                       	<a href="{{ publication.url }}">{{ publication.title }}</a>
		   		                       </li>
				           		        {% endfor %}
			           		        </ul>
											    </div>
												</div>
												<a href="/publications" class="mega-menu-lnk bottom">View All Publications <i class="fa fa-angle-right" aria-hidden="true"></i></a>
				            	</ul>
				            </li>
				          </div>
			          </ul>
			        </li>
			        <li class="dropdown">
			          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Making Waves</a>
			          <ul class="dropdown-menu mega-dropdown-menu row technical-team">
			          	<li class="dropdown-header">Articles</li>
			            {% set makingWavesArticles = craft.entries({
									  section: 'makingWaves',
									  limit: 4,
									  type: 'makingWavesArticle',
									  orderBy: 'postDate desc',
									}) %}
									{% for row in makingWavesArticles|batch(2) %}
							      {% for entry in row %}
							        <li class="col-sm-6">
												<div class="photo-link clearfix">
									      	{% for block in entry.articleBody.all() %}
									      	  {% if block.type == "image" %}
										        	{% set image = block.image.one() %}
										        	{% if image %}
														 	<img src="{{ block.image.one.url('relatedPhoto') }}" width="80" />
														 	{% endif %}
														{% endif %}
													{% endfor %}
													<div class="info">
														<h5><a href="{{ entry.url }}" >{{ entry.title }}</a></h5>
													</div>
												</div>
											</li>
							      {% endfor %}
									{% endfor %}
									<li class="col-xs-12">
										<a href="/making-waves" class="mega-menu-lnk bottom">View All Articles <i class="fa fa-angle-right" aria-hidden="true"></i></a>
									</li>
			          </ul>
			        </li>
			        <li class="dropdown">
			          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Our Team</a>
			          <ul class="dropdown-menu mega-dropdown-menu row technical-team">
			          	<li class="dropdown-header">Meet Our Team</li>
			          	<div class="team-member-cont">
			            {% set ourTeam = craft.entries({
									  section: 'ourTeam',
									  orderBy: 'RAND()',
									  limit: 4,
									  type: ['teamMember', 'administrator'],
									}) %}
									{% for row in ourTeam|batch(2) %}
										<div class="row">
							      {% for entry in row %}
							        <li class="col-sm-6">
												<div class="photo-link clearfix">
													{% set bioPhoto = entry.bioPhoto.one() %}
													{% if entry.bioPhoto | length %}
		        							{% set transformedImage = craft.imager.transformImage(bioPhoto, { width: 95 }) %}
												 	<a href="{{ entry.url }}"><img src="{{ transformedImage.url }}" width="80" /></a>
												 	{% endif %}
													<div class="info">
														<h5>{{ entry.title }}</h5>
														<p>{{ entry.teamMemberTitle }}</p>
														<a href="{{ entry.url }}" class="mega-menu-lnk">Read Full Bio <i class="fa fa-angle-right" aria-hidden="true"></i></a>
													</div>
												</div>
											</li>
							      {% endfor %}
							      </div>
									{% endfor %}
									</div>
									<li class="col-xs-12">
										<a href="/our-team" class="mega-menu-lnk bottom">View All Team Members <i class="fa fa-angle-right" aria-hidden="true"></i></a>
									</li>
			          </ul>
			        </li>
			        <li>
			          <a href="/capabilities" role="button" aria-expanded="false">Capabilities</a>
			        </li>
			        <li>
			          <a href="/la-coe">Center of Excellence </a>
			        </li>
			      </ul>
		      </div>
		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>
		<main id="content" role="main">
			{% block content %}
			{% endblock %}
		</main>
		<div class="push"></div>
	</div>
	<footer>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-10 col-sm-12">
					<div class="row">
						<div class="col-sm-3">
							<img src="/images/img-logo-white.png">
						</div>
						<div class="col-sm-3">
							<h3>{{ footer.firstColumnHeader }}</h3>
							<ul>
								{% for entry in footer.firstColumn.all() %}
								  <li><a href="{{ entry.url }}">{{ entry.title }}</a></li>
								{% endfor %}
							</ul>
						</div>
						<div class="col-sm-3">
							<h3>{{ footer.secondColumnHeader }}</h3>
							<ul>
								{% for entry in footer.secondColumn.all() %}
								  <li><a href="{{ entry.url }}">{{ entry.title }}</a></li>
								{% endfor %}
							</ul>
						</div>
						<div class="col-sm-3">
							<h3>{{ footer.thirdColumnHeader }}</h3>
							<ul>
								{% for entry in footer.thirdColumn.all() %}
								  <li><a href="{{ entry.url }}">{{ entry.title }}</a></li>
								{% endfor %}
							</ul>

							<!-- Google Translate Code -->
							<div id="google_translate_element"></div><script type="text/javascript">
							function googleTranslateElementInit() {
							  new google.translate.TranslateElement({pageLanguage: 'en', gaTrack: true, gaId: 'UA-106188025-1'}, 'google_translate_element');
							}
							</script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit" defer></script>
							        
							<!-- -->
						</div>
					</div>
					<div class="row">
						<div class="col-sm-8 col-sm-offset-3">
							<span class="tagline">{{ footer.tagline }}</span>
							<div class="ftr-social">
								{% for block in footer.socialMediaLinks.all() %}
									{% if block.type == "twitter" %}
								  	<a href="{{ block.twitterUrl }}" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
									{% elseif block.type == "linkedIn" %}
								  	<a href="{{ block.linkedInUrl }}" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
									{% elseif block.type == "instagram" %}
								  	<a href="{{ block.instagramUrl }}" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
									{% endif %}
								{% endfor %}
							</div>
						</div>	
					</div>
				</div>
				<div class="col-md-2 col-sm-12">
					<div class="location-block">
						<h3>Location</h3>
						<p>{{ footer.location }}</p>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="/js/what-input-min.js"></script>
	<script src="/js/foundation.min.js"></script>
	<script async src="https://use.fontawesome.com/06670b21ff.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<script src="/js/jquery.cycle2.min.js"></script>
	<script src="/js/jquery.cycle2.caption2.min.js"></script>
	<script src="/js/jquery.matchHeight-min.js" type="text/javascript"></script>
	<script>
    $(document).foundation();
  </script>
  <!--<script>
		var img = $(".display-doc img");
		$(".display-doc").css({width:img.width(), height:img.height()});
	</script>-->

	<script>
		$(function() {
			$('.news-block').matchHeight({
        byRow: true,
	    });
	    $('.person-block').matchHeight({
        byRow: true,
	    });
	    $('.focus-project').matchHeight({
        byRow: true,
	    });
	    $('.index-block').matchHeight({
        byRow: true,
	    });
		});
	</script>
	<script>
	window.setTimeout(function(){
    $("#twitter-widget-0").contents().find(".Identity-screenName").css("color","#fff");
    $("#twitter-widget-0").contents().find(".timeline-Tweet").css("color","#fff");
    $("#twitter-widget-0").contents().find(".timeline-Tweet-retweetCredit").css("color","#fff");
    
  }, 1000);

	</script>
	<script>

		(function($) {

		  $.fn.visible = function(partial) {
		    
		      var $t            = $(this),
		          $w            = $(window),
		          viewTop       = $w.scrollTop(),
		          viewBottom    = viewTop + $w.height(),
		          _top          = $t.offset().top,
		          _bottom       = _top + $t.height(),
		          compareTop    = partial === true ? _bottom : _top,
		          compareBottom = partial === true ? _top : _bottom;
		    
		    return ((compareBottom <= viewBottom) && (compareTop >= viewTop));

		  };
		    
		})(jQuery);

		var win = $(window);

		var caption = $(".feature-img-caption");

		//Slide in caption for feature image from left
		win.scroll(function(event) {
		  
		  caption.each(function(i, el) {
		    var el = $(el);
		    if (el.visible(true)) {
		      el.addClass("come-in-left"); 
		    } 
		  });
		  
		});

		//Change image in background on focus areas section on homepage
		 $("#focusOne").hover(
		     function () {
		         $('.focus-images').css("background-image", "url(/assets/images/banners/watershed-management.jpg)");
		     }, 
		     function () {
		         $('.focus-images').css("background-image", "url(/assets/images/banners/watershed-management.jpg)");
		    }
		 );

		$("#focusTwo").hover(
		    function () {
		        $('.focus-images').css("background-image", "url(/assets/images/banners/community-resiliency-2.jpg)");
		    }, 
		    function () {
		        $('.focus-images').css("background-image", "url(/assets/images/banners/community-resiliency-2.jpg)");
		    }
		);

		$("#focusThree").hover(
		    function () {
		        $('.focus-images').css("background-image", "url(/assets/images/banners/rivers-and-coast.jpg)");
		    }, 
		    function () {
		        $('.focus-images').css("background-image", "url(/assets/images/banners/rivers-and-coast.jpg)");
		    }
		);

		$("#focusFour").hover(
		    function () {
		        $('.focus-images').css("background-image", "url(/assets/images/banners/ecosystem.jpg)");
		    }, 
		    function () {
		        $('.focus-images').css("background-image", "url(/assets/images/banners/ecosystem.jpg)");
		    }
		);

		$("#focusFive").hover(
		    function () {
		        $('.focus-images').css("background-image", "url(/assets/images/banners/modeling.jpg)");
		    }, 
		    function () {
		        $('.focus-images').css("background-image", "url(/assets/images/banners/modeling.jpg)");
		    }
		);

		$("#focusSix").hover(
		    function () {
		        $('.focus-images').css("background-image", "url(/assets/images/banners/banner-resized.jpg)");
		    }, 
		    function () {
		        $('.focus-images').css("background-image", "url(/assets/images/banners/banner-resized.jpg)");
		    }
		);

		var hider= $(".more"); 
		var height= $(hider).height();
		var trigger = $("#readMore");

		$(hider).children().each(function() {

			if ( $(this).height() > height) {
			    $('.read-more-btn').addClass('show');
			}
			if ( $(this).height() < height) {
			    $('.more').addClass('short');
			}

		});

		//Add expand/collapse functionality to list of work on team member page
		$(document).ready(function () {
		  $('.read-more-btn').data("expanded",false);
		  $(".read-more-btn").click(function () {
		      var val = $(this).data('expanded');
		      $(this).data('expanded', !val);
		      $('p', this).html(val ? "See More Work <i class='fa fa-angle-down'></i>" : "See Less Work <i class='fa fa-angle-down'></i>");
		      $(".more",$(this).closest('.row')).animate({
		          height: val ? '220' : "100%"
		      });
		  });
		});

	</script>
	<!--<script>
		$(document).ready(function() {
		  $('.display-doc').each(function() {
		    var $this = $(this),
		      $img = $this.find('img');

		      $img.load(function(){
		         var w = $this.find('img').width();
		         var h = $this.find('img').height();
		         $this.width(w).height(h)
		      });
		  });
		});
	</script>-->
	<script>
	//Typekit script
	  (function(d) {
	    var config = {
	      kitId: 'qqz7naz',
	      scriptTimeout: 3000,
	      async: true
	    },
	    h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
	  })(document);
	</script>
</body>
</html>
