{% extends "_layout" %}

{% block content %}

<div class="capabilities">
	<div class="top">
		<img src="/images/img-wave-pattern.png" />
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-10">
				<div class="intro">
					<h1>Capabilities</h1>
					{{ entry.body }}
				</div>
			</div>
			<div class="col-md-2">
				<div class="equipment-blurb">
		    <i class="fa fa-cogs" aria-hidden="true"></i>
	        <h3>Interested in learning about the types of equipment we use?</h3> 
	        <a href="/equipment">Click here</a>
		    </div>
			</div>
		</div>
		<div class="row">
		{% for block in entry.capability.type('singleCapability').all() %}
	    <div class="single-capability">
				<div class="number">{{ block.number }}</div>
				<div class="col-md-11 col-md-push-1 col-sm-10 col-sm-push-2">
			    <div class="row">
				    <div class="border-top"></div>
					</div>
					<div class="row">
						<div class="col-md-3 title">
							<h3>{{ block.capabilityName }}</h3>
						</div>
						<div class="col-md-9 description">
							<p>{{ block.capabilityDescription }}</p>
						</div>
			    </div>
				</div>
			</div>
		{% endfor %}
		</div>
	</div>
</div>

{% endblock %}