<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Celebration at the Water's Edge</title>
	<meta name="description" content="A celebration of the communities and cultures of South Louisiana and the science being developed at the Water Institute of the Gulf to preserve and protect them." />
	<link rel="home" href="{{ siteUrl }}" />
	<link rel="shortcut icon" href="/favicon.ico" />

		<link rel="stylesheet" href="/css/foundation.min.css" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link href="/css/animate.css" rel="stylesheet">
		<link href="/css/slider-min.css" rel="stylesheet">
		<link href="/css/style.css" rel="stylesheet">
		<style>
			.cycle-slideshow {
				height: 70vh;
			}
	    @media all and (-ms-high-contrast:none) {
	    	.navbar-collapse {
	    		float: none;
	    	}
		    .cycle-overlay {
	        animation: none;
	        opacity: 1;
	        transform: none;
		    }
		    .cycle-overlay div {
	        font-size: 5rem;
		    }
	    }
      @supports (-ms-ime-align:auto) {
		    .cycle-overlay {
	        animation: none;
	        opacity: 1;
	        transform: none;
		    }
		    .cycle-overlay div {
	        font-size: 5rem;
		    }
			}
	  </style>

		
    <!--[if IE ]>
			<link rel="stylesheet" type="text/css" href="/css/ie.css" />
		<![endif]-->

		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
</head>
<body class="celebration">

{% block content %}
<div id="content-anchor"></div>
<div id="sticky-phantom">This turns sticky</div>
<!-- <div id="sticky">
	<noscript><a href="https://www.eventbrite.com/e/celebration-at-the-waters-edge-tickets-43177712701" rel="noopener noreferrer" target="_blank"></noscript>
	<button id="eventbrite-widget-modal-trigger-43177712701" class="ticket-button" type="button">Purchase Tickets</button>
	<noscript></a>Buy Tickets on Eventbrite</noscript>

	<script src="https://www.eventbrite.com/static/widgets/eb_widgets.js"></script>

	<script type="text/javascript">
	    var exampleCallback = function() {
	        console.log('Order complete!');
	    };

	    window.EBWidgets.createWidget({
	        widgetType: 'checkout',
	        eventId: '43177712701',
	        modal: true,
	        modalTriggerElementId: 'eventbrite-widget-modal-trigger-43177712701',
	        onOrderComplete: exampleCallback
	    });
	</script>
</div> -->
	<div class="top-image">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="top-wrapper">
						<div class="logo">
							<img src="../images/img-celebration-logo.png" width="500">
						</div>
						<div class="date-time">
							<!--<h2 class="date">04 <span class="dot"></span> 21 <span class="dot"></span> 18</h2>-->
							<h2 class="date"><span>FALL</span> 2018 <span>TBD</span></h2>
							<span class="divider-container"><span class="divider"></span></span>
							<h2 class="time">7<span class="dash"></span>10</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="description-wrapper">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="preserve-protect">
						<span class="horiz-line"></span>
						<h3>Preserve and Protect</h3>
						<span class="horiz-line"></span>
						<div class="description line-one"><p>A celebration of the communities and cultures </p><p class="script">A celebration of the communities and cultures </p></div>
						<div class="description line-two"><p>of South Louisiana and the science</p><p class="script">of South Louisiana and the science</p></div>
						<div class="description line-three"><p>being developed at the Water Institute of the Gulf </p><p class="script">being developed at the Water Institute of the Gulf </p></div>
						<div class="description line-four"><p>to preserve and protect them.</p><p class="script">to preserve and protect them.</p></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="background-blue">
		<div class="ticket-wrapper">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="ticket-info">
							<h3>DETAILS</h3>
							<p>The program will include Louisiana cuisine and music, a live auction, and a special presentation from the Institute.</p>
							<strong>The New Center for Coastal and Deltaic Solutions on Baton Rouge’s Water Campus</strong>
							<p>1110 River Road S.<br>
								Baton Rouge, Louisiana 70802 </p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="sponsorships">
						<h3>Sponsorships</h3>
						<p>For sponsorhip opportunities please contact Amy Wold at <a href="mailto:amy@thewaterinstitute.org">amy@thewaterinstitute.org</a> or <a href="tel:+12252272723">225-227-2723</a>.<!--<br> Download our <a href="/assets/docs/generalDocuments/Celebration-at-the-waters-edge-sponsorship-opportunities.pdf">sponsorship brochure</a> for more details.--></p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 lets-celebrate">
					<img src="images/img-balloons-floating.png" width="90">
					<h4>Let's Celebrate</h4>
				</div>
			</div>
		</div>
	</div>

{% endblock %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="/js/what-input-min.js"></script>
	<script src="/js/foundation.min.js"></script>
	<script async src="https://use.fontawesome.com/06670b21ff.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<script src="/js/jquery.cycle2.min.js"></script>
	<script src="/js/jquery.cycle2.caption2.min.js"></script>
	<script src="/js/jquery.matchHeight-min.js" type="text/javascript"></script>
	<script>
    $(document).foundation();
  </script>

	<script>

		function sticky_relocate() {
      var window_top = $(window).scrollTop();
      var div_top = $('#content-anchor').offset().top;
      if (window_top > div_top) {
        $('#sticky').addClass('stick');
        $('#sticky-phantom').show();
      } else {
        $('#sticky').removeClass('stick');
        $('#sticky-phantom').hide();
      }
    }

    $(function () {
      $(window).scroll(sticky_relocate);
      sticky_relocate();
    });
    
	//Typekit script
	  (function(d) {
	    var config = {
	      kitId: 'qqz7naz',
	      scriptTimeout: 3000,
	      async: true
	    },
	    h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
	  })(document);
	</script>
</body>
</html>
