{% extends "_layout" %}
{% set title = entry.title %}

{% block content %}

<div class="project summary">
	<div class="top-bg">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="breadcrumbs pull-right">
						{% if craft.app.request.segments %}
						<nav class="breadcrubs">
						    <div class="container">
						        <div class="row">
						            <ol class="breadcrumb">
						                <li><a href="{{ siteUrl }}">Home</a></li>
						                {% for crumb in entry.getAncestors().all() %}
						                    <li>{{ crumb.getLink() }}</li>
						                {% endfor %}
						                <li>{{ entry.title }}</li>
						            </ol>
						        </div>
						    </div>
						</nav>
						{% endif %}
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-10">
					{% if entry.clientName | length %}
					<h2>{{ entry.clientName }}</h2>
					{% endif %}
					<h1>{{ entry.title }}</h1>
					{% if entry.subtitle | length %}
					<h3 class="subtitle">{{ entry.subtitle }}</h3>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			{% set keyTeamMembers = craft.entries.section('ourTeam').relatedTo(entry) %}
			{% if not keyTeamMembers | length %}
			<div class="col-md-12 project-explanation">
			{% else %}
			<div class="col-md-8 project-explanation">
			{% endif %}
				{% if entry.duration | length %}
				<div class="duration">Duration: {{ entry.duration }}</div>
				{% endif %}
				{% if entry.documentAuthor | length %}
				<p class="author"><span>Author(s):</span> {{ entry.documentAuthor }}</p>
				{% endif %}
				<div class="intro">{{ entry.summary }}</div>
				<div class="related-documents">
				{% if entry.reportDocuments | length %}
				<h3>Related Documents</h3>
					{% for asset in entry.reportDocuments.all() %}
						<a class="download-lnk" href="{{ asset.url }}" target="_blank">{{ asset.title }}<i class="fa fa-download" aria-hidden="true"></i></a>
					{% endfor %}
				{% endif %}
				</div>
			</div>
			<div class="col-md-4">
				{% if keyTeamMembers | length %}
				<div class="related-block">
					<h4>KEY TEAM MEMBERS</h4>
					{% set primaryAuthors = craft.entries.section('ourTeam').relatedTo({
					    sourceElement: entry,
					    field: 'primaryTeamMembers'
					}) %}
			    {% for entry in primaryAuthors.all() %}
			    	<div class="related-item">
				    	<img src="{{ entry.bioPhoto.one.url }}" width="80" />
				    	<div>
			        	<a href="{{ entry.url }}">{{ entry.title }}</a>
			        	<p>{{ entry.teamMemberTitle }}</p>
			        	<span class="primary-author">Primary Author</span>
			        	<a href="{{ entry.url }}" class="view-more">VIEW TEAM MEMBER <i class="fa fa-angle-right" aria-hidden="true"></i></a>
			        </div>
		        </div>
			    {% endfor %}
			    {% set contributingAuthors = craft.entries.section('ourTeam').relatedTo({
					    sourceElement: entry,
					    field: 'contributingTeamMembers'
					}) %}
			    {% for entry in contributingAuthors.all() %}
			    	<div class="related-item">
				    	<img src="{{ entry.bioPhoto.one.url }}" width="80" />
				    	<div>
			        	<a href="{{ entry.url }}">{{ entry.title }}</a>
			        	<p>{{ entry.teamMemberTitle }}</p>
			        	<a href="{{ entry.url }}" class="view-more">VIEW TEAM MEMBER <i class="fa fa-angle-right" aria-hidden="true"></i></a>
			        </div>
		        </div>
			    {% endfor %}
			  </div>
			  {% endif %}
			</div>
		</div>
	</div>
</div>

{% endblock %}