{% extends "_layout" %}
{% set title = "Reports" %}

{% block content %}
<div class="container reports index">
	<div class="row">
		<div class="col-sm-12">
			<div class="breadcrumbs pull-right">
				{% if craft.app.request.segments %}
				<nav class="breadcrubs">
			    <div class="container">
		        <div class="row">
	            <ol class="breadcrumb">
                <li><a href="{{ siteUrl }}">Home</a></li>
                {% for crumb in entry.getAncestors().all() %}
                  <li>{{ crumb.getLink() }}</li>
                {% endfor %}
                <li>{{ entry.title }}</li>
	            </ol>
		        </div>
			    </div>
			</nav>
			{% endif %}
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 index-top">
			<div class="descr">
				{{ entry.body }}
			</div>
		</div>
	</div>
	<div class="search">
		<div class="row">
			<form action="{{ url('/reports/reports_results') }}" method="get">

			  {# get all entries to display only the categories related to entries #}
			  {% set reportsAllEntries = craft.entries.section('reports').limit(null).all() %}
			  {# search field #}
			  <div class="col-sm-4">
			  	<input type="search" name="q" placeholder="Search project title">
			  </div>

			  {# themes categories #}
			  {% set reportsTeamMembers = craft.entries.section('ourTeam').type('teamMember').relatedTo(reportsAllEntries).all() %}
			  <div class="col-sm-4">
			  {% for teamMember in reportsTeamMembers %}
			  
		    	{% if loop.first %}<select name="member">{% endif %}
		      {% if loop.first %}<option value="">Choose a team member</option>{% endif %}

		      {# if already a 'theme' parameter in the URL, select the corresponding theme category in the dropdown #}
		      {% set memberCategory = craft.app.request.getParam('member') %}
		      {% set memberActive = (memberCategory == entry.slug) ? 'selected' : '' %}
		      <option value="{{ teamMember.slug }}" {{ memberActive }}>{{ teamMember.title }}</option>

			    {% if loop.last %}</select>{% endif %}
			  {% endfor %}
			  </div>
			  <div class="col-sm-4">
			  	<input type="submit" value="search">
			  </div>
			</form>
		</div>
	</div>
	{% set reports = craft.entries({
	  section: 'reports',
	  type: 'reportSummary',
	}).id('not ' ~ entry.id) %}
	{% for row in reports|batch(2) %}
    <div class="row">
      {% for entry in row %}
        <div class="col-sm-6">
					<div class="index-block">
						<h4 class=""><a href="{{ entry.url }}">{{ entry.title }}</a></h4>
						<p class="">{{ entry.summary|striptags|slice(0,150)|default('Read more') }}...</p>
						<a href="{{ entry.url }}" class="project-link">View Publication <i class="fa fa-angle-right" aria-hidden="true"></i></a>
					</div>
				</div>
      {% endfor %}
    </div>
	{% endfor %}
</div>
{% endblock %}
