{% extends "_layout" %}
{% set title = "Media" %}

{% block content %}
<div class="media landing">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="breadcrumbs pull-right">
					{% if craft.request.segments %}
					<nav class="breadcrubs">
				    <div class="container">
				        <div class="row">
				            <ol class="breadcrumb">
				                <li><a href="{{ siteUrl }}">Home</a></li>
				                {% for crumb in entry.getAncestors() %}
				                    <li>{{ crumb.getLink() }}</li>
				                {% endfor %}
				                <li>{{ entry.title() }}</li>
				            </ol>
				        </div>
				    </div>
				</nav>
				{% endif %}
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 index-top">
				<h2>Media</h2>
				<div class="row">
					<div class="col-sm-4 col-md-6">
						<div class="gray-bg">
							{{ entry.body }}
						</div>
						<a href="/brand-assets" class="brand-assets">
							<img src="/images/img-brand-asset-purple.png" width="50" /> Brand Asset Guide
						</a>
					</div>
					<div class="col-sm-8 col-md-6">
						<div class="media-image"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="entries">
			<div class="group">
				<h2>Press Releases</h2>
				{% set pressReleases = craft.entries({
				  section: 'media',
				  type: 'pressRelease',
				  order: 'articleDate desc',
				}).limit(4) %}
				{% for pressRelease in pressReleases %}
					<div class="news-block clearfix">
						{% if pressRelease.featureImage | length %}
					    {% for asset in pressRelease.featureImage %}
				        <a href="{{ pressRelease.url }}"> <img src="{{ pressRelease.featureImage.first.url('articleImage') }}" />
					    {% endfor %}
						{% endif %}
						<h3 class="feature-title"><a href="{{ pressRelease.url }}">{{ pressRelease.title }}</a></h3>
						<span class="date">{{ pressRelease.articleDate | date("M j, Y") }}</span>
						<p class="feature-intro">{{ pressRelease.body|striptags|slice(0,150)|default('Read more') }}... </p>
					</div>
				{% endfor %}
				<a href="/media/press-releases" class="download-lnk">View All Press Releases <i class="fa fa-angle-right" aria-hidden="true"></i></a>
			</div>
			<div class="group">
				<h2>In the News</h2>
				{% set inTheNews = craft.entries({
				  section: 'media',
				  type: 'inTheNews',
				  order: 'articleDate desc',
				}).limit(4) %}
				{% for newsArticle in inTheNews %}
					<div class="news-block clearfix">
						{% if newsArticle.articleImage | length %}
					    {% for asset in newsArticle.articleImage %}
					      <div class="article-image"><a href="{{ newsArticle.url }}"><img src="{{ newsArticle.articleImage.first.url('articleImage') }}" /></a></div>
					    {% endfor %}
						{% endif %}
						<h3 class="feature-title"><a href="{{ newsArticle.url }}">{{ newsArticle.title }}</a></h3>
						<span class="date">{{ newsArticle.articleDate | date("M j, Y") }}</span>
						<p class="feature-intro">{{ newsArticle.body|striptags|slice(0,150)|default('Read more') }}... </p>
					</div>
				{% endfor %}
				<a href="/media/in-the-news" class="download-lnk">View All News Articles <i class="fa fa-angle-right" aria-hidden="true"></i></a>
			</div>
		</div>
	</div>
</div>
{% endblock %}
