{% extends "_layout" %}
{% set title = entry.title %}

{% block content %}

<div class="team-member detail">
	<div class="top-bg">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="breadcrumbs pull-right">
						{% if craft.app.request.segments %}
						<nav class="breadcrubs">
					    <div class="container">
				        <div class="row">
			            <ol class="breadcrumb">
		                <li><a href="{{ siteUrl }}">Home</a></li>
		                {% for crumb in entry.getAncestors().all() %}
	                    <li>{{ crumb.getLink() }}</li>
		                {% endfor %}
		                <li>{{ entry.title }}</li>
			            </ol>
				        </div>
					    </div>
						</nav>
						{% endif %}
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 col-sm-4">
					<div class="team-member-photo">
						{% if entry.bioPhoto | length %}
					    {% for asset in entry.bioPhoto %}
				        <img src="{{ asset.url }}">
					    {% endfor %}
						{% endif %}
					</div>
				</div>
				<div class="col-md-9 col-sm-8 no-contact">
					<h2>{{ entry.title }}</h2>
					<h3>{{ entry.teamMemberTitle }}</h3>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<article>
					{{ entry.body }}
				</article>
			</div>
		</div>
	</div>
</div>

{% endblock %}
