{#
 # Team Member entry template
 # -------------------
 #
 # This template gets loaded whenever a Technical Team Member entry’s URL is
 # requested. That’s because the Technical Team section’s Template setting is
 # set to “technical-team/_entry”, the path to this template.
 #
 # When this template is loaded, it will already have an ‘entry’
 # variable, set to the requested News entry.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layout" %}
{% set title = entry.title %}

{% block content %}

<div class="brand-assets">
	<div class="top-bg">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="breadcrumbs pull-right">
						{% if craft.request.segments %}
						<nav class="breadcrubs">
					    <div class="container">
				        <div class="row">
			            <ol class="breadcrumb">
		                <li><a href="{{ siteUrl }}">Home</a></li>
		                <li>{{ entry.title() }}</li>
			            </ol>
				        </div>
					    </div>
						</nav>
						{% endif %}
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4 col-sm-6">
					<div class="logo-wrapper">
						<img src="/images/twig-logo-primary.png" />
					</div>
				</div>
				<div class="col-lg-8 col-sm-6">
					<h3>Primary Logo</h3>
					<p>The primary logo for The Water Institute of the Gulf should always be used when full-color digital printing options are available as long as the logo stands without significant contrasting elements behind it.</p>
					<a href="/images/twig-logo-primary.png" class="btn-primary" download>DOWNLOAD PRIMARY LOGO</a>
					<a href="/assets/docs/TWIG_BrandAssets.pdf" class="btn-primary" download>DOWNLOAD BRAND ASSETS PDF <i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-sm-4">
				<div class="logo-wrapper dark-bg">
					<img src="/images/twig-logo-dark-bg.png" />
				</div>
				<div class="logo-desc">
					<h3>Dark Background Logo Variation</h3>
					<p>This logo variation is recommended when the logo is placed on top of an image that would interfere with its legibility, or can be used as a stylistic choice.</p>
					<a href="/images/twig-logo-dark-bg.png" class="btn-primary" download>DOWNLOAD DARK BACKGROUND LOGO</a>
				</div>
			</div>
			<div class="col-sm-8">
				<div class="row">
					<div class="col-sm-6">
						<div class="logo-wrapper blue-bg">
							<img src="/images/twig-logo-white.png" />
						</div>
					</div>
					<div class="col-sm-6">
						<div class="logo-wrapper clearwater-bg">
							<img src="/images/twig-logo-brown.png" />
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12 logo-desc">
						<h3>One-Color Logo Variation</h3>
						<p>The one-color variation should be used when the logo is produced as a tertiary element, or is produced on a small scale that does not justify full-color options. The logo should be placed on a background that gives enough contrast between the logo and the background.</p>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6">
						<a href="/images/twig-logo-white.png" class="btn-primary" download>DOWNLOAD ONE-COLOR WHITE LOGO</a>
					</div>
					<div class="col-sm-6">
						<a href="/images/twig-logo-brown.png" class="btn-primary" download>DOWNLOAD ONE-COLOR BROWN LOGO</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}
