{% extends "_layout" %}
{% set title = "Contact" %}

{% block content %}
<div class="contact">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="breadcrumbs pull-right">
					{% if craft.request.segments %}
					<nav class="breadcrubs">
				    <div class="container">
				        <div class="row">
				            <ol class="breadcrumb">
				                <li><a href="{{ siteUrl }}">Home</a></li>
				                {% for crumb in entry.getAncestors() %}
				                    <li>{{ crumb.getLink() }}</li>
				                {% endfor %}
				                <li>{{ entry.title() }}</li>
				            </ol>
				        </div>
				    </div>
				</nav>
				{% endif %}
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 index-top">
				<h2>Contact</h2>
				<div class="row">
					<div class="col-sm-4 col-md-6">
						<div class="gray-bg">
							{{ entry.body }}
							<div class="ftr-social">
								{% for block in footer.socialMediaLinks %}
									{% if block.type == "linkedIn" %}
								  	<a href="{{ block.linkedInUrl }}" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
									{% elseif block.type == "twitter" %}
								  	<a href="{{ block.twitterUrl }}" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
									{% elseif block.type == "instagram" %}
								  	<a href="{{ block.instagramUrl }}" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
									{% endif %}
								{% endfor %}
							</div>
						</div>
					</div>
					<div class="col-sm-8 col-md-6">
						<div class="contact-image"></div>
					</div>
				</div>
				<div class="google-maps">
					<iframe src="https://snazzymaps.com/embed/13917" width="100%" height="513px" style="border:none;"></iframe>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
