{% extends "_layout" %}

{% block content %}

<div class="equipment">
	<div class="top">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-sm-4">
					<h1>Equipment</h1>
					<div class="intro">
						<p>{{ entry.equipmentIntro }}</p>
					</div>
				</div>
				<div class="col-md-6 col-sm-8">
					{% if entry.featureImage | length %}
	        	<img src="{{ entry.featureImage.first.url }}" />
	        {% endif %}
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="equipment-block">
					<img src="/images/img-field.png" width="70" />
					{{ entry.fieldEquipment }}
				</div>
			</div>
			<div class="col-md-6">
				<div class="equipment-block">
					<img src="/images/img-labratory.png" width="70" />
					{{ entry.laboratoryEquipment }}
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}