{#
 # Homepage template
 # ---------------
 #
 # When this template gets loaded, it will be because someone has accessed
 # http://yoursite.com/ (without any URI). Craft checks to see if you have
 # a Single section set to be the Homepage (as you do, by default), and
 # loads the section’s Template (this file). A special ‘entry’ variable
 # will already be set for you, assigned to the Homepage entry.
 #
 # It's worth noting that even if you didn't have a Homepage Single section,
 # as long as this template remains at craft/templates/index.html, it
 # would still be the one to get loaded when accessing http://yoursite.com/,
 # albeit without an ‘entry’ variable already set for you.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layout" %}


{% block content %}
		<div class="container-fluid slider">
			<div class="row">
				
				<div class="cycle-slideshow" data-cycle-fx=scrollHorz data-cycle-timeout=0 data-cycle-pager="#custom-pager" data-cycle-pager-template="<div class='pager-block'><a href=#></a></div>" 
				data-cycle-slides="> figure" data-cycle-caption-plugin=caption2 data-cycle-caption=".cycle-overlay" data-cycle-caption-template="">
    			<div class="cycle-overlay fadeInUp animated"></div>
    			{% for block in entry.sliderImage %}
		    	{% if block.type == "slide" %}
		        {% set image = block.image.first() %}
		        {% set transformedImage = craft.imager.transformImage(image, { width: 1400 }) %}
		        {% if image %}
		        <figure class="img-slide" data-interchange="[{{ transformedImage.url }}, small], [{{ transformedImage.url }}, large]" data-cycle-title="{% if block.caption | length %}{{ block.caption }}{% endif %}" data-cycle-desc="<a href='{% if block.slideLink | length %}{{ block.slideLink }}'>Read More</a>{% endif %}"></figure>
		        {% endif %}
		      {% endif %}
		      {% endfor %}
					<div class="cycle-prev"></div>
		   		<div class="cycle-next"></div>
		   		<div id="custom-pager" class="center"></div>
				</div>
			</div>
		</div>
		<div class="container-fluid intro">
			<div class="row">
				<div class="col-sm-12">
					<div class="section-label">ABOUT</div>
					<div class="about-text">
							<h2>{{ entry.introTitle }}</h2>

							{{ entry.body }}

						<a href="/about"><i class="fa fa-angle-right" aria-hidden="true"></i> VISIT OUR ABOUT PAGE</a>
					</div>
				</div>
			</div>
		</div>
		<section class="about container-fluid">
			<div class="row">
				<div class="col-sm-12">
					<div class="quote-wrapper">
						<div class="quote-box">
							<h2>{{ entry.quoteTitle }}</h2>
							<div class="quotee">
								{% if entry.quoteeSignature | length %}
							    {% for asset in entry.quoteeSignature %}
										<img src="{{ asset.url }}">
							    {% endfor %}
								{% endif %}
								<div id="name">
									<strong>{{ entry.quotee }}</strong>
									<span>{{ entry.quoteeTitle }}</span>
								</div>
							</div>
							<div class="quote-text">
								<p>{{ entry.quote }}</p>
							</div>
						</div>
					</div>
					<div class="focus-areas">
						<div class="focus-images"></div>
						<div class="focus-content">
							<h3>Our Focus Areas</h3>
							<ul>

								<li id="focusOne"><a href="/focus-areas/integrated-watershed-management">Integrated Watershed Management</a></li>

								<li id="focusTwo"><a href="/focus-areas/community-resilience">Resilient Communities</a></li>
								
								<li id="focusThree"><a href="/focus-areas/coastal-deltaic-dynamics">Dynamics of Rivers, Deltas and Coasts</a></li>
								
								<li id="focusFour"><a href="/focus-areas/coastal-adaptation">Ecosystem-based Management</a></li>
								
								<li id="focusFive"><a href="/focus-areas/natural-systems-modeling">Human and Natural Systems Modeling</a></li>

							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<div class="feature-img">
						{% if entry.homepageFeatureImage | length %}
					    {% for asset in entry.homepageFeatureImage %}
					    {% set transformedImage = craft.imager.transformImage(asset, { width: 690 }) %}
								<img src="{{ transformedImage.url }}">
							{% endfor %}
						{% endif %}


						<div class="feature-img-caption">
							{{ entry.homepageFeatureImageCaption }}
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="sign-up">
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-12">
						<div class="section-label">SIGN UP</div>
						<div class="sign-up-box">
							<h3>Want to Know More About the Water Institute?</h3>
							<!-- <form class="form-inline clearfix" id="newsletter-signup">
			          <input type="hidden" name="listIDList" value="1">
			          <div class="form-group">
			            <input type="text" placeholder="Enter your email address..." name="email" autocomplete="off">
			          </div>
			          <a class="btn btn-secondary" href="#" role="button" id="btn-sign-up"><img src="/images/img-arrow.png"></a>
			        </form>  -->
			        <div>
			        	<script type="text/javascript" src="https://signup.e2ma.net/tts_signup/1856804/d7aea085a66955d558c4f3d4d324f480/1750415/"></script><div id="load_check" class="signup_form_message" >This form needs Javascript to display, which your browser doesn't support. <a href="https://signup.e2ma.net/signup/1856804/1750415/"> Sign up here</a> instead </div><script type="text/javascript">signupFormObj.drawForm();</script>
			        </div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="tiles container-fluid">
			<div class="row">
				<div class="col-sm-12">
					<div class="section-label">MAKING WAVES</div>
					<div class="tiles-cont">
						<div class="feature-story row">
							{% set makingWavesArticles = craft.entries({
							  section: 'makingWaves',
							  limit: 1,
							  type: 'makingWavesArticle',
							  order: 'postDate desc', 
							}) %}
								{% for entry in makingWavesArticles %}
								{% for block in entry.articleBody %}
				      	  {% if block.type == "image" %}
					        	{% set image = block.image.first() %}
					        	{% if image %}
					        	<div class="img-cont col-sm-12" style="background-image: url({{ image.url }});"></div>
									 	{% endif %}
									{% endif %}
								{% endfor %}
								
								<div class="text-cont col-sm-12">
									<div class="tile-title">
										<h5>Feature</h5>
									</div>
									<h4><a href="{{ entry.url }}">{{ entry.title }}</a></h4>
									{% for block in entry.articleBody %}
					      	  {% if block.type == "text" %}
										 	<p class="teaser">{{ block.articleText|striptags|slice(0,250)|default('Read more') }}...</p>
										{% endif %}
									{% endfor %}
									<a href="{{ entry.url }}" class="btn-primary">Read Full Article</a>
								</div>
							{% endfor %}
						</div>
						<div class="row">
							<div class="col-sm-4 tile-thirds social">
								<div class="">
									<div class="tile-title">
										<h5>Social</h5>
									</div>
									<a class="twitter-timeline"
									data-height="250"
									href="https://twitter.com/TheH2OInstitute"
									theme="dark"
									data-chrome="nofooter noheader noborders transparent"
									data-tweet-limit="1"
									data-link-color="#cce6ed"></a> 
									<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
								</div>
							</div>
							<div class="col-sm-4 tile-thirds report">
								<div class="">
									{% set makingWavesFeaturePRP = craft.entries.section(['reports', 'publications', 'projects']).makingWavesFeature('1').limit(1).order('postDate desc') %}
									{% for entry in makingWavesFeaturePRP %}
										{% if entry.projectPhoto | length %}
									    {% for asset in entry.projectPhoto %}
									    {% set transformedImage = craft.imager.transformImage(asset, { width: 460 }) %}
										    <div class="image-cont">
													<div class="feature-image" style="background-image: url({{ transformedImage.url }});"></div>
												</div>
									    {% endfor %}
										{% endif %}
										<div class="tile-title">
											{% if entry.type.handle == 'reportSummary' %}<h5>Report</h5>
											{% elseif entry.type.handle == 'projectSummary' %}<h5>Project</h5>
											{% elseif entry.type.handle == 'publicationSummary' %}<h5>Publication</h5>
											{% endif %}
										</div>
										{% if entry.type.handle == ['reportSummary', 'publicationSummary'] %}
											<a href="{{ entry.url }}" class="title">{{ entry.title }}</a>
											{% elseif entry.type.handle == 'projectSummary' %}
											<a href="{{ entry.url }}" class="title">{{ entry.projectName }}</a>
										{% endif %}
										<p class="teaser">
											{% if entry.summary | length %}
												{{ entry.summary|striptags|slice(0,150)|default('Read more') }}...
											{% elseif entry.challenge | length %}
												{{ entry.challenge|striptags|slice(0,150)|default('Read more') }}...
											{% endif %}
										</p>
										{% if entry.type.handle == 'reportSummary' %}<a href="{{ entry.url }}" class="btn-primary">Read Full Report</a>
										{% elseif entry.type.handle == 'projectSummary' %}<a href="{{ entry.url }}" class="btn-primary">Read Full Project</a>
										{% elseif entry.type.handle == 'publicationSummary' %}<a href="{{ entry.url }}" class="btn-primary">Read Full Publication</a>
										{% endif %}
									{% endfor %}
								</div>
							</div>
							<div class="col-sm-4 tile-thirds news">
								<div class="">
								{% set makingWavesFeatureMedia = craft.entries.section('media').makingWavesFeature('1').limit(1) %}
								{% for entry in makingWavesFeatureMedia %}
								{% if entry.type.handle == 'inTheNews' %}
									{% if entry.articleImage | length %}
										{% for asset in entry.articleImage %}
										{% set transformedImage = craft.imager.transformImage(asset, { width: 460 }) %}
										<div class="image-cont">
											<div class="feature-image" style="background-image: url({{ transformedImage.url }});"></div>
										</div>
								    {% endfor %}
									{% endif %}
									<div class="tile-title">
										<h5>News</h5>
									</div>
									<a href="{{ entry.url }}" class="title">{{ entry.title }}</a>
									<p class="teaser">
										{{ entry.body|striptags|slice(0,150)|default('Read more') }}...
									</p>
									<a href="{{ entry.url }}" class="btn-primary">Read Full Story</a>
								{% endif %}
								{% endfor %}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
{% endblock %}
