{% extends "_layout" %}
{% set title = "Thank You" %}

{% block content %}
<div class="contact">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				{{ entry.body }}
			</div>
		</div>
	</div>
</div>
{% endblock %}
