{% extends "_layout" %}
{% set title = entry.title %}

{% block content %}
<div class="focus-area">
	{% if entry.bannerImage | length %}
		{% for asset in entry.bannerImage.all() %}
		<div class="top" style="background-image: url({{ asset.url}});">
		{% endfor %}
	{% else %}
	<div class="top" style="background-image: url(/images/img-watershed-management-top.jpg);">
	{% endif %}
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<h2>Focus Area</h2>
					<h1>{{ entry.title }}</h1>
				</div>
			</div>
		</div>
	</div>
	<div class="intro-sidebar">
		<div class="container">
			<div class="row">
				<div class="col-sm-9 focus-explanation">
					<div class="intro">
						{{ entry.descriptionTop }}
					</div>
				</div>
				<div class="col-sm-3 focus-related">
					<h4>See Also</h4>
					{% set relatedFocusAreas  = craft.entries.section('focusAreas').relatedTo({
					  sourceElement: entry,
					}) %}
					{% if relatedFocusAreas | length %}
					<ul>
						{% for focusArea in relatedFocusAreas.all() %}
						<li><a href="{{ focusArea.url }}">{{ focusArea.title }}</a></li>
						{% endfor %}
					</ul>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		{% if entry.featureImage | length %}
			{% for asset in entry.featureImage.all() %}
			<div class="focus-image" style="background-image: url({{ asset.url }});"></div>
			{% endfor %}
		{% endif %}
		<div class="row">
			<div class="col-sm-12 explanation-cont">
				{{ entry.descriptionContinued }}
			</div>
		</div>
	</div>
	<div class="focus-projects">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<h3>Key Projects</h3>
					{% set keyProjects  = craft.entries.section('projects').relatedTo({
					  sourceElement: entry,
					}) %}
					<div class="row">
					{% if keyProjects | length %}
						{% for project in keyProjects.all() %}
						<div class="col-sm-4">
							<div class="focus-project">
								{% if project.projectPhoto | length %}
								<div class="image" style="background-image: url({{ project.projectPhoto.one.url}});"></div>
								{% endif %}
								<div class="project-lnk"><a href="{{ project.url }}"><i class="fa fa-link" aria-hidden="true"></i></a></div>
								<div class="text">
									<a href="{{ project.url }}">{{ project.title }}</a>
									<p>{{ project.challenge|striptags|slice(0,120)|default('Read more') }}...</p>
								</div>
							</div>
						</div>
						{% endfor %}
					{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}