{% extends "_layout" %}
{% set title = "Focus Areas" %}

{% block content %}
<div class="container focus-areas index">
	<div class="row">
		<div class="col-sm-12">
			<div class="breadcrumbs pull-right">
				{% if craft.app.request.segments %}
				<nav class="breadcrubs">
			    <div class="container">
			        <div class="row">
			            <ol class="breadcrumb">
			                <li><a href="{{ siteUrl }}">Home</a></li>
			                {% for crumb in entry.getAncestors().all() %}
			                    <li>{{ crumb.getLink() }}</li>
			                {% endfor %}
			                <li>{{ entry.title }}</li>
			            </ol>
			        </div>
			    </div>
			</nav>
			{% endif %}
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 index-top">
			<div class="descr">
				{{ entry.body }}
			</div>
		</div>
	</div>
	<h3>Research and Focus Areas Overview</h3>
	{% set focusAreas = craft.entries({
	  section: 'focusAreas',
	  type: 'focusArea',
	}).id('not ' ~ entry.id) %}

	{% set entries = focusAreas.all() %}

	{% for row in entries|batch(2) %}
    <div class="row">
      {% for entry in row %}
        <div class="col-sm-6">
					<div class="focus-areas-block">
						<h3 class=""><a href="{{ entry.url }}">{{ entry.title }}</a></h3>
						<p class="">{{ entry.body|striptags|slice(0,250)|default('Read more') }}...</p>
					</div>
				</div>
      {% endfor %}
    </div>
	{% endfor %}
</div>
{% endblock %}
